@model Exampler_ERP.Models.HR_EmployeeRequestTypeApproval
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    var EmployeeName = Context.Session.GetString("EmployeeName");
}
<div class="row">
    <div class="col-12">
        <input type="hidden" asp-for="EmployeeRequestTypeApprovalID" class="form-control form-control-lg" />
        <input type="hidden" asp-for="EmployeeID" class="form-control form-control-lg" />
        <input type="hidden" asp-for="Date" class="form-control form-control-lg" />
        <label class="form-label fw-bold">@Localizer["lbl_EmployeeName"]</label>
        <input type="text" class="form-control form-control-lg" value="@EmployeeName" readonly />
    </div>

    <div class="col-12">
        <label asp-for="EmployeeRequestTypeID" class="form-label fw-bold">@Localizer["lbl_EmployeeRequestType"]</label>
        <select asp-for="EmployeeRequestTypeID" asp-items="@(new SelectList(ViewBag.EmployeeRequestTypeList, "Value", "Text"))" class="form-control form-control-lg">
        </select>
        <span asp-validation-for="EmployeeRequestTypeID" class="text-danger small"></span>
    </div>

    

    <!-- Reason Field -->
    <div class="col-12">
        <label asp-for="Notes" class="form-label fw-bold">@Localizer["lbl_Note"]</label>
        <textarea asp-for="Notes" class="form-control form-control-lg" rows="4" placeholder="@Localizer["lbl_EnterRessonHere"]"></textarea>
        <span asp-validation-for="Notes" class="text-danger small"></span>
    </div>
</div>
