@model Exampler_ERP.Models.CR_ProcessTypeApprovalDetail
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    var ProcessTypeID = ViewBag.ProcessTypeID;
    var TransactionID = ViewBag.TransactionID;
    var RankID = ViewBag.RankID;
    var ProcessTypeApprovalDetailID = ViewBag.ProcessTypeApprovalDetailID;
}

<div class="modal fade" id="actionsProcessTypeApprovalModal" tabindex="-1" role="dialog" aria-labelledby="actionsProcessTypeApprovalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="actionsProcessTypeApprovalModalLabel">
                    <i class="fas fa-clipboard-check me-2"></i>Approval Process Actions
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="actionsProcessTypeApprovalForm" enctype="multipart/form-data" method="post">
                    <div class="row g-3">
                        <!-- Password Dynamic Field -->
                        <div class="col-md-6">
                            <label for="Password" class="form-label">@Localizer["lbl_Password"]</label>
                            <input type="password" class="form-control form-control-lg" id="Password" name="Password" placeholder="Enter Password" />
                        </div>

                        <!-- File Uploader -->
                        <div class="col-12 mt-4">
                            <label for="FileUpload" class="form-label">Upload File</label>
                            <div class="input-group">
                                <input type="file" class="form-control form-control-lg" id="FileUpload" name="FileUpload" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                                <label class="input-group-text" for="FileUpload">Browse</label>
                            </div>
                        </div>

                        <!-- Notes Field -->
                        <div class="col-12 mt-4">
                            <label for="Notes" class="form-label">@Localizer["lbl_Note"]</label>
                            <textarea id="Notes" name="Notes"  class="form-control form-control-lg" rows="4" placeholder="@Localizer["lbl_EnterRessonHere"]"></textarea>
                        </div>

                        <!-- Hidden Fields -->
                        <input type="hidden" id="Rank" name="Rank" value="@RankID" />
                        <input type="hidden" id="ProcessTypeID" name="ProcessTypeID" value="@ProcessTypeID" />
                        <input type="hidden" id="TransactionID" name="TransactionID" value="@TransactionID" />
                        <input type="hidden" id="ProcessTypeApprovalDetailID" name="ProcessTypeApprovalDetailID" value="@ProcessTypeApprovalDetailID" />
                        <input type="hidden" id="ProcessTypeApprovalID" name="ProcessTypeApprovalID" value="@Model.ProcessTypeApprovalID" />
                        <input type="hidden" id="Date" name="Date" value="@Model.Date" />
                        <input type="hidden" id="RoleID" name="RoleID" value="@Model.RoleID" />
                    </div>
                    
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  <i class="fas fa-times-circle"></i> @Localizer["lbl_Close"]
                  </button>
                <div>
                    <button type="button" class="btn btn-danger me-2" id="Reject">Reject</button>
                    <button type="button" class="btn btn-success" id="Approved">Approve</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on('change', '#FileUpload', function (e) {
    var fileName = document.getElementById("FileUpload").files[0].name;
    var nextSibling = e.target.nextElementSibling;
    nextSibling.innerText = fileName;
});

</script>
