@model dynamic
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    var ProcessTypeID = ViewBag.ProcessTypeID;
    var TransactionID = ViewBag.TransactionID;
}


<div class="modal fade" id="detailsProcessTypeApprovalModal" tabindex="-1" role="dialog" aria-labelledby="detailsProcessTypeApprovalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!-- Modal with increased size for better layout -->
        <div class="modal-content shadow-lg border-0 rounded-lg">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="detailsProcessTypeApprovalModalLabel">
                    <i class="fas fa-info-circle"></i> Approval Process Details
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal body with improved layout and spacing -->
            <div class="modal-body">
                <form>
                    @if (ProcessTypeID == 1)
                    {
                        <h5><i class="fas fa-user"></i> User Details</h5>
                        @Html.Partial("~/Views/HR/MasterInfo/User/_EditUser.cshtml", (Exampler_ERP.Models.CR_User)Model)
                    }
                    else if (ProcessTypeID == 2)
                    {
                        <h5><i class="fas fa-id-badge"></i> Employee Details</h5>
                        @Html.Partial("~/Views/HR/Employeement/Employee/_EditEmployee.cshtml", (Exampler_ERP.Models.HR_Employee)Model)
                    }
                    else if (ProcessTypeID == 3)
                    {
                        <h5><i class="fas fa-file-contract"></i> Contract Details</h5>
                        @Html.Partial("~/Views/HR/Employeement/Contract/_EditContract.cshtml", (Exampler_ERP.Models.HR_Contract)Model)
                    }
                    else if (ProcessTypeID == 4)
                    {
                        <h5><i class="fas fa-file-contract"></i> Contract Renewal Details</h5>
                        @Html.Partial("~/Views/HR/Employeement/ContractRenewal/_EditContractRenewal.cshtml", (Exampler_ERP.Models.HR_ContractRenewal)Model)
                    }
                    else if (ProcessTypeID == 5)
                    {
                        <h5><i class="fas fa-file-contract"></i> @Localizer["lbl_EndOfServiceDetails"]</h5>
                        @Html.Partial("~/Views/HR/HR/EndOfService/_EditEndOfService.cshtml", (Exampler_ERP.Models.HR_EndOfService)Model)
                    }
                    else if (ProcessTypeID == 6)
                    {
                        <h5><i class="fas fa-file-contract"></i> Salary Details</h5>
                        @Html.Partial("~/Views/HR/Employeement/Salary/_EditSalary.cshtml", (List<Exampler_ERP.Models.HR_SalaryDetail>)Model)
                    }
                    else if (ProcessTypeID == 7)
                    {
                        <h5><i class="fas fa-file-contract"></i> OverTime Details</h5>
                        @Html.Partial("~/Views/HR/HR/OverTime/_EditOverTime.cshtml", (Exampler_ERP.Models.HR_OverTime)Model)
                    }
                    else if (ProcessTypeID == 8)
                    {
                        <h5><i class="fas fa-file-contract"></i> Additional Allowance Details</h5>
                        @Html.Partial("~/Views/HR/HR/AdditionalAllowance/_EditAdditionalAllowance.cshtml", (Exampler_ERP.Models.HR_AdditionalAllowance)Model)
                    }
                    else if (ProcessTypeID == 9)
                    {
                        <h5><i class="fas fa-file-contract"></i> Deducation Details</h5>
                        @Html.Partial("~/Views/HR/HR/Deduction/_EditDeduction.cshtml", (Exampler_ERP.Models.HR_Deduction)Model)
                    }
                    else if (ProcessTypeID == 10)
                    {
                        <h5><i class="fas fa-file-contract"></i> Fixed Deducation Details</h5>
                        @Html.Partial("~/Views/HR/Financial/FixedDeduction/_EditFixedDeduction.cshtml", (Exampler_ERP.Models.HR_FixedDeductionDetail)Model)
                    }
                    else if (ProcessTypeID == 11)
                    {
                        <h5><i class="fas fa-file-contract"></i> Vacation Details</h5>
                        @Html.Partial("~/Views/EmployeePortal/Apply/Vacation/_EditVacation.cshtml", (Exampler_ERP.Models.HR_Vacation)Model)
                    }
                    else if (ProcessTypeID == 12)
                    {
                        <h5><i class="fas fa-file-contract"></i> Vacation Settle Details</h5>
                        @Html.Partial("~/Views/HR/HR/VacationSettle/_EditVacationSettle.cshtml", (Exampler_ERP.Models.Temp.VacationSettleViewModel)Model)
                    }
                    else if (ProcessTypeID == 13)
                    {
                        <h5><i class="fas fa-file-contract"></i> Monthly PayRoll Details</h5>
                        @Html.Partial("~/Views/HR/Financial/MonthlySalarySheet/_ViewMonthlySalarySheet.cshtml", (Exampler_ERP.Models.Temp.MonthlySalarySheetViewModel)Model)
                    }
                    else if (ProcessTypeID == 14)
                    {
                        <h5><i class="fas fa-file-contract"></i> Employee Request Details</h5>
                        @Html.Partial("~/Views/EmployeePortal/Apply/EmployeeRequest/_EditEmployeeRequest.cshtml", (Exampler_ERP.Models.HR_EmployeeRequestTypeApproval)Model)
                    }
                    else if (ProcessTypeID == 15)
                    {
                        <h5><i class="fas fa-file-contract"></i> Employee Request Details</h5>
                        @Html.Partial("~/Views/EmployeePortal/Apply/EmployeeRequest/_EditEmployeeRequest.cshtml", (Exampler_ERP.Models.HR_EmployeeRequestTypeApproval)Model)
                    }
                    else if (ProcessTypeID == 16)
                    {
                        <h5><i class="fas fa-file-contract"></i> Journal Voucher</h5>
                        @Html.Partial("~/Views/Finance/Transaction/JournalVoucher/_EditJournalVoucher.cshtml", (Exampler_ERP.Models.Temp.JournalVoucherIndexViewModel)Model)
                    }
                    else if (ProcessTypeID == 17)
                    {
                        <h5><i class="fas fa-file-contract"></i> Transfer Voucher</h5>
                        @Html.Partial("~/Views/Finance/Transaction/TransferVoucher/_EditTransferVoucher.cshtml", (Exampler_ERP.Models.Temp.TransferVoucherIndexViewModel)Model)
                    }
                    else if (ProcessTypeID == 18)
                    {
                        <h5><i class="fas fa-file-contract"></i> Payment Voucher</h5>
                        @Html.Partial("~/Views/Finance/Transaction/PaymentVoucher/_EditPaymentVoucher.cshtml", (Exampler_ERP.Models.Temp.PaymentVoucherIndexViewModel)Model)
                    }
                    else if (ProcessTypeID == 19)

                    {
                        <h5><i class="fas fa-file-contract"></i> Received Voucher</h5>
                        @Html.Partial("~/Views/Finance/Transaction/ReceivedVoucher/_EditReceivedVoucher.cshtml", (Exampler_ERP.Models.Temp.ReceivedVoucherIndexViewModel)Model)
                    }
                    else if (ProcessTypeID == 20)

                    {
                        <h5><i class="fas fa-file-contract"></i> Material Requisition</h5>
                        @Html.Partial("~/Views/Finance/Transaction/MaterialRequisition/_EditMaterialRequisition.cshtml", (Exampler_ERP.Models.Temp.ReceivedVoucherIndexViewModel)Model)
                    }
                    else if (ProcessTypeID == 21)

                    {
                        <h5><i class="fas fa-file-contract"></i> New Purchase Request</h5>
                        @Html.Partial("~/Views/Finance/Transaction/PurchaseRequest/_EditPurchaseRequest.cshtml", (Exampler_ERP.Models.Temp.ReceivedVoucherIndexViewModel)Model)
                    }
                    else if (ProcessTypeID == 22)

                    {
                        <h5><i class="fas fa-file-contract"></i> Edited Purchase Request</h5>
                        @Html.Partial("~/Views/Finance/Transaction/PurchaseRequest/_EditPurchaseRequest.cshtml", (Exampler_ERP.Models.Temp.ReceivedVoucherIndexViewModel)Model)
                    }
                    else if (ProcessTypeID == 23)

                    {
                        <h5><i class="fas fa-file-contract"></i> Approval For Purchase Order</h5>
                        @Html.Partial("~/Views/Finance/Transaction/PurchaseOrder/_EditPurchaseOrder.cshtml", (Exampler_ERP.Models.Temp.ReceivedVoucherIndexViewModel)Model)
                    }
                </form>
            </div>

            <!-- Footer with redesigned close button -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times-circle"></i> @Localizer["lbl_Close"]
                </button>
            </div>
        </div>
    </div>
</div>
<style>
    .modal-body {
    background-color: #f8f9fa;
    }



    /* Disable input interactivity and style for readonly inputs */
    .modal-body input,
    .modal-body select,
    .modal-body textarea {
    /* pointer-events: none; */
    background-color: #e9ecef;
    color: #6c757d;
    border-radius: 4px;
    border: 1px solid #ced4da;
    padding: 8px;
    }

    .modal-body h5 {
    font-size: 1.25rem;
    color: #343a40;
    margin-bottom: 15px;
    font-weight: 600;
    }
</style>
