@model Exampler_ERP.Models.Temp.ContractViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["lbl_PrintContract"];
	var contractTypesList = ViewBag.ContractTypesList as List<SelectListItem>;
	var salaryTypesList = ViewBag.SalaryTypesList as List<SelectListItem>;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@Localizer["lbl_PrintContract"]</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/super-ui@latest/dist/super-ui.min.css">
	<style>
		body {
			background-color: #f4f4f9;
			font-family: 'Arial', sans-serif;
			padding: 20px;
		}

		.card {
			border-radius: 10px;
			box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
			overflow: hidden;
			margin-bottom: 20px;
			background-color: #fff;
		}

		.card-header {
			background-color: #4caf50;
			color: white;
			padding: 15px;
			text-align: center;
		}

		.card-body {
			padding: 20px;
		}

		.section {
			margin-bottom: 20px;
			padding: 15px;
			border: 1px solid #ddd;
			border-radius: 8px;
			background-color: #f9f9f9;
		}

			.section h5 {
				margin-bottom: 15px;
				color: #333;
				font-weight: bold;
			}

		.info-row {
			/* display: flex;
													justify-content: flex-start; */
			padding: 10px 0;
			border-bottom: 1px solid #eee;
		}

		.row {
			border-bottom: 1px solid #eee;
		}

		.info-row:last-child {
			border-bottom: none;
		}

		.info-label {
			font-weight: bold;
			color: #555;
		}

		.imgs {
			border-radius: 50%;
			width: 120px; /* Set a fixed width for the profile picture */
			height: 120px; /* Set a fixed height for the profile picture */
			object-fit: cover; /* Maintain aspect ratio and cover the area */
			margin-right: 20px;
		}

		.footer {
			text-align: right;
			padding: 10px;
			background-color: #f1f1f1;
		}

		.print-button {
			background-color: #4caf50;
			color: white;
			border: none;
			padding: 10px 20px;
			border-radius: 5px;
			cursor: pointer;
			font-size: 16px;
		}

			.print-button:hover {
				background-color: #45a049;
			}
	</style>
</head>
<body style="background-color:white">
	<h5 style="text-align: center; padding-top: 35px; font-size: x-large;">
		@Localizer["lbl_ContractDetail"]
	</h5>

	
	 <div class="info-row">
		<div class="info-label">@Localizer["lbl_Picture"]: </div>
		<div>
			@if (Model.Contract.Employee.Picture != null)

			{
				<img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Contract.Employee.Picture))" alt="Employee Picture" class="imgs" />
			}

			else

			{
				<img src="~/images/default-profile.png" alt="Default Profile Picture" class="imgs" />
			}
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-4 col-lg-4">
			<div class="info-row">
				<div class="info-label">@Localizer["lbl_HireDate"]: </div>
				<div>@Model.Contract.Employee.HireDate?.ToString("dd/MM/yyyy")</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-4 col-lg-4">
			<div class="info-row">
				<div class="info-label">@Localizer["lbl_FirstName"]: </div>
				<div>@Model.Contract.Employee.FirstName</div>
			</div>
		</div>
		<div class="col-12 col-md-4 col-lg-4">
			<div class="info-row">
				<div class="info-label">@Localizer["lbl_FatherName"]: </div>
				<div>@Model.Contract.Employee.FatherName</div>
			</div>
		</div>
		<div class="col-12 col-md-4 col-lg-4">
			<div class="info-row">
				<div class="info-label">@Localizer["lbl_FamilyName"]: </div>
				<div>@Model.Contract.Employee.FamilyName</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-4 col-lg-4">
			<div class="info-row">
				<div class="info-label">@Localizer["lbl_ContractType"]:</div>
				<div>
					@{
						var contractTypeId = Model?.Contract?.ContractTypeID;
						var contractTypeText = contractTypeId.HasValue
						? contractTypesList?.FirstOrDefault(g => g?.Value == contractTypeId.Value.ToString())?.Text
						: null;
					}
					@contractTypeText 
				</div>
			</div>
		</div>

		<div class="col-12 col-md-4 col-lg-4">
			<div class="info-row">
				<div class="info-label">@Localizer["lbl_SalaryType"]:</div>
				<div>
					@{
						var salaryTypeId = Model?.Contract?.SalaryTypeID;
						var salaryTypeText = salaryTypeId.HasValue
						? salaryTypesList?.FirstOrDefault(m => m?.Value == salaryTypeId.Value.ToString())?.Text
						: null;
					}
					@salaryTypeText 
				</div>
			</div>
		</div>

	</div>
	<div class="row">
		
		<div class="col-12 col-md-4 col-lg-4">
			<div class="info-row">
				<div class="info-label">@Localizer["lbl_IssueDate"]: </div>
				<div>@Model.Contract.IssueDate.ToString("dd/MM/yyyy")</div>
			</div>
		</div>
		<div class="col-12 col-md-4 col-lg-4">
			<div class="info-row">
				<div class="info-label">@Localizer["lbl_VacationDays"]: </div>
				<div>@Model.Contract.VacationDays</div>
			</div>
		</div>
	</div>
	<div class="row">

		<div class="col-12 col-md-4 col-lg-4">
			<div class="info-row">
				<div class="info-label">@Localizer["lbl_StartDate"]: </div>
				<div>@Model.Contract.StartDate.ToString("dd/MM/yyyy")</div>
			</div>
		</div>
		<div class="col-12 col-md-4 col-lg-4">
			<div class="info-row">
				<div class="info-label">@Localizer["lbl_EndDate"]: </div>
				<div>@Model.Contract.EndDate?.ToString("dd/MM/yyyy")</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-4 col-lg-4">
			<div class="info-row">
				<div class="info-label">@Localizer["lbl_FromDutySlot"]: </div>
				<div>@Model.Contract.Employee.FromDutyTime</div>
			</div>
		</div>
		<div class="col-12 col-md-4 col-lg-4">
			<div class="info-row">
				<div class="info-label">@Localizer["lbl_ToDutySlot"]: </div>
				<div>@Model.Contract.Employee.ToDutyTime</div>
			</div>
		</div>

	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/super-ui@latest/dist/super-ui.min.js"></script>
	<script>
		window.print();
	</script>
</body>
</html>
