@model IEnumerable<Exampler_ERP.Models.HR_Contract>

@{
    ViewData["Title"] = "Employeement - Contracts";
}

@section PageScripts {
    <script>
        $(document).ready(function () {
            // Edit contract modal popup
            $('.editContractLink').click(function (e) {
                e.preventDefault();
                var contractId = $(this).data('id');
                $.get('@Url.Action("Edit", "Contract")', { id: contractId }, function (data) {
                    $('#editContractModalContainer').html(data);
                    $('#editContractModal').modal('show');
                });
            });
            $('#editContractModalContainer').on('click', '#saveContractChanges', function () {
                var formData = $('#editContractForm').serialize();
                $.post('@Url.Action("Edit", "Contract")', formData, function (response) {
                    if (response.success) {
                        // Reload the page or update the part of the page with the updated data
                        location.reload();
                    } else {
                        // Show validation errors
                    }
                });
            });
          

            // Add new contract modal popup
            $('.addContractLink').click(function () {
                $.get('@Url.Action("Create", "Contract")', function (data) {
                    $('#addContractModalContainer').html(data);
                    $('#addContractModal').modal('show');
                });
            });

            // Save new contract form
             $('#addContractModalContainer').on('click', '#saveNewContract', function () {
                var formData = $('#addContractForm').serialize();
                $.post('@Url.Action("Create", "Contract")', formData, function (response) {
                    if (response.success) {
                        // Reload the page or update the part of the page with the updated data
                        location.reload();
                    } else {
                        // Show validation errors
                    }
                });
            });

            // Delete contract
            $('.deleteContractLink').click(function (e) {
                e.preventDefault();
                var contractId = $(this).data('id');

                // Show confirmation dialog
                if (confirm('Are you sure you want to delete this contract?')) {
                    $.post('@Url.Action("Delete", "Contract")', { id: contractId }, function (response) {
                        if (response.success) {
                            location.reload();
                        } else {
                            // Handle errors
                        }
                    });
                } else {
                    // If user clicks 'No', do nothing
                }
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
        });
    </script>
    <script>
        function printContracts() {
            var printWindow = window.open('@Url.Action("Print", "Contract")', '_blank');
            printWindow.focus();
        }

        function closeModal() {
            $('.close').click(function () {
                $('#addContractModal').modal('hide');
                $('#editContractModal').modal('hide');
            });
        }
    </script>
}

<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Employeement /</span> Contracts
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Contract List</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-10 col-lg-8">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-nowrap">Employee Name</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">Issue Date</p>
                                </div>
                                <div class="col-4">
                                    <p class="text-nowrap">Contract Type</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-md-2 col-lg-4">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-4">
                                    <p class="text-nowrap">Edit</p>
                                </div>
                                <div class="col-12 col-md-12 col-lg-4">
                                    <p class="text-nowrap">Print</p>
                                </div>
                                <div class="col-12 col-md-12 col-lg-4">
                                    <p class="text-nowrap">Delete</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="col-12 col-md-12 col-lg-12 GVDetail">
                        <div class="row">
                            <div class="col-8 col-md-10 col-lg-8">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <p class="text-nowrap"><span class="smallAdd">Employee Name : </span>@item.Employee?.FirstName @item.Employee?.FatherName @item.Employee?.FamilyName</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <p class="text-nowrap"><span class="smallAdd">Issue Date : </span>@item.IssueDate.ToString("dd/MM/yyyy")</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-4">
                                        <p class="text-nowrap">
                                            <span class="smallAdd">Contract Type : </span>
                                            @if (item.ContractType == 1)
                                            {
                                                <span>Limited</span>
                                            }
                                            else if (item.ContractType == 2)
                                            {
                                                <span>Unlimited</span>
                                            }
                                            else
                                            {
                                                 <span></span>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-2 col-lg-4">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-4">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="editContractLink" data-id="@item.ContractID">
                                                <i class="fa fa-pencil" style="font-size: x-large; color:steelblue; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-4">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="printContractLink" data-id="@item.ContractID">
                                                <i class="fa fa-print" style="font-size: x-large; color:steelblue; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-4">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="deleteContractLink" data-id="@item.ContractID">
                                                <i class="fa fa-trash-o" style="font-size: x-large; color:maroon; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="mt-4">
                        <button type="button" class="btn btn-primary addContractLink">Add New</button>
                        <!-- Example: Add buttons for exporting to Excel and printing -->
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "Contract")'">Excel</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="printContracts()">Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include the modal partial -->
<div id="editContractModalContainer"></div>
<div id="addContractModalContainer"></div>
