@model IEnumerable<Exampler_ERP.Models.HR_Contract>
@{
    var ContractStatusList = (List<SelectListItem>)ViewBag.ContractStatusList;
}
<!DOCTYPE html>
<html>
<head>
    <title>Print Contracts</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
    <h2>Contract List</h2>
    <table>
        <thead>
            <tr>
                <th>Contract ID</th>
                <th>Active</th>
                <th>Employee Name</th>
                <th>Contract Type/th>
                <th>Salary Type/th>
                <th>Vacation Days</th>
                <th>Duty Hours</th>
                <th>Duty Minute</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contract in Model)
            {
                <tr>
                    <td>@contract.ContractID</td>
                    <td>@contract.ActiveYNID</td>
                    <td>@($"{contract.Employee?.FirstName} {contract.Employee?.FatherName} {contract.Employee?.FamilyName}")</td>
                    <td>@contract.Settings_ContractType?.ContractTypeName</td>
                    <td>@contract.SalaryTypeID</td>
                    <td>@contract.VacationDays</td>
                    <td>@contract.DHours</td>
                    <td>@contract.DMinutes</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
