@model IEnumerable<Exampler_ERP.Models.HR_EmployeeExperience>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="modal fade" id="employeeExperienceModal" tabindex="-1" role="dialog" aria-labelledby="employeeExperienceModalLabel" aria-hidden="true" style="--bs-modal-width: 60rem;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="employeeExperienceModalLabel">
                    <i class="fas fa-key me-2"></i>
                    Experience Employee
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h5 class="card-header">@Localizer["lbl_ExperienceDocumentList"]</h5>
                        <div class="">
                            <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader form-label">
                                <div class="row">
                                    <div class="col-10 col-md-10 col-lg-9">
                                        <div class="row">
                                            <div class="col-3">
                                                <p class="text-nowrap">@Localizer["lbl_Tittle"] : </p>
                                            </div>
                                            <div class="col-6">
                                                <p class="text-nowrap">@Localizer["lbl_CompanyName"]</p>
                                            </div>
                                            <div class="col-3">
                                                <p class="text-nowrap">@Localizer["lbl_City"] </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2 col-md-2 col-lg-3">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-7">
                                                <p class="text-nowrap">@Localizer["lbl_Download"] </p>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-5">
                                                <p class="text-nowrap">@Localizer["lbl_Delete"]</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @foreach (var item in Model)

                            {
                                <div class="col-12 col-md-12 col-lg-12 GVDetail">
                                    <div class="row">
                                        <div class="col-10 col-md-10 col-lg-9">
                                            <div class="row">
                                                <div class="col-12 col-md-12 col-lg-3">
                                                    <p class="text-nowrap"><span class="smallAdd">Tittle: </span>@item.ExperienceTittle</p>
                                                </div>
                                                <div class="col-12 col-md-12 col-lg-6">
                                                    <p class="text-nowrap"><span class="smallAdd">Company Name: </span>@item.CompanyName</p>
                                                </div>
                                                <div class="col-12 col-md-12 col-lg-3">
                                                    <p class="text-nowrap"><span class="smallAdd">@Localizer["lbl_City"] : </span>@item.City</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2 col-md-2 col-lg-3">
                                            <div class="row">
                                                <div class="col-12 col-md-12 col-lg-7">
                                                    <div class="btn-group" role="group" aria-label="Actions">
                                                        <a href="@Url.Action("ExperienceDocumentDownload", "Employee", new { id = item.ExperienceID })">
                                                            <i class="fa fa-download" style="font-size: large; color:steelblue; line-height: 2;"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-12 col-lg-5">
                                                    <div class="btn-group" role="group" aria-label="Actions">
                                                        <a href="javascript:void(0)" class="deleteEmployeeExperienceLink" data-id="@item.ExperienceID">
                                                            <i class="fa fa-trash" style="font-size: large; color:maroon; line-height: 2;"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Partial view for listing Experience records -->
