@model Exampler_ERP.Models.Temp.JournalVoucherIndexViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<style>
    .ui-autocomplete {
        z-index: 1000 !important;
    }
</style>

<div class="modal fade" id="editVoucherModal" tabindex="-1" role="dialog" aria-labelledby="editVoucherModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="--bs-modal-width: 80rem;">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="editVoucherModalLabel"><i class="fas fa-key me-2"></i>@Localizer["lbl_EditJournalVoucher"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editVoucherForm" enctype="multipart/form-data" asp-action="Edit" method="post">
                    @Html.Partial("~/Views/Finance/Transaction/JournalVoucher/_EditJournalVoucher.cshtml", Model)
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["lbl_Close"]</button>
                <button type="button" id="saveChanges" class="btn btn-success">@Localizer["lbl_SaveVoucher"]</button>
            </div>
        </div>
    </div>
</div>

<script>
    
    $(document).ready(function () {
        function calculateTotals() {

            let totalDebit = 0;
            let totalCredit = 0;

            $('#JournalVoucherTable tbody tr').each(function () {
                const debit = parseFloat($(this).find('.debit').val()) || 0;
                const credit = parseFloat($(this).find('.credit').val()) || 0;

                totalDebit += debit;
                totalCredit += credit;
            });

            $('#TotalDrAmt').val(totalDebit.toFixed(2));
            $('#TotalCrAmt').val(totalCredit.toFixed(2));

            if (totalDebit !== totalCredit) {
                $('#saveNewVoucher').prop('disabled', true);
            } else {
                $('#saveNewVoucher').prop('disabled', false);
            }
        }

        function updateRowButtons() {
            const rows = $('#JournalVoucherTable tbody tr');
            rows.find('.add-row').remove();
            rows.find('.remove-row').remove();

            rows.each(function (index) {
                const isLastRow = index === rows.length - 1;
                const actionCell = $(this).find('td:last-child');
                if (isLastRow) {
                    actionCell.append('<button type="button" class="btn btn-sm btn-secondary add-row">@Localizer["lbl_Add"]</button>');
                } else {
                    actionCell.append('<button type="button" class="btn btn-sm btn-danger remove-row">@Localizer["lbl_Remove"]</button>');
                }
            });
        }

        $(document).on('input', '.debit, .credit', calculateTotals);

        $(document).on('click', '.add-row', function () {
            const tableBody = $('#JournalVoucherTable tbody');
            const rowCount = tableBody.find('tr').length;

            const newRow = `<tr>
                    <td>
                            <select class="form-select transaction-account" name="Vouchers.VoucherDetails[${rowCount}].DRCR">
                            <option value="">@Localizer["lbl_SelectTransactionType"]</option>
    @foreach (var type in ViewBag.TransactionTypeList)
    {
                                        <option value="@type.Value">@type.Text</option>
    }
                        </select>
                    </td>
                    <td>
                        <select class="form-select transaction-account" name="Vouchers.VoucherDetails[${rowCount}].HeadofAccount_FiveID">
                            <option value="">@Localizer["lbl_SelectHeadofAccount"]</option>
    @foreach (var type in ViewBag.HeadofAccount_FiveList)
    {
                                        <option value="@type.Value">@type.Text</option>
    }
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control debit" name="Vouchers.VoucherDetails[${rowCount}].DrAmt" />
                    </td>
                    <td>
                        <input type="text" class="form-control credit" name="Vouchers.VoucherDetails[${rowCount}].CrAmt" />
                    </td>
                    <td style="text-align: center;"></td>
                </tr>`;

            tableBody.append(newRow);

            updateRowButtons();
            calculateTotals();
        });

        $(document).on('click', '.remove-row', function () {
            $(this).closest('tr').remove();
            updateRowButtons();
            calculateTotals();
        });
        

        // Initial button setup
        updateRowButtons();
        calculateTotals();
    });

</script>
