@model IEnumerable<Exampler_ERP.Models.ST_MaterialIssuance>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@foreach (var item in Model)
{
    <div class="col-12 col-md-12 col-lg-12 GVDetail">
        <div class="row">
            <div class="col-10 col-md-10 col-lg-10">
                <div class="row align-items-center">
                    <div class="col-2">
                        <p class="text-nowrap">
                            <span class="smallAdd">@Localizer["lbl_IssuanceNo"] :</span> @Html.DisplayFor(modelItem => item.IssuanceID)
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="text-nowrap">
                            <span class="smallAdd">@Localizer["lbl_IssuanceDate"] :</span> @(item.IssuanceDate.ToString("dd/MM/yyyy") ?? "00/00/0000")
                        </p>
                    </div>
                    <div class="col-6">
                        <p class="text-nowrap">
                            <span class="smallAdd">@Localizer["lbl_IssuanceStatus"] :</span> @item.IssuanceStatusTypes?.IssuanceStatusTypeName
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2 col-md-1 col-lg-1">
                @*  <div class="btn-group" role="group" aria-label="Actions">
                                    <a href="javascript:void(0)" class="editMaterialIssuanceLink me-2" data-id="@item.IssuanceID">
                                        <i class="fa fa-pencil" style="font-size: large; color:steelblue;; line-height: 2;"></i>
                                    </a>
                                </div> *@
            </div>
            <div class="col-2 col-md-1 col-lg-1">
                <div class="btn-group" role="group" aria-label="Actions">
                    <a href="javascript:void(0)" class="printMaterialIssuanceLink me-2" data-id="@item.IssuanceID">
                        <i class="fa fa-print" style="font-size: large; color:steelblue;; line-height: 2;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

}
