@model IEnumerable<Exampler_ERP.Models.ST_MaterialIssuance>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Store Management - Material Issuance";
}



@section PageScripts {

    <script>
        $(document).ready(function () {
            // Edit MaterialIssuance modal popup
          $('#MaterialIssuanceListContainer').on('click', '.editMaterialIssuanceLink', function (e) {
                e.preventDefault();
                var MaterialIssuanceId = $(this).data('id');
                $.get('@Url.Action("Edit", "MaterialIssuance")', { id: MaterialIssuanceId }, function (data) {
                    $('#editMaterialIssuanceModalContainer').html(data);
                    $('#editMaterialIssuanceModal').modal('show');
                    // Trigger the calculation after modal is shown

                });
            });

            $('#editMaterialIssuanceModalContainer').on('click', '#saveChanges', function () {
                var formData = $('#editMaterialIssuanceForm').serialize();
                $.post('@Url.Action("Edit", "MaterialIssuance")', formData, function (response) {
                  if (response.success) {
                            $('#editMaterialIssuanceModal').modal('hide');

                            // ✅ Ab poora list AJAX se reload karo
                            $.get('@Url.Action("Index", "MaterialIssuance")', function (partialHtml) {
                                var html = $(partialHtml).find('#MaterialIssuanceListContainer').html();
                                $('#MaterialIssuanceListContainer').html(html);
                            });
                        }
                });
            });

            // Add new MaterialIssuance modal popup
            $('.addMaterialIssuanceLink').click(function () {
                $.get('@Url.Action("Create", "MaterialIssuance")', function (data) {
                    $('#addMaterialIssuanceModalContainer').html(data);
                    $('#addMaterialIssuanceModal').modal('show');
                });
            });


            // Save new MaterialIssuance form
            $('#addMaterialIssuanceModalContainer').on('click', '#saveNewMaterialIssuance', function () {
                var formData = $('#addMaterialIssuanceForm').serialize();
                $.post('@Url.Action("Create", "MaterialIssuance")', formData, function (response) {
                    if (response.success) {
                            $('#addMaterialIssuanceModal').modal('hide');

                            // ✅ Ab poora list AJAX se reload karo
                            $.get('@Url.Action("Index", "MaterialIssuance")', function (partialHtml) {
                                var html = $(partialHtml).find('#MaterialIssuanceListContainer').html();
                                $('#MaterialIssuanceListContainer').html(html);
                            });
                        }
                });
            });

            // Close Modal Add Contrainer
            $('#addMaterialIssuanceModalContainer').on('click', '#Close', function () {
                $('#addMaterialIssuanceModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Close Modal Edit Contrainer
            $('#editMaterialIssuanceModalContainer').on('click', '#Close', function () {
                $('#editMaterialIssuanceModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Delete MaterialIssuance
          $('#MaterialIssuanceListContainer').on('click', '.deleteMaterialIssuanceLink', function (e) {
                e.preventDefault();
                var MaterialIssuanceId = $(this).data('id');
                $.post('@Url.Action("Delete", "MaterialIssuance")', { id: MaterialIssuanceId }, function (response) {
                    if (response.success) {
                    $.get('@Url.Action("Index", "MaterialIssuance")', function (partialHtml) {
                      var html = $(partialHtml).find('#MaterialIssuanceListContainer').html();
                      $('#MaterialIssuanceListContainer').html(html);
                    });
                  }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
            $(document).on('click', '.printMaterialIssuanceLink', function (e) {
                e.preventDefault();

                var MaterialIssuanceId = $(this).data('id');

                PrintMaterialIssuance(MaterialIssuanceId);
            });
            function PrintMaterialIssuance(MaterialIssuanceId) {
                var url = '@Url.Action("Print", "MaterialIssuance")' + '?id=' + MaterialIssuanceId;

                // Open the new window for printing
                var printWindow = window.open(url, '_blank');
                printWindow.focus();
            }


        });
    </script>
    <script>
        function printMaterialIssuancees() {
            var printWindow = window.open('@Url.Action("PrintList", "MaterialIssuance")', '_blank');
            printWindow.focus();
        }
        $('#searchItemNameButton').click(function () {
            var searchValue = $('#searchItemNameInput').val();
            window.location.href = '@Url.Action("Index", "MaterialIssuance")?searchItemName=' + searchValue;
        });
    </script>


}



<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Store Management /</span> Material Issuance
</h4>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <h5 class="card-header">@Localizer["lbl_SearchingBox"]</h5>
            <div class="Searching-Box-padding">
                <div class="row mb-4">
                    <div class="col-md-8" style="padding-bottom: 15px;">
                        <!-- Search Field and Button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Item Name" id="searchItemNameInput">
                            <button class="btn btn-outline-secondary" type="button" id="searchItemNameButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 text-end">
                        <!-- Action Buttons -->
                        <button type="button" class="btn btn-primary addMaterialIssuanceLink">@Localizer["lbl_AddNew"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "MaterialIssuance")'">@Localizer["lbl_Excel"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="printMaterialIssuancees()">@Localizer["lbl_Print"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Material Issuance List</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-10 col-lg-10">
                            <div class="row">
                                <div class="col-2">
                                    <p class="text-nowrap">Material Issuance #</p>
                                </div>
                                <div class="col-4">
                                    <p class="text-nowrap">Date</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">Status</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 col-md-1 col-lg-1">
                           @*  <p class="text-nowrap">@Localizer["lbl_Edit"]</p> *@
                        </div>
                        <div class="col-1 col-md-1 col-lg-1">
                            <p class="text-nowrap">Print</p>
                        </div>
                    </div>
                </div>
                <div id="materialIssuanceListContainer">
                    @Html.Partial("~/Views/StoreManagement/StoreManagement/MaterialIssuance/_MaterialIssuanceListPartial.cshtml", Model)
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Include the modal partial -->
<div id="editMaterialIssuanceModalContainer"></div>
<div id="addMaterialIssuanceModalContainer"></div>
