@model IEnumerable<Exampler_ERP.Models.ST_MaterialIssuance>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["lbl_PrintMaterialIssuance"]</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
    <h2>@Localizer["lbl_MaterialIssuanceList"]</h2>
    <table>
        <thead>
            <tr>
                <th>@Localizer["lbl_IssuanceNo"]</th>
                <th>@Localizer["lbl_IssuanceDate"]</th>
                <th>@Localizer["lbl_IssuanceStatus"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var MaterialIssuance in Model)
            {
                <tr>
                    <td>@MaterialIssuance.IssuanceID</td>
                    <td>@MaterialIssuance.IssuanceDate.ToString("dd/MM/yyyy")</td>
                    <td>@(MaterialIssuance.IssuanceStatusTypes?.IssuanceStatusTypeName)</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
