@model Exampler_ERP.Models.Settings_HeadofAccount_Five
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="modal fade" id="addHeadofAccount_FiveModal" tabindex="-1" role="dialog" aria-labelledby="addHeadofAccount_FiveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="addHeadofAccount_FiveModalLabel">
                    <i class="fas fa-key me-2"></i>
                    @Localizer["lbl_AddNewHeadofAccountFive"]
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form id="addHeadofAccount_FiveForm">
                    <div class="row">
                        <div class="col-6">
                            <label asp-for="HeadofAccount_FourID" class="form-label fw-bold">@Localizer["lbl_SelectHeadofAccount"]</label>
                            <select asp-for="HeadofAccount_FourID" asp-items="@(new SelectList(ViewBag.FourList, "Value", "Text", Model.HeadofAccount_FourID))" class="form-control form-control-lg">
                            </select>
                            <span asp-validation-for="HeadofAccount_FourID" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <label asp-for="ActiveYNID" class="form-label fw-bold">@Localizer["lbl_Active"]</label>
                            <select asp-for="ActiveYNID" asp-items="@(new SelectList(ViewBag.ActiveYNIDList, "Value", "Text", Model.ActiveYNID))" class="form-control form-control-lg">
                            </select>
                            <span asp-validation-for="ActiveYNID" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <label asp-for="CategoryTypeID" class="form-label fw-bold">@Localizer["lbl_SelectCategoryType"]</label>
                            <select asp-for="CategoryTypeID" asp-items="@(new SelectList(ViewBag.categoryTypeList, "Value", "Text", Model.CategoryTypeID))" class="form-control form-control-lg">
                            </select>
                            <span asp-validation-for="CategoryTypeID" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <label asp-for="GroupTypeID" class="form-label fw-bold">@Localizer["lbl_SelectGroup"]</label>
                            <select asp-for="GroupTypeID" asp-items="@(new SelectList(ViewBag.GroupList, "Value", "Text", Model.GroupTypeID))" class="form-control form-control-lg">
                            </select>
                            <span asp-validation-for="GroupTypeID" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <label for="OpeningBalance" class="form-label fw-bold">@Localizer["lbl_OpeningBalance"]</label>
                            <input type="text" class="form-control form-control-lg" id="OpeningBalance" name="OpeningBalance" value="@Model.OpeningBalance" />
                        </div>
                        <div class="col-12 col-md-12 col-lg-12">
                            <label for="HeadofAccount_FiveName" class="form-label fw-bold">@Localizer["lbl_HeadofAccountFiveName"]</label>
                            <input type="text" class="form-control form-control-lg" id="HeadofAccount_FiveName" name="HeadofAccount_FiveName" value="@Model.HeadofAccount_FiveName" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close">@Localizer["lbl_Close"]</button>
                <button type="button" class="btn btn-success" id="saveNewHeadofAccount_Five">@Localizer["lbl_Save"] </button>
            </div>
        </div>
    </div>
</div>
