@model Exampler_ERP.Models.Settings_HeadofAccount_Five

<div class="modal fade" id="editHeadofAccount_FiveModal" tabindex="-1" role="dialog" aria-labelledby="editHeadofAccount_FiveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="editHeadofAccount_FiveModalLabel">
                    <i class="fas fa-key me-2"></i>
                    Edit HeadofAccount_Five
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editHeadofAccount_FiveForm">
                    <div class="row">
                        <div class="col-6">
                            <label asp-for="HeadofAccount_FourID" class="form-label fw-bold">Select Head Account</label>
                            <select asp-for="HeadofAccount_FourID" asp-items="@(new SelectList(ViewBag.FourList, "Value", "Text", Model.HeadofAccount_FourID))" class="form-control form-control-lg">
                            </select>
                            <span asp-validation-for="HeadofAccount_FourID" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <label asp-for="ActiveYNID" class="form-label fw-bold">Active</label>
                            <select asp-for="ActiveYNID" asp-items="@(new SelectList(ViewBag.ActiveYNIDList, "Value", "Text", Model.ActiveYNID))" class="form-control form-control-lg">
                            </select>
                            <span asp-validation-for="ActiveYNID" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label asp-for="CategoryTypeID" class="form-label fw-bold">Select Category</label>
                            <select asp-for="CategoryTypeID" asp-items="@(new SelectList(ViewBag.categoryTypeList, "Value", "Text", Model.CategoryTypeID))" class="form-control form-control-lg">
                            </select>
                            <span asp-validation-for="CategoryTypeID" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label asp-for="GroupTypeID" class="form-label fw-bold">Select Group</label>
                            <select asp-for="GroupTypeID" asp-items="@(new SelectList(ViewBag.GroupList, "Value", "Text", Model.GroupTypeID))" class="form-control form-control-lg">
                            </select>
                            <span asp-validation-for="GroupTypeID" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <label for="OpeningBalance" class="form-label fw-bold">Type Opening Balance</label>
                            <input type="text" class="form-control form-control-lg" id="OpeningBalance" name="OpeningBalance" value="@Model.OpeningBalance" />
                        </div>
                        <div class="col-12 col-md-12 col-lg-12">
                            <label for="HeadofAccount_FiveName" class="form-label fw-bold">HeadofAccount_Five Name</label>
                            <input type="text" class="form-control form-control-lg" id="HeadofAccount_FiveName" name="HeadofAccount_FiveName" value="@Model.HeadofAccount_FiveName" />
                        </div>

                    </div>
                    <input type="hidden" id="HeadofAccount_FiveID" name="HeadofAccount_FiveID" value="@Model.HeadofAccount_FiveID" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close">Close</button>
                <button type="button" class="btn btn-success" id="saveChanges">Save changes</button>
            </div>
        </div>
    </div>
</div>
