@model Exampler_ERP.Models.Settings_DepartmentType
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="modal fade" id="editDepartmentModal" tabindex="-1" role="dialog" aria-labelledby="editDepartmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="editDepartmentModalLabel">
                    <i class="fas fa-key me-2"></i>
					@Localizer["lbl_EditDepartment"]
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form id="editDepartmentForm">
                    <div class="row">
                        <div class="col-2 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-6">
                                    <label asp-for="BranchTypeID" class="form-label fw-bold">@Localizer["lbl_SelectBranch"]</label>
                                    <select asp-for="BranchTypeID" asp-items="@(new SelectList(ViewBag.BranchList, "Value", "Text", Model.BranchTypeID))" class="form-control form-control-lg">
                                    </select>
                                    <span asp-validation-for="BranchTypeID" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label asp-for="ActiveYNID" class="form-label fw-bold">@Localizer["lbl_Active"]</label>
                                    <select asp-for="ActiveYNID" asp-items="@(new SelectList(ViewBag.ActiveYNIDList, "Value", "Text"))" class="form-control form-control-lg">
                                        <option>@Localizer["lbl_Pleaseselect"]</option>
                                    </select>
                                    <span asp-validation-for="ActiveYNID" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label for="DepartmentTypeName" class="form-label fw-bold">@Localizer["lbl_DepartmentName"]</label>
                                    <input type="text" class="form-control form-control-lg" id="DepartmentTypeName" name="DepartmentTypeName" value="@Model.DepartmentTypeName" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="DepartmentTypeID" name="DepartmentTypeID" value="@Model.DepartmentTypeID" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close">@Localizer["lbl_Close"]</button>
                <button type="button" class="btn btn-success" id="saveChanges">@Localizer["lbl_SaveChanges"]</button>
            </div>
        </div>
    </div>
</div>
