@model Exampler_ERP.Models.Settings_HeadofAccount_Second
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="modal fade" id="editHeadofAccount_SecondModal" tabindex="-1" role="dialog" aria-labelledby="editHeadofAccount_SecondModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="editHeadofAccount_SecondModalLabel">
                    <i class="fas fa-key me-2"></i>
                    Edit HeadofAccount_Second
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editHeadofAccount_SecondForm">
                    <div class="row">
                        <div class="col-6">
                            <label asp-for="HeadofAccount_FirstID" class="form-label fw-bold">Select Head Account</label>
                            <select asp-for="HeadofAccount_FirstID" asp-items="@(new SelectList(ViewBag.FirstList, "Value", "Text", Model.HeadofAccount_FirstID))" class="form-control form-control-lg">
                            </select>
                            <span asp-validation-for="HeadofAccount_FirstID" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <label asp-for="ActiveYNID" class="form-label fw-bold">@Localizer["lbl_Active"]</label>
                            <select asp-for="ActiveYNID" asp-items="@(new SelectList(ViewBag.ActiveYNIDList, "Value", "Text", Model.ActiveYNID))" class="form-control form-control-lg">
                            </select>
                            <span asp-validation-for="ActiveYNID" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12">
                            <label for="HeadofAccount_SecondName" class="form-label fw-bold">@Localizer["lbl_HeadofAccount"]_@Localizer["lbl_Second"] @Localizer["lbl_Name"]</label>
                            <input type="text" class="form-control form-control-lg" id="HeadofAccount_SecondName" name="HeadofAccount_SecondName" value="@Model.HeadofAccount_SecondName" />
                        </div>
                       
                    </div>
                    <input type="hidden" id="HeadofAccount_SecondID" name="HeadofAccount_SecondID" value="@Model.HeadofAccount_SecondID" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close">@Localizer["lbl_Close"]</button>
                <button type="button" class="btn btn-success" id="saveChanges">@Localizer["lbl_SaveChanges"]</button>
            </div>
        </div>
    </div>
</div>
