@model IEnumerable<Exampler_ERP.Models.Settings_HolidayType>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Master Information - Holiday Type";
}

@section PageScripts {

    <script>
        $(document).ready(function () {
            // Edit HolidayType modal popup
		   $('#HolidayTypeListContainer').on('click', '.editHolidayTypeLink', function (e) {
                e.preventDefault();
                var HolidayTypeId = $(this).data('id');
                $.get('@Url.Action("Edit", "HolidayType")', { id: HolidayTypeId }, function (data) {
                    $('#editHolidayTypeModalContainer').html(data);
                    $('#editHolidayTypeModal').modal('show');
                });
            });

            $('#editHolidayTypeModalContainer').on('click', '#saveChanges', function () {
                var formData = $('#editHolidayTypeForm').serialize();
                $.post('@Url.Action("Edit", "HolidayType")', formData, function (response) {
					if (response.success) {
							$('#editHolidayTypeModal').modal('hide');

							// ✅ Ab poora list AJAX se reload karo
							$.get('@Url.Action("Index", "HolidayType")', function (partialHtml) {
								var html = $(partialHtml).find('#HolidayTypeListContainer').html();
								$('#HolidayTypeListContainer').html(html);
							});
						}
                });
            });

            // Add new HolidayType modal popup
            $('.addHolidayTypeLink').click(function () {
                $.get('@Url.Action("Create", "HolidayType")', function (data) {
                    $('#addHolidayTypeModalContainer').html(data);
                    $('#addHolidayTypeModal').modal('show');
                });
            });

            // Save new HolidayType form
            $('#addHolidayTypeModalContainer').on('click', '#saveNewHolidayType', function () {
                var formData = $('#addHolidayTypeForm').serialize();
                $.post('@Url.Action("Create", "HolidayType")', formData, function (response) {
					if (response.success) {
							$('#addHolidayTypeModal').modal('hide');

							// ✅ Ab poora list AJAX se reload karo
							$.get('@Url.Action("Index", "HolidayType")', function (partialHtml) {
								var html = $(partialHtml).find('#HolidayTypeListContainer').html();
								$('#HolidayTypeListContainer').html(html);
							});
						}
                });
            });

            // Close Modal Add Contrainer
            $('#addHolidayTypeModalContainer').on('click', '#Close', function () {
                $('#addHolidayTypeModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Close Modal Edit Contrainer
            $('#editHolidayTypeModalContainer').on('click', '#Close', function () {
                $('#editHolidayTypeModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Delete HolidayType
			$('#HolidayTypeListContainer').on('click', '.deleteHolidayTypeLink', function (e) {
                e.preventDefault();
                var HolidayTypeId = $(this).data('id');
                $.post('@Url.Action("Delete", "HolidayType")', { id: HolidayTypeId }, function (response) {
					 if (response.success) {
					$.get('@Url.Action("Index", "HolidayType")', function (partialHtml) {
					  var html = $(partialHtml).find('#HolidayTypeListContainer').html();
					  $('#HolidayTypeListContainer').html(html);
					});
				  }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
        });
    </script>
    <script>
        function printHolidayTypes() {
            var printWindow = window.open('@Url.Action("Print", "HolidayType")', '_blank');
            printWindow.focus();
        }
        $('#searchHolidayTypeButton').click(function () {
            var searchValue = $('#searchHolidayTypeInput').val();
            window.location.href = '@Url.Action("Index", "HolidayType")?searchHolidayTypeName=' + searchValue;
        });
    </script>
}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">@Localizer["lbl_MasterInformation"] /</span> Holiday Type
</h4>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <h5 class="card-header">@Localizer["lbl_SearchingBox"]</h5>
            <div class="Searching-Box-padding">
                <div class="row mb-4">
                    <div class="col-md-8" style="padding-bottom: 15px;">
                        <!-- Search Field and Button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Holiday Type name" id="searchHolidayTypeInput">
                            <button class="btn btn-outline-secondary" type="button" id="searchHolidayTypeButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 text-end">
                        <!-- Action Buttons -->
                        <button type="button" class="btn btn-primary addHolidayTypeLink">@Localizer["lbl_AddNew"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "HolidayType")'">@Localizer["lbl_Excel"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="printHolidayTypes()">@Localizer["lbl_Print"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Holiday Type List</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-10 col-lg-10">
                            <div class="row">
                                <div class="col-8">
                                    <p class="text-nowrap">Holiday Type Name</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">@Localizer["lbl_Active"]</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-2 col-lg-2">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_Edit"]</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_Delete"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<div id="HolidayTypeListContainer">
					@Html.Partial("~/Views/HR/MasterInfo/HolidayType/_HolidayTypeListPartial.cshtml", Model)
				</div>
            </div>
        </div>
    </div>
</div>

<!-- Include the modal partial -->
<div id="editHolidayTypeModalContainer"></div>
<div id="addHolidayTypeModalContainer"></div>
