@model Exampler_ERP.Models.Temp.StockListViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@foreach (var item in Model.ItemsWithStockQuantity)
{
    <div class="col-12 col-md-12 col-lg-12 GVDetail">
        <div class="row">
            <div class="col-10 col-md-10 col-lg-11">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-6">
                        <p class="text-nowrap"><span class="smallAdd">@Localizer["lbl_ItemName"] : </span>@Html.DisplayFor(modelItem => item.ItemName)</p>
                    </div>
                    <div class="col-12 col-md-12 col-lg-2">
                        <p class="text-nowrap"><span class="smallAdd">@Localizer["lbl_StockQuantity"] : </span>@Html.DisplayFor(modelItem => item.StockQuantity)</p>
                    </div>
                    <div class="col-12 col-md-12 col-lg-2">
                        <p class="text-nowrap"><span class="smallAdd">@Localizer["lbl_StockCount"] : </span>@Html.DisplayFor(modelItem => item.StockCount)</p>
                    </div>
                </div>
            </div>
            <div class="col-2 col-md-2 col-lg-1">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="btn-group" role="group" aria-label="Actions">
                            <a href="javascript:void(0)" class="editStockLink" data-id="@item.ItemID">
                                <i class="fa fa-pencil" style="font-size: large; color:steelblue; line-height: 2;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
