@model Exampler_ERP.Models.Temp.StocksIndexViewModel

<div class="modal fade" id="addStockModal" tabindex="-1" role="dialog" aria-labelledby="addStockModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="--bs-modal-width: 80rem;">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="addStockModalLabel">
                    <i class="fas fa-key me-2"></i>
                    Add New Stock
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form id="addStockForm">
                    <div class="row">

                        <div class="col-2 col-md-12 col-lg-6">
                            <label asp-for="Stocks.ItemID" class="form-label fw-bold">Item Name</label>
                            <select asp-for="Stocks.ItemID" asp-items="@(new SelectList(ViewBag.ItemList, "Value", "Text", Model.Stocks.ItemID))" class="form-control form-control-lg">
                            </select>
                            <span asp-validation-for="Stocks.ItemID" class="text-danger"></span>
                        </div>
                        <div class="col-2 col-md-12 col-lg-3">
                            <label asp-for="Stocks.VendorID" class="form-label fw-bold">Vendor Name</label>
                            <select asp-for="Stocks.VendorID" asp-items="@(new SelectList(ViewBag.VendorList, "Value", "Text", Model.Stocks.VendorID))" class="form-control form-control-lg">
                                <option>Please select</option>
                            </select>
                            <span asp-validation-for="Stocks.VendorID" class="text-danger"></span>
                        </div>
                        <div class="col-2 col-md-12 col-lg-3">
                            <label asp-for="Stocks.Quantity" class="form-label fw-bold">Quantity</label>
                            <input asp-for="Stocks.Quantity" type="text" class="form-control form-control-lg" />
                        </div>


                        <div class="col-2 col-md-12 col-lg-3">
                            <label asp-for="Stocks.ManufactureDate" class="form-label fw-bold">Manufacture Date</label>
                            <input asp-for="Stocks.ManufactureDate" type="date" class="form-control form-control-lg"  />
                        </div>
                        <div class="col-2 col-md-12 col-lg-3">
                            <label asp-for="Stocks.ExpiryDate" class="form-label fw-bold">Expiry Date</label>
                            <input asp-for="Stocks.ExpiryDate" type="date" class="form-control form-control-lg" />
                        </div>
                        <div class="col-2 col-md-12 col-lg-6">
                            <label asp-for="Stocks.LotNumber" class="form-label fw-bold">Lot Number</label>
                            <input asp-for="Stocks.LotNumber" type="text" class="form-control form-control-lg"/>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-2 col-md-12 col-lg-6">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="PONo" class="form-label fw-bold">PO No</label>
                                        <input type="text" class="form-control form-control-lg" id="PONo" name="PONo" value="@Model.Stocks.PONo" />
                                    </div>
                                    <div class="col-6">
                                        <label for="GRNNo" class="form-label fw-bold">GRN No</label>
                                        <input type="text" class="form-control form-control-lg" id="GRNNo" name="GRNNo" value="@Model.Stocks.GRNNo" />
                                    </div>
                                    <div class="col-6">
                                        <label for="DCNo" class="form-label fw-bold">DC No</label>
                                        <input type="text" class="form-control form-control-lg" id="DCNo" name="DCNo" value="@Model.Stocks.DCNo" />
                                    </div>
                                    <div class="col-6">
                                        <label for="InvoiceNo" class="form-label fw-bold">Invoice No</label>
                                        <input type="text" class="form-control form-control-lg" id="InvoiceNo" name="InvoiceNo" value="@Model.Stocks.InvoiceNo" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 col-md-12 col-lg-6 component-type-container">
                                <!-- ItemComponent rows will be injected here dynamically -->
                            </div>
                        </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close">Close</button>
                <button type="button" class="btn btn-success" id="saveNewStock">Save</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#addStockForm select[name="Stocks.ItemID"]').change(function () {
            var selectedItemID = $(this).val();
            if (selectedItemID) {
                $.ajax({
                    url: '/Stock/GetItemComponents',
                    type: 'GET',
                    data: { itemId: selectedItemID },
                    success: function (response) {
                        var componentContainer = $('#addStockForm .component-type-container');
                        componentContainer.html('');

                        // Populate the new components
                        response.forEach(function (component) {
                            var componentHtml = `
                                <div class="row">
                                                <div class="col-12">
                                                    <input type="hidden" name="ItemComponent[].ItemTypeID" value="${component.itemTypeID}" />
                                                    <input type="hidden" name="ItemComponent[].ItemTypeName" value="${component.itemTypeName}" />
                                                    <label class="form-label fw-bold">${component.itemTypeName}</label>
                                                   <input type="text" class="form-control form-control-lg" name="ItemComponent[].Result" placeholder="Enter result here" />
                                            </div>
                                </div>`;
                            componentContainer.append(componentHtml);
                        });
                    },
                    error: function (xhr) {
                        console.error('Error fetching item components:', xhr.responseText);
                    }
                });
            }
        });
    });
</script>
