@model IEnumerable<Exampler_ERP.Models.Settings_BranchType>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["lbl_MasterInformation"] + " - " + @Localizer["lbl_Branch"];
}

@section PageScripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+5hb5z2N7O6eHg4d5e2jtV5Wz4w69F+QYw1Fz4yD61DdE8kOkWJLvHh7vDkg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @* <script>
        $(document).ready(function () {
            setupModalCrud({
                controllerName: 'MaterialIssuance',
                listContainerId: 'MaterialIssuanceListContainer',
                addLinkClass: 'addMaterialIssuanceLink',
                editLinkClass: 'editMaterialIssuanceLink',
                deleteLinkClass: 'deleteMaterialIssuanceLink',
                printLinkClass: 'printMaterialIssuanceLink',
                addModalContainerId: 'addMaterialIssuanceModalContainer',
                editModalContainerId: 'editMaterialIssuanceModalContainer',
                listPartialSelector: '#MaterialIssuanceListContainer'
            });
        });
    </script> *@

    <script>
        $(document).ready(function () {
            // Edit branch modal popup
            $('#branchListContainer').on('click', '.editBranchLink', function (e) {
              e.preventDefault();
              var BranchId = $(this).data('id');
              $.get('@Url.Action("Edit", "Branch")', { id: BranchId }, function (data) {
                $('#editBranchModalContainer').html(data);
                $('#editBranchModal').modal('show');
              });
            });

            $('#editBranchModalContainer').on('click', '#saveChanges', function () {
                var formData = $('#editBranchForm').serialize();
                $.post('@Url.Action("Edit", "Branch")', formData, function (response) {
                    if (response.success) {
                            $('#editBranchModal').modal('hide');

                            // ✅ Ab poora list AJAX se reload karo
                            $.get('@Url.Action("Index", "Branch")', function (partialHtml) {
                                var html = $(partialHtml).find('#branchListContainer').html();
                                $('#branchListContainer').html(html);
                            });
                        }
                });
            });

            // Add new branch modal popup
            $('.addBranchLink').click(function () {
                $.get('@Url.Action("Create", "Branch")', function (data) {
                    $('#addBranchModalContainer').html(data);
                    $('#addBranchModal').modal('show');
                });
            });

            // Save new branch form
            $('#addBranchModalContainer').on('click', '#saveNewBranch', function () {
                var formData = $('#addBranchForm').serialize();
                $.post('@Url.Action("Create", "Branch")', formData, function (response) {
                    if (response.success) {
                            $('#addBranchModal').modal('hide');

                            // ✅ Ab poora list AJAX se reload karo
                            $.get('@Url.Action("Index", "Branch")', function (partialHtml) {
                                var html = $(partialHtml).find('#branchListContainer').html();
                                $('#branchListContainer').html(html);
                            });
                        }
                });
            });

            // Close Modal Add Contrainer
            $('#addBranchModalContainer').on('click', '#Close', function () {
                $('#addBranchModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Close Modal Edit Contrainer
            $('#editBranchModalContainer').on('click', '#Close', function () {
                $('#editBranchModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Delete branch
			
            $('#branchListContainer').on('click', '.deleteBranchLink', function (e) {
                e.preventDefault();
                var branchId = $(this).data('id');
                $.post('@Url.Action("Delete", "Branch")', { id: branchId }, function (response) {
                    if (response.success) {
                    $.get('@Url.Action("Index", "Branch")', function (partialHtml) {
                      var html = $(partialHtml).find('#branchListContainer').html();
                      $('#branchListContainer').html(html);
                    });
                  }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
        });
    </script>
    <script>
        function printBranches() {
            var printWindow = window.open('@Url.Action("Print", "Branch")', '_blank');
            printWindow.focus();
        }
            $('#searchBranchButton').click(function () {
            var searchValue = $('#searchBranchInput').val();

            $.get('@Url.Action("Index", "Branch")', { searchBranchName: searchValue }, function (partialHtml) {
                var html = $(partialHtml).find('#branchListContainer').html();
                $('#branchListContainer').html(html);
            });
        });
    </script>
   
  
}



<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">@Localizer["lbl_MasterInformation"] /</span> @Localizer["lbl_Branch"]
</h4>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">@Localizer["lbl_SearchingBox"]</h5>
            <div class="Searching-Box-padding">
                <div class="row mb-4">
                    <div class="col-md-8" style="padding-bottom: 15px;">
                        <!-- Search Field and Button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="@Localizer["lbl_SearchBranchName"]" id="searchBranchInput">
                            <button class="btn btn-outline-secondary" type="button" id="searchBranchButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 text-end">
                        <!-- Action Buttons -->
                        <button type="button" class="btn btn-primary addBranchLink">@Localizer["lbl_AddNew"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "Branch")'">@Localizer["lbl_Excel"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="printBranches()">@Localizer["lbl_Print"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">@Localizer["lbl_BranchList"]</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-10 col-lg-10">
                            <div class="row">
                                <div class="col-8">
                                    <p class="text-nowrap">@Localizer["lbl_BranchName"]</p>
                                </div>
                                <div class="col-4">
                                    <p class="text-nowrap">@Localizer["lbl_Active"]</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-2 col-lg-2">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_Edit"]</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_Delete"]</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div id="branchListContainer">
                    @Html.Partial("~/Views/HR/MasterInfo/Branch/_BranchListPartial.cshtml", Model)
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Include the modal partial -->
<div id="editBranchModalContainer"></div>
<div id="addBranchModalContainer"></div>
