@model IEnumerable<Exampler_ERP.Models.Settings_BranchType>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "_PrintLayout";
}
<!DOCTYPE html>
<html>
<head>
	<title>@Localizer["lbl_PrintBranch"]</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
    <h5 style="text-align: center; padding-top: 35px; font-size: x-large;">
        @Localizer["lbl_BranchList"]</h5>
    <table>
        <thead>
            <tr>
				<th>@Localizer["lbl_BranchID"]</th>
                <th>@Localizer["lbl_Date"] </th>
				<th>@Localizer["lbl_BranchName"]</th>
                <th>@Localizer["lbl_Active"]</th>
                <th>@Localizer["lbl_POBox"] </th>
                <th>@Localizer["lbl_Country"] </th>
                <th>@Localizer["lbl_City"] </th>
                <th>@Localizer["lbl_Street"] </th>
                <th>@Localizer["lbl_Phone"] </th>
                <th>@Localizer["lbl_Fax"] </th>
                <th>@Localizer["lbl_Mobile"] </th>
                <th>@Localizer["lbl_Address"] </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var branch in Model)
            {
                <tr>
                    <td>@branch.BranchTypeID</td>
                    <td>@branch.Date</td>
                    <td>@branch.BranchTypeName</td>
                    <td>@(branch.ActiveYNID == 1 ? "Yes" : "No")</td>
                    <td>@branch.POBox</td>
                    <td>@branch.Country</td>
                    <td>@branch.City</td>
                    <td>@branch.Street</td>
                    <td>@branch.Phone</td>
                    <td>@branch.Fax</td>
                    <td>@branch.Mobile</td>
                    <td>@branch.Address</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
