@model IEnumerable<Exampler_ERP.Models.Settings_AdditionalAllowanceType>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "_PrintLayout";
}
<!DOCTYPE html>
<html>
<head>
	<title>@Localizer["lbl_PrintAdditionalAllowanceType"]</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
	<h2>@Localizer["lbl_AdditionalAllowanceTypeList"]</h2>
    <table>
        <thead>
            <tr>
				<th>@Localizer["lbl_AdditionalAllowanceTypeID"]</th>
                <th>@Localizer["lbl_AdditionalAllowanceTypeName"]</th>
                <th>@Localizer["lbl_Active"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var AdditionalAllowanceType in Model)
            {
                <tr>
                    <td>@AdditionalAllowanceType.AdditionalAllowanceTypeID</td>
                    <td>@AdditionalAllowanceType.AdditionalAllowanceTypeName</td>
                    <td>@(AdditionalAllowanceType.ActiveYNID == 1 ? "Yes" : "No")</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
