@model Exampler_ERP.Models.Temp.EmployeeListViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
	ViewData["Title"] = @Localizer["lbl_Employeement"] + " - " + @Localizer["lbl_Salary"];
}

@section PageScripts {

    <script>
        $(document).ready(function () {
			$('#SalaryListContainer').on('click', '.editSalaryLink', function (e) {
                e.preventDefault();
                var SalaryTypeId = $(this).data('id');
                $.get('@Url.Action("Edit", "Salary")', { id: SalaryTypeId }, function (data) {
                    $('#editSalaryModalContainer').html(data);
                    $('#editSalaryModal').modal('show');
                });
            });

            $('#editSalaryModalContainer').on('click', '#saveChanges', function () {
                var formData = $('#editSalaryForm').serialize();
                console.log("Serialized form data:", formData); // Log serialized data for debugging
                $.post('@Url.Action("Edit", "Salary")', formData, function (response) {
					 if (response.success) {
							$('#editSalaryModal').modal('hide');

							// ✅ Ab poora list AJAX se reload karo
							$.get('@Url.Action("Index", "Salary")', function (partialHtml) {
								var html = $(partialHtml).find('#SalaryListContainer').html();
								$('#SalaryListContainer').html(html);
							});
						}
                });
            });

            // Close Modal Edit Contrainer
            $('#editSalaryModalContainer').on('click', '#Close', function () {
                $('#editSalaryModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });


            // Delete Salary
			$('#SalaryListContainer').on('click', '.deleteSalaryLink', function (e) {
                e.preventDefault();
                var SalaryId = $(this).data('id');
                $.post('@Url.Action("Delete", "Salary")', { id: SalaryId }, function (response) {
					if (response.success) {
					$.get('@Url.Action("Index", "Salary")', function (partialHtml) {
					  var html = $(partialHtml).find('#SalaryListContainer').html();
					  $('#SalaryListContainer').html(html);
					});
				  }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
            $.widget("custom.autocomplete", $.ui.autocomplete, {
                _renderItem: function (ul, item) {
                    return $("<li>")
                        .append(item.label)  // Render the HTML content in `label`
                        .appendTo(ul);
                }
            });

            $("#EmployeeName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetEmployeeSuggestions", "Employee")',
                        type: 'GET',
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.label,  // HTML content
                                    value: item.id      // Employee ID
                                };
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    // Do something when an employee is selected
                    console.log(ui.item.value); // Employee ID
                    window.location.href = '@Url.Action("Index", "Salary")?id=' + ui.item.value;
                }
            });
        });
    </script>
    <script>
        function printSalarys() {
            var printWindow = window.open('@Url.Action("Print", "Salary")', '_blank');
            printWindow.focus();
        }

        $('#searchEmployeeButton').click(function () {
            var searchValue = $('#searchEmployeeInput').val();
       		$.get('@Url.Action("Index", "Salary")', { id: searchValue }, function (partialHtml) {
				var html = $(partialHtml).find('#SalaryListContainer').html();
				$('#SalaryListContainer').html(html);
			});
        });
    </script>
}
<h4 class="py-3 mb-4">
	<span class="text-muted fw-light">@Localizer["lbl_Employeement"] /</span> @Localizer["lbl_Salary"]
</h4>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <h5 class="card-header">@Localizer["lbl_SearchingBox"]</h5>
            <div class="Searching-Box-padding">
                <div class="row mb-4">
                    <div class="col-md-8" style="padding-bottom: 15px;">
                        <!-- Search Field and Button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="@Localizer["lbl_SearchEmployee"]" id="searchEmployeeInput">
                            <button class="btn btn-outline-secondary" type="button" id="searchEmployeeButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
			<h5 class="card-header">@Localizer["lbl_SalaryList"]</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-11 col-md-11 col-lg-11">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_EmployeeName"]</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_TypeCount"]</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 col-md-1 col-lg-1">
                            <div class="row">
                                <div class="col-12">
                                    <p class="text-nowrap">@Localizer["lbl_Edit"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<div id="SalaryListContainer">
					@Html.Partial("~/Views/HR/Employeement/Salary/_SalaryListPartial.cshtml", Model)
				</div>
            </div>
        </div>
    </div>
</div>


<!-- Include the modal partial -->
<div id="editSalaryModalContainer"></div>
