@model IEnumerable<Exampler_ERP.Models.FI_Voucher>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "_BlankLayout";
}
<!DOCTYPE html>
<html>
<head>
    <title>Print Lodgement</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
        .labeltxtTop{
            float: right;
            height: 30px;
            margin-right: 32px;
        }

        .labeltxtbottom {
            float: right;
            height: 30px;
            margin-right: 32px;
            margin-top: 10px;
        }
    </style>
</head>
<body style="background-color:white">
    <div class="row">
        <div class="col-3">
            <img src="~/img/favicon/clientlogo.png" style=" width: 200px; padding: 10px 0px 0px 20px; " />
        </div>
        <div class="col-6">
            <h5 style="text-align: center; padding-top: 35px; font-size: x-large;">
                Lodgement Report
            </h5>
        </div>
    </div>
    <p><h6><span class="field-label">Head of Account : @ViewBag.HeadofAccountName</span></h6></p>
    <p><h6><span class="field-label">From Date : @ViewBag.FromDate To : @ViewBag.ToDate</span></h6></p>
    <div class="labeltxtTop">
        <strong>Opening Balance:</strong>
        <span>
            @{
                decimal openingBalance = ViewBag.OpeningBalance;
                decimal currentBalance = openingBalance;
                <text>@openingBalance.ToString("N2")</text>
            }
        </span>
    </div>

    <table>
        <thead>
            <tr>
                <th>Voucher #</th>
                <th>@Localizer["lbl_Date"] /th>
                <th>Payee Name</th>
                <th>Instrument Number</th>
                <th>Debit Amount</th>
                <th>Credit Amount</th>
                <th>Current Balance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var voucher in Model)
            {
                var selectedDetail = voucher.VoucherDetails
                .FirstOrDefault(d => d.HeadofAccount_FiveID == ViewBag.HeadofAccountID);

                var totalDebit = selectedDetail?.DRCR == 1 ? (selectedDetail.DrAmt ?? 0) : 0;
                var totalCredit = selectedDetail?.DRCR == 2 ? (selectedDetail.CrAmt ?? 0) : 0;

                // Update current balance based on debit and credit
                currentBalance += (decimal)totalCredit - (decimal)totalDebit;

                <tr>
                    <td>@voucher.VoucherNo</td>
                    <td>@voucher.VoucherDate?.ToString("dd-MM-yyyy")</td>
                    <td>@voucher.PayeeName</td>
                    <td>@voucher.InstruNumber</td>
                    <td>@totalDebit.ToString("N2")</td>
                    <td>@totalCredit.ToString("N2")</td>
                    <td>@currentBalance.ToString("N2")</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="labeltxtTop">
        <strong>Closing Balance:</strong>
        <span>@currentBalance.ToString("N2")</span>
    </div>

</body>
</html>
