@model Exampler_ERP.Models.HR_Holiday
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="modal fade" id="addHolidayModal" tabindex="-1" role="dialog" aria-labelledby="addHolidayModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="addHolidayModalLabel">
                    <i class="fas fa-key me-2"></i>
					@Localizer["lbl_AddHoliday"]
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form id="addHolidayForm">
                    <div class="row">
                        <div class="col-12 mb-2">
                            <div class="form-group">
                                <label asp-for="HolidayTypeID" class="form-label fw-bold">@Localizer["lbl_HolidayTypeName"]</label>
                                <select asp-for="HolidayTypeID" asp-items="@(new SelectList(ViewBag.HolidayTypesList, "Value", "Text"))" class="form-control form-control-lg">
                                </select>
                                <span asp-validation-for="HolidayTypeID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="form-group">
								<label asp-for="HolidayDate" class="form-label fw-bold">@Localizer["lbl_HolidayDate"]</label>
                                <input asp-for="HolidayDate" class="form-control form-control-lg" type="date" />
                                <span asp-validation-for="HolidayDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close">@Localizer["lbl_Close"]</button>
                <button type="submit" class="btn btn-success" id="saveNewHoliday">@Localizer["lbl_SaveChanges"]</button>
            </div>
        </div>
    </div>
</div>
