@model IEnumerable<Exampler_ERP.Models.FI_Vouchar>

@{
    ViewData["Title"] = "Transaction - Journal Vouchar";
}

@section PageScripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+5hb5z2N7O6eHg4d5e2jtV5Wz4w69F+QYw1Fz4yD61DdE8kOkWJLvHh7vDkg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    


    <script>
        $(document).ready(function () {
            // Edit Vouchar modal popup
            $('.editVoucharLink').click(function (e) {
                e.preventDefault();
                var VoucharId = $(this).data('id');
                $.get('@Url.Action("Edit", "JournalVouchar")', { id: VoucharId }, function (data) {
                    $('#editVoucharModalContainer').html(data);
                    $('#editVoucharModal').modal('show');
                });
            });

            $('#editVoucharModalContainer').on('click', '#saveChanges', function () {
                var formData = $('#editVoucharForm').serialize();
                $.post('@Url.Action("Edit", "JournalVouchar")', formData, function (response) {
                    if (response.success) {
                        // Reload the page or update the part of the page with the updated data
                        location.reload();
                    } else {
                        showErrorAlert(response.message);
                    }
                });
            });

            // Add new Vouchar modal popup
            $('.addVoucharLink').click(function () {
                $.get('@Url.Action("Create", "JournalVouchar")', function (data) {
                    $('#addVoucharModalContainer').html(data);
                    $('#addVoucharModal').modal('show');
                });
            });

            // Save new Vouchar form
            $('#addVoucharModalContainer').on('click', '#saveNewVouchar', function () {
                var formData = $('#addVoucharForm').serialize();
                $.post('@Url.Action("Create", "JournalVouchar")', formData, function (response) {
                    if (response.success) {
                        $('#addVoucharModal').modal('hide');
                        location.reload(); // Reload the page to reflect changes
                    } else {
                        showErrorAlert(response.message);
                    }
                });
            });

            // Close Modal Add Contrainer
            $('#addVoucharModalContainer').on('click', '#Close', function () {
                $('#addVoucharModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Close Modal Edit Contrainer
            $('#editVoucharModalContainer').on('click', '#Close', function () {
                $('#editVoucharModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Delete Vouchar
            $('.deleteVoucharLink').click(function (e) {
                e.preventDefault();
                var VoucharId = $(this).data('id');
                $.post('@Url.Action("Delete", "JournalVouchar")', { id: VoucharId }, function (response) {
                    if (response.success) {
                        location.reload();
                    } else {
                        showErrorAlert(response.message);
                    }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });

           

        });
    </script>
    <script>
        function printVouchares() {
            var printWindow = window.open('@Url.Action("Print", "JournalVouchar")', '_blank');
            printWindow.focus();
        }
        $('#searchHeadofAccountButton').click(function () {
            var searchValue = $('#searchHeadofAccountInput').val();
            window.location.href = '@Url.Action("Index", "JournalVouchar")?searchHeadofAccountName=' + searchValue;
        });
    </script>


}



<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Management /</span> Journal Vouchar
</h4>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <h5 class="card-header">Searhing Box</h5>
            <div class="Searching-Box-padding">
                <div class="row mb-4">
                    <div class="col-md-8" style="padding-bottom: 15px;">
                        <!-- Search Field and Button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Head of Account" id="searchHeadofAccountInput">
                            <button class="btn btn-outline-secondary" type="button" id="searchHeadofAccountButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 text-end">
                        <!-- Action Buttons -->
                        <button type="button" class="btn btn-primary addVoucharLink">Add New</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "Vouchar")'">Excel</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="printVouchares()">Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Journal Vouchar List</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-10 col-lg-10">
                            <div class="row">
                                <div class="col-2">
                                    <p class="text-nowrap">Vouchar #</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">Date</p>
                                </div>
                                <div class="col-4">
                                    <p class="text-nowrap">Head of Account</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">Debit / Credit</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">Ammount</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-2 col-lg-2">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-nowrap">Edit</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">Delete</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="col-12 col-md-12 col-lg-12 GVDetail">
                        <div class="row">
                            <div class="col-10 col-md-10 col-lg-10">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-4">
                                        <p class="text-nowrap"><span class="smallAdd">Vouchar # : </span>@Html.DisplayFor(modelItem => item.VoucharNo)</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <p class="text-nowrap"><span class="smallAdd">Date # : </span>@Html.DisplayFor(modelItem => item.VoucharDate)</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-4">
                                        <p class="text-nowrap"><span class="smallAdd">Head of Account : </span>@Html.DisplayFor(modelItem => item.HeadofAccount_Five.HeadofAccount_FiveName)</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <p class="text-nowrap"><span class="smallAdd">Debit / Credit : </span>@Html.DisplayFor(modelItem => item.DRCR)</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <p class="text-nowrap">
                                            <span class="smallAdd">Amount: </span>
                                            @if (item.DrAmt > 0)
                                            {
                                                @Html.DisplayFor(modelItem => item.DrAmt)
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.CrAmt)
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 col-md-2 col-lg-2">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="editVoucharLink" data-id="@item.VoucharID">
                                                <i class="fa fa-pencil" style="font-size: large; color:steelblue; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="deleteVoucharLink" data-id="@item.VoucharID">
                                                <i class="fa-regular fa-trash-can" style="font-size: large; color:maroon; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

<!-- Include the modal partial -->
<div id="editVoucharModalContainer"></div>
<div id="addVoucharModalContainer"></div>


