@model IEnumerable<Exampler_ERP.Models.Settings_VoucharType>

<!DOCTYPE html>
<html>
<head>
    <title>Print Vouchar Types</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
    <h2>Vouchar Type List</h2>
    <table>
        <thead>
            <tr>
                <th>VoucharType ID</th>
                <th>Vouchar Type Name</th>
                <th>Active</th>
                <th>Vouchar Nature</th>
                <th>Vouchar Prefix</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var VoucharType in Model)
            {
                <tr>
                    <td>@VoucharType.VoucharTypeID</td>
                    <td>@VoucharType.VoucharTypeName</td>
                    <td>@(VoucharType.ActiveYNID == 1 ? "Yes" : "No")</td>
                    <td>@VoucharType.VoucharNature</td>
                    <td>@VoucharType.VoucharPrefix</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
