@model Exampler_ERP.Models.Temp.IncomeSheetViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "_BlankLayout"; // Use the appropriate layout
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Localizer["lbl_IncomeSheetPrint"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: white;
        }

        h2 {
            text-align: center;
            margin: 0;
            padding: 10px;
            background-color: #28a745;
            color: white;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
            font-size: 14px;
        }

        th {
            background-color: #d9d9d9;
            text-align: center;
        }

        td {
            text-align: center;
        }

        .totals-row th {
            text-align: center;
            font-weight: bold;
            background-color: #f2f2f2;
        }

        .green-banner {
            text-align: center;
            background-color: #28a745;
            color: white;
            font-size: 18px;
            padding: 10px 0;
        }

        .title {
            text-align: center;
            font-size: 24px;
            font-weight: bold;
        }

        .subtitle {
            text-align: center;
            font-size: 16px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body style="background-color:white">
    <div class="row">
        <div class="col-3">
            <img src="~/img/favicon/clientlogo.png" style=" width: 200px; padding: 10px 0px 0px 20px; " />
        </div>
        <div class="col-6">
            <h5 style="text-align: center; padding-top: 35px; font-size: x-large;">
                @Localizer["lbl_IncomeSheetReport"]
            </h5>
            <h6 style="text-align: center; padding-top: 35px; font-size: x-large;">
                <span class="field-label">
                    @if (ViewBag.Month != null && ViewBag.Month > 0 && ViewBag.Month <= 12)

                    {

                        string[] months = new string[]

                        {
                    "January", "February", "March", "April", "May", "June",
                    "July", "August", "September", "October", "November", "December"

                        };
                        <text> @Localizer["lbl_FortheMonthof"] @months[ViewBag.Month - 1] (@ViewBag.Year)</text>
                    }

                    else

                    {
                        <text> @Localizer["lbl_FortheYearof"] @ViewBag.Year</text>
                    }
                </span>
            </h6>
        </div>
    </div>

    <h3>@Localizer["lbl_Revenues"]</h3>
    <table>
        <thead>
            <tr>
                <th>@Localizer["lbl_HeadofAccount"]</th>
                <th>@Localizer["lbl_Amount"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var revenue in Model.Revenues)
            {
                <tr>
                    @{
                        double Amt = revenue.CrAmt + revenue.DrAmt;
                    }
                    <td>@revenue.AccountName</td>
                    <td>@Amt.ToString("N2")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td><strong>@Localizer["lbl_TotalRevenues"]</strong></td>
                <td><strong>@Model.TotalRevenues.ToString("N2")</strong></td>
            </tr>
        </tfoot>
    </table>

    <h3>@Localizer["lbl_Expenses"]</h3>
    <table>
        <thead>
            <tr>
                <th>@Localizer["lbl_HeadofAccount"]</th>
                <th>@Localizer["lbl_Amount"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in Model.Expenses)
            {
                <tr>
                    @{
                        double Amt = expense.CrAmt + expense.DrAmt;
                    }
                    <td>@expense.AccountName</td>
                    <td>@Amt.ToString("N2")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td><strong>@Localizer["lbl_TotalExpenses"]</strong></td>
                <td><strong>@Model.TotalExpenses.ToString("N2")</strong></td>
            </tr>
        </tfoot>
    </table>

    <h3 style="text-align: center;">@Localizer["lbl_NetIncome"]: @Model.NetIncome.ToString("C")</h3>
    <script>
        window.print();
    </script>
</body>
</html>

