@model Exampler_ERP.Models.Temp.EmployeeListViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Finance - Fixed Deduction";
}

@section PageScripts {

    <script>
        $(document).ready(function () {
           $('#FixedDeductionListContainer').on('click', '.editFixedDeductionLink', function (e) {
                e.preventDefault();
                var FixedDeductionTypeId = $(this).data('id');
                $.get('@Url.Action("Edit", "FixedDeduction")', { id: FixedDeductionTypeId }, function (data) {
                    $('#editFixedDeductionModalContainer').html(data);
                    $('#editFixedDeductionModal').modal('show');
                });
            });

            $('#editFixedDeductionModalContainer').on('click', '#saveChanges', function () {
                var formData = $('#editFixedDeductionForm').serialize();
                console.log("Serialized form data:", formData); // Log serialized data for debugging
                $.post('@Url.Action("Edit", "FixedDeduction")', formData, function (response) {
                    if (response.success) {
                            $('#editFixedDeductionModal').modal('hide');

                            // ✅ Ab poora list AJAX se reload karo
                            $.get('@Url.Action("Index", "FixedDeduction")', function (partialHtml) {
                                var html = $(partialHtml).find('#FixedDeductionListContainer').html();
                                $('#FixedDeductionListContainer').html(html);
                            });
                        }
                });
            });

            // Close Modal Edit Contrainer
            $('#editFixedDeductionModalContainer').on('click', '#Close', function () {
                $('#editFixedDeductionModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });


            // Delete FixedDeduction
           $('#FixedDeductionListContainer').on('click', '.deleteFixedDeductionLink', function (e) {
                e.preventDefault();
                var FixedDeductionId = $(this).data('id');
                $.post('@Url.Action("Delete", "FixedDeduction")', { id: FixedDeductionId }, function (response) {
                    if (response.success) {
                    $.get('@Url.Action("Index", "FixedDeduction")', function (partialHtml) {
                      var html = $(partialHtml).find('#FixedDeductionListContainer').html();
                      $('#FixedDeductionListContainer').html(html);
                    });
                  }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
            $.widget("custom.autocomplete", $.ui.autocomplete, {
                _renderItem: function (ul, item) {
                    return $("<li>")
                        .append(item.label)  // Render the HTML content in `label`
                        .appendTo(ul);
                }
            });


            $("#searchEmployeeInput").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetEmployeeSuggestions", "Employee")',
                        type: 'GET',
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.label,  // HTML content
                                    value: item.id      // Employee ID
                                };
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    // Do something when an employee is selected
                    console.log(ui.item.value); // Employee ID
                    window.location.href = '@Url.Action("Index", "FixedDeduction")?id=' + ui.item.value;
                }
            });
        });
    </script>
    <script>
        function printFixedDeductions() {
            var printWindow = window.open('@Url.Action("Print", "FixedDeduction")', '_blank');
            printWindow.focus();
        }
        $('#searchEmployeeButton').click(function () {
            var searchValue = $('#searchEmployeeInput').val();
            window.location.href = '@Url.Action("Index", "FixedDeduction")?id=' + searchValue;
        });
    </script>
}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Finance /</span> Fixed Deduction
</h4>

<div class="row">
        <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">@Localizer["lbl_SearchingBox"]</h5>
            <div class="Searching-Box-padding">
                <div class="row mb-4">
                    <div class="col-md-8" style="padding-bottom: 15px;">
                        <!-- Search Field and Button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="@Localizer["lbl_SearchEmployee"]" id="searchEmployeeInput">
                            <button class="btn btn-outline-secondary" type="button" id="searchEmployeeButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>

                    </div>

                </div>
            </div>
            
        </div>
    </div>
    </div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Fixed Deduction @Localizer["lbl_List"]</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-11 col-lg-11">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_EmployeeName"]</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">Type Count</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-1 col-lg-1">
                            <div class="row">
                                <div class="col-12">
                                    <p class="text-nowrap">@Localizer["lbl_Edit"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="FixedDeductionListContainer">
                    @Html.Partial("~/Views/HR/FixedDeduction/FixedDeduction/_FixedDeductionListPartial.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Include the modal partial -->
<div id="editFixedDeductionModalContainer"></div>
