@model Exampler_ERP.Models.Temp.EmployeeListViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["lbl_Finance"] + "  - " + @Localizer["lbl_FixedDeduction"];
}

@section PageScripts {

    <script>
        $(document).ready(function () {
           $('#FixedDeductionListContainer').on('click', '.editFixedDeductionLink', function (e) {
                e.preventDefault();
                var FixedDeductionTypeId = $(this).data('id');
                $.get('@Url.Action("Edit", "FixedDeduction")', { id: FixedDeductionTypeId }, function (data) {
                    $('#editFixedDeductionModalContainer').html(data);
                    $('#editFixedDeductionModal').modal('show');
                });
            });

            $('#editFixedDeductionModalContainer').on('click', '#saveChanges', function () {
                var formData = $('#editFixedDeductionForm').serialize();
                console.log("Serialized form data:", formData); // Log serialized data for debugging
                $.post('@Url.Action("Edit", "FixedDeduction")', formData, function (response) {
                    if (response.success) {
                            $('#editFixedDeductionModal').modal('hide');

                            // ✅ Ab poora list AJAX se reload karo
                            $.get('@Url.Action("Index", "FixedDeduction")', function (partialHtml) {
                                var html = $(partialHtml).find('#FixedDeductionListContainer').html();
                                $('#FixedDeductionListContainer').html(html);
                            });
                        }
                });
            });

            // Close Modal Edit Contrainer
            $('#editFixedDeductionModalContainer').on('click', '#Close', function () {
                $('#editFixedDeductionModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });


            // Delete FixedDeduction
           $('#FixedDeductionListContainer').on('click', '.deleteFixedDeductionLink', function (e) {
                e.preventDefault();
                var FixedDeductionId = $(this).data('id');
                $.post('@Url.Action("Delete", "FixedDeduction")', { id: FixedDeductionId }, function (response) {
                    if (response.success) {
                    $.get('@Url.Action("Index", "FixedDeduction")', function (partialHtml) {
                      var html = $(partialHtml).find('#FixedDeductionListContainer').html();
                      $('#FixedDeductionListContainer').html(html);
                    });
                  }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
            $.widget("custom.autocomplete", $.ui.autocomplete, {
                _renderItem: function (ul, item) {
                    return $("<li>")
                        .append(item.label)  // Render the HTML content in `label`
                        .appendTo(ul);
                }
            });

        });
    </script>
    <script>
        function printFixedDeductions() {
            var printWindow = window.open('@Url.Action("Print", "FixedDeduction")', '_blank');
            printWindow.focus();
        }
        $(document).ready(function () {
            $("#EmployeeName").autocomplete({
                source: function (request, response) {
                    $("#EmployeeID").val("");
                    $.ajax({
                        url: '@Url.Action("GetEmployeeSuggestions", "Employee")', // Ensure this matches the C# method
                        type: 'GET',
                        data: { term: request.term },
                        success: function (data) {

                            response($.map(data, function (item) {
                                return {
                                    label: item.label,  // HTML content to be displayed in suggestions
                                    id: item.id,     // Employee ID for the hidden input
                                    name: item.name,      // Full name to be used in the input field
                                    value: item.name
                                };
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {

                    // Set the selected employee's ID and name
                    $("#EmployeeID").val(ui.item.id); // Set the hidden input for Employee ID
                    $("#EmployeeName").val(ui.item.name); // Set the input field for Employee Name
                }
            });
        $('#searchEmployeeForm').submit(function (e) {
                e.preventDefault(); // Prevent full page reload

                var form = $(this);
                var actionUrl = form.attr('action');

                // Serialize form data
                var formData = form.serialize();

                $.get(actionUrl, formData, function (partialHtml) {
                    // Load only the relevant part of the response
                    var html = $(partialHtml).find('#FixedDeductionListContainer').html();
                    $('#FixedDeductionListContainer').html(html);
                });
            });
        });
    </script>
}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">@Localizer["lbl_Finance"] /</span> @Localizer["lbl_FixedDeduction"]
</h4>
<form id="searchEmployeeForm" method="get" action="@Url.Action("Index", "FixedDeduction")">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <h5 class="card-header">@Localizer["lbl_SearchingBox"]</h5>
                <div class="Searching-Box-padding">
                    <div class="row mb-4">
                        <div class="col-md-3 mb-3">
                            <label class="form-label fw-bold">@Localizer["lbl_EmployeeName"]</label>
                            <input type="text" class="form-control" id="EmployeeName" placeholder="@Localizer["lbl_SearchEmployee"]" name="EmployeeName" value="@ViewBag.EmployeeName" />
                            <input type="hidden" class="form-control" id="EmployeeID" placeholder="@Localizer["lbl_SearchEmployee"]" name="EmployeeID" value="@ViewBag.EmployeeID" />
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="form-label fw-bold">@Localizer["lbl_BranchName"]</label>
                            <select name="BranchID" id="BranchID" class="form-control">
                                @foreach (var item in ViewBag.BranchsList)
                                {
                                    if (item.Value == ViewBag.BranchID?.ToString())
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="form-label fw-bold">@Localizer["lbl_DepartmentName"]</label>
                            <select name="DepartmentID" id="DepartmentID" class="form-control">
                                @foreach (var item in ViewBag.DepartmentsList)
                                {
                                    if (item.Value == ViewBag.DepartmentID?.ToString())
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="form-label fw-bold">@Localizer["lbl_DesignationName"]</label>
                            <select name="DesignationID" id="DesignationID" class="form-control">
                                @foreach (var item in ViewBag.DesignationsList)
                                {
                                    if (item.Value == ViewBag.DesignationID?.ToString())
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="col-md-12 text-end">
                            <!-- Action Buttons -->
                            <button type="submit" class="btn btn-primary">@Localizer["lbl_Search"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">@Localizer["lbl_FixedDeductionList"]</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-11 col-lg-11">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_EmployeeName"]</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_TypeCount"]</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-1 col-lg-1">
                            <div class="row">
                                <div class="col-12">
                                    <p class="text-nowrap">@Localizer["lbl_Edit"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="FixedDeductionListContainer">
                    @Html.Partial("~/Views/HR/Financial/FixedDeduction/_FixedDeductionListPartial.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Include the modal partial -->
<div id="editFixedDeductionModalContainer"></div>
