@model IEnumerable<Exampler_ERP.Models.HR_Employee>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    var lblEmployeeName = Localizer["lbl_EmployeeName"];
    var lblActive = Localizer["lbl_Active"];
    var lblYes = Localizer["lbl_Yes"];
    var lblNo = Localizer["lbl_No"];
}
@foreach (var item in Model)
{
	<div class="col-12 col-md-12 col-lg-12 GVDetail">
		<div class="row">
			<div class="col-11 col-md-10 col-lg-6">
				<div class="row">
					<div class="col-12 col-md-12 col-lg-3">
						<p class="text-nowrap">
							@if (item.Picture != null)
							{
								<img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Picture)" style="width: 50px; height: 50px; border-radius:50%" alt="Profile Picture" />
							}
							else
							{
								<img src="~/img/icons/noimage.jpg" style="width: 50px; height: 50px; border-radius:50%" alt="No Image Available" />
							}
						</p>
					</div>
					<div class="col-12 col-md-12 col-lg-6">
                        <p class="text-nowrap"><span class="smallAdd">@lblEmployeeName : </span>@Html.Raw($"{item.FirstName} {item.FatherName} {item.FamilyName}")</p>
					</div>
					<div class="col-12 col-md-12 col-lg-3">

						<p class="text-nowrap">
                            <span class="smallAdd">@lblActive : </span>
							@if (item.ActiveYNID == 1)
							{
                                <span>@lblYes</span>
							}
							else if (item.ActiveYNID == 2)
							{
                                <span>@lblNo</span>
							}
						</p>
					</div>
				</div>
			</div>
			<div class="col-1 col-md-2 col-lg-6">
				<div class="row">
					<div class="col-12 col-md-12 col-lg-2">
						<div class="btn-group" role="group" aria-label="Actions">
							<a href="javascript:void(0)" class="editEmployeeLink" data-id="@item.EmployeeID">
								<i class="fa fa-pencil" style="font-size: large; color:steelblue; line-height: 2;"></i>
							</a>
						</div>
					</div>
					<div class="col-12 col-md-12 col-lg-2">
						<div class="btn-group" role="group" aria-label="Actions">
							<a href="javascript:void(0)" class="directManagerEmployeeLink" data-id="@item.EmployeeID">
								<i class="fa fa-pencil" style="font-size: large; color:steelblue; line-height: 2;"></i>
							</a>
						</div>
					</div>
					<div class="col-12 col-md-12 col-lg-2">
						<div class="btn-group" role="group" aria-label="Actions">
							<a href="javascript:void(0)" class="employeeEducationLink" data-id="@item.EmployeeID">
								<i class="fa fa-pencil" style="font-size: large; color:steelblue; line-height: 2;"></i>
							</a>
						</div>
					</div>
					<div class="col-12 col-md-12 col-lg-2">
						<div class="btn-group" role="group" aria-label="Actions">
							<a href="javascript:void(0)" class="employeeExperienceLink" data-id="@item.EmployeeID">
								<i class="fa fa-pencil" style="font-size: large; color:steelblue; line-height: 2;"></i>
							</a>
						</div>
					</div>
					<div class="col-12 col-md-12 col-lg-2">
						<div class="btn-group" role="group" aria-label="Actions">
							<a href="javascript:void(0)" class="PrintEmployeeBioDataLink" data-id="@item.EmployeeID">
								<i class="fa fa-print" style="font-size: large; color:steelblue; line-height: 2;"></i>
							</a>
						</div>
					</div>
					<div class="col-12 col-md-12 col-lg-2">
						<div class="btn-group" role="group" aria-label="Actions">
							<a href="javascript:void(0)" class="deleteEmployeeLink" data-id="@item.EmployeeID">
								<i class="fa-regular fa-trash-can" style="font-size: large; color:maroon; line-height: 2;"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
<div class="row">
    <div class="col-12 text-center mt-3">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">

                @* Previous Button *@
                @if (ViewBag.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1, EmployeeID = ViewBag.EmployeeID, BranchID = ViewBag.BranchID, DepartmentID = ViewBag.DepartmentID, DesignationID = ViewBag.DesignationID })">Previous</a>
                    </li>
                }

                @* Page Numbers *@
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    if (i == ViewBag.CurrentPage)
                    {
                        <li class="page-item active"><span class="page-link">@i</span></li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = i, EmployeeID = ViewBag.EmployeeID, BranchID = ViewBag.BranchID, DepartmentID = ViewBag.DepartmentID, DesignationID = ViewBag.DesignationID })">@i</a>
                        </li>
                    }
                }

                @* Next Button *@
                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1, EmployeeID = ViewBag.EmployeeID, BranchID = ViewBag.BranchID, DepartmentID = ViewBag.DepartmentID, DesignationID = ViewBag.DesignationID })">Next</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>
