@model IEnumerable<Exampler_ERP.Models.HR_Employee>

@{
    ViewData["Title"] = "HR - Employee";
}

@section PageScripts {
    
    
    <script>
        $(document).ready(function () {
            $('.editEmployeeLink').click(function (e) {
                e.preventDefault();
                var employeeId = $(this).data('id');
                $.get('@Url.Action("Edit", "Employee")', { id: employeeId }, function (data) {
                    $('#editEmployeeModalContainer').html(data);
                    $('#editEmployeeModal').modal('show');
                });
            });

            $('#editEmployeeModalContainer').on('click', '#saveEmployeeChanges', function () {
                var form = document.getElementById('editEmployeeForm');
                var formData = new FormData(form);

                $.ajax({
                    url: '@Url.Action("Edit", "Employee")',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            $('#editEmployeeModal').modal('hide');
                            location.reload(); 
                        } else {
                            showErrorAlert(response.message);
                        }
                    },
                    error: function () {
                        showErrorAlert(response.message);
                    }
                });
            });

            $('.addEmployeeLink').click(function () {
                $.get('@Url.Action("Create", "Employee")', function (data) {
                    $('#addEmployeeModalContainer').html(data);
                    $('#addEmployeeModal').modal('show');
                });
            });

            

            $('#addEmployeeModalContainer').on('click', '#saveNewEmployee', function () {
                var form = document.getElementById('addEmployeeForm');
                var formData = new FormData(form);
                $.ajax({
                    url: '@Url.Action("Create", "Employee")',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            $('#addEmployeeModal').modal('hide');
                            location.reload();
                        } else {
                            showErrorAlert(response.message);
                        }
                    },
                    error: function () {
                        showErrorAlert(response.message);
                    }
                });
            });

            $('.directManagerEmployeeLink').click(function (e) {
                e.preventDefault();
                var employeeId = $(this).data('id');
                $.get('@Url.Action("DirectManager", "Employee")', { id: employeeId }, function (data) {
                    $('#directManagerEmployeeModalContainer').html(data);
                    $('#directManagerEmployeeModal').modal('show');
                });
            });
            $('#directManagerEmployeeModalContainer').on('click', '#saveEmployeeChanges', function () {
                var formData = $('#DirectManagerEmployeeForm').serialize();
                $.post('@Url.Action("DirectManager", "Employee")', formData, function (response) {
                    if (response.success) {
                        $('#directManagerEmployeeModal').modal('hide');
                        location.reload();
                    } else {
                        showErrorAlert(response.message);
                    }
                });
            });

            $('.employeeEducationLink').click(function (e) {
                e.preventDefault();
                var educationId = $(this).data('id');

                $.get('@Url.Action("Education", "Employee")', { id: educationId }, function (data) {
                    $('#employeeEducationModalContainer').html(data);
                    $('#employeeEducationModal').modal('show');
                });
            });

            $('#employeeEducationModalContainer').on('click', '#saveEmployeeChanges', function (e) {
                e.preventDefault();
                var form = $('#employeeEducationForm')[0];
                console.log(form); 
                var formData = new FormData(form);
                $.ajax({
                    url: '@Url.Action("Education", "Employee")',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            location.reload(); 
                        } else {

                            showErrorAlert(response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('AJAX Error: ' + error);
                        alert('An unexpected error occurred. Please try again later.');
                    }
                });
            });

            $('.employeeExperienceLink').click(function (e) {
                e.preventDefault();
                var educationId = $(this).data('id');

                $.get('@Url.Action("Experience", "Employee")', { id: educationId }, function (data) {
                    $('#employeeExperienceModalContainer').html(data);
                    $('#employeeExperienceModal').modal('show');
                });
            });

            $('#employeeExperienceModalContainer').on('click', '#saveEmployeeChanges', function (e) {
                e.preventDefault();
                var form = $('#employeeExperienceForm')[0];
                console.log(form);
                var formData = new FormData(form); 

                $.ajax({
                    url: '@Url.Action("Experience", "Employee")',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            location.reload(); 
                        } else {
                            showErrorAlert(response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        showErrorAlert(response.message);
                    }
                });
            });


            $('#addEmployeeModalContainer').on('click', '#Close', function () {
                $('#addEmployeeModal').modal('hide'); 
            });

            $('#editEmployeeModalContainer').on('click', '#Close', function () {
                $('#editEmployeeModal').modal('hide'); 
            });


            $('.deleteEmployeeLink').click(function (e) {
                e.preventDefault();
                var employeeId = $(this).data('id');

                if (confirm('Are you sure you want to delete this employee?')) {
                    $.post('@Url.Action("Delete", "Employee")', { id: employeeId }, function (response) {
                        if (response.success) {
                            location.reload();
                        } else {
                            showErrorAlert(response.message);
                        }
                    });
                } else {
                    showErrorAlert(response.message);
                }
            });


            $('#printButton').click(function () {
                window.print();
            });
            $.widget("custom.autocomplete", $.ui.autocomplete, {
                _renderItem: function (ul, item) {
                    return $("<li>")
                        .append(item.label)  // Render the HTML content in `label`
                        .appendTo(ul);
                }
            });

            $("#searchEmployeeInput").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetEmployeeSuggestions", "Employee")',
                        type: 'GET',
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.label,  // HTML content
                                    value: item.id      // Employee ID
                                };
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    // Do something when an employee is selected
                    console.log(ui.item.value); // Employee ID
                    window.location.href = '@Url.Action("Index", "Employee")?id=' + ui.item.value;
                }
            });
     
           
        });
    </script>
    <script>
        function printEmployees() {
            var printWindow = window.open('@Url.Action("Print", "Employee")', '_blank');
            printWindow.focus();
        }

        $(document).on('click', '.PrintEmployeeBioDataLink', function (e) {
            e.preventDefault();

            // Get the EmployeeID from the data-id attribute
            var employeeID = $(this).data('id');

            // Call the function to open the print window and pass EmployeeID
            PrintEmployeeBioData(employeeID);
        });
        function PrintEmployeeBioData(employeeID) {
            // Construct the URL with the EmployeeID parameter
            var url = '@Url.Action("PrintEmployeeBioData", "Employee")' + '?id=' + employeeID;

            // Open the new window for printing
            var printWindow = window.open(url, '_blank');
            printWindow.focus();
        }
        //Close Modal
        function closeModal(){
            $('.close').click(function () {
                $('#addEmployeeModal').modal('hide');
                $('#editEmployeeModal').modal('hide');
            });
        }
        $(document).ready(function () {
            // Handle the search button click
            
        });
        $('#searchEmployeeButton').click(function () {
            var searchValue = $('#searchEmployeeInput').val();
            window.location.href = '@Url.Action("Index", "Employee")?id=' + searchValue;
        });
    </script>
}

<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Employeement /</span> Employee
</h4>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <h5 class="card-header">Searhing Box</h5>
            <div class="Searching-Box-padding">
                <div class="row mb-4">
                    <div class="col-md-8" style="padding-bottom: 15px;">
                        <!-- Search Field and Button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Employee" id="searchEmployeeInput">
                            <button class="btn btn-outline-secondary" type="button" id="searchEmployeeButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>

                    </div>
                    <div class="col-md-4 text-end">
                        <!-- Action Buttons -->
                        <button type="button" class="btn btn-primary addEmployeeLink">Add New</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "Employee")'">Excel</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="printEmployees()">Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Employee List</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-10 col-lg-6">
                            <div class="row">
                                <div class="col-3">
                                    <p class="text-nowrap">Picture</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">Employee Name</p>
                                </div>
                                <div class="col-3">
                                    <p class="text-nowrap">Active</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-2 col-lg-6">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-2">
                                    <p class="text-nowrap">Edit BioData</p>
                                </div>
                                <div class="col-12 col-md-12 col-lg-2">
                                    <p class="text-nowrap">Direct Manager</p>
                                </div>
                                <div class="col-12 col-md-12 col-lg-2">
                                    <p class="text-nowrap">Education</p>
                                </div>
                                <div class="col-12 col-md-12 col-lg-2">
                                    <p class="text-nowrap">Experience</p>
                                </div>
                                <div class="col-12 col-md-12 col-lg-2">
                                    <p class="text-nowrap">Print</p>
                                </div>
                                <div class="col-12 col-md-12 col-lg-2">
                                    <p class="text-nowrap">Delete</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="col-12 col-md-12 col-lg-12 GVDetail">
                        <div class="row">
                            <div class="col-11 col-md-10 col-lg-6">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-3">
                                        <p class="text-nowrap">
                                            @if (item.Picture != null)
                                            {
                                                <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Picture)" style="width: 50px; height: 50px; border-radius:50%" alt="Profile Picture" />
                                            }
                                            else
                                            {
                                                <img src="~/img/icons/noimage.jpg" style="width: 50px; height: 50px; border-radius:50%" alt="No Image Available" />
                                            }
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <p class="text-nowrap"><span class="smallAdd">Employee Name: </span>@Html.Raw($"{item.FirstName} {item.FatherName} {item.FamilyName}")</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-3">

                                        <p class="text-nowrap">
                                            <span class="smallAdd">Active: </span>
                                            @if (item.ActiveYNID == 1)
                                            {
                                                <span>Yes</span>
                                            }
                                            else if (item.ActiveYNID == 2)
                                            {
                                                <span>No</span>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 col-md-2 col-lg-6">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="editEmployeeLink" data-id="@item.EmployeeID">
                                                <i class="fa fa-pencil" style="font-size: large; color:steelblue; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="directManagerEmployeeLink" data-id="@item.EmployeeID">
                                                <i class="fa fa-pencil" style="font-size: large; color:steelblue; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="employeeEducationLink" data-id="@item.EmployeeID">
                                                <i class="fa fa-pencil" style="font-size: large; color:steelblue; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="employeeExperienceLink" data-id="@item.EmployeeID">
                                                <i class="fa fa-pencil" style="font-size: large; color:steelblue; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="PrintEmployeeBioDataLink" data-id="@item.EmployeeID">
                                                <i class="fa fa-print" style="font-size: large; color:steelblue; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="deleteEmployeeLink" data-id="@item.EmployeeID">
                                                <i class="fa-regular fa-trash-can" style="font-size: large; color:maroon; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="mt-4">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include the modal partial -->
<div id="editEmployeeModalContainer"></div>
<div id="addEmployeeModalContainer"></div>
<div id="directManagerEmployeeModalContainer"></div>
<div id="employeeEducationModalContainer"></div>
<div id="employeeExperienceModalContainer"></div>
