@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "_EmployeeContentNavbarLayout";
    ViewData["Title"] = "Employee Portal - Reports";
}

@section PageScripts {
    <script src="~/js/pages-account-settings-account.js"></script>
    <link href="~/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Employee Portal /</span> @Localizer["lbl_Report"]s
</h4>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item"><a class="nav-link" href="~/EmployeeApply_Dashboard/Index"><i class="bx bx-user me-1"></i> Apply</a></li>
            <li class="nav-item"><a class="nav-link active" href="javascript:void(0);"><i class="bx bx-bell me-1"></i> @Localizer["lbl_Report"]</a></li>
        </ul>
        <div class="card mb-4">
            <h5 class="card-header"> @Localizer["lbl_Details"]</h5>
            <div class="row" style="padding: 30px 30px 0px 30px;">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a asp-controller="PrintContract" asp-action="Index">
                        <div class="shadow mb-4">
                            <div class="small-box bg-white">
                                <div class="inner Card1div">
                                    <strong class="CardFontColor">Contract Print</strong>
                                    <h4 class="CardCountFontColor">
                                        0 @ViewBag.BankAccountCount
                                    </h4>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-book Card1I" aria-hidden="true"></i>
                                </div>
                                <div class="small-box-footer Card1A"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a asp-controller="Applicant" asp-action="Index">
                        <div class="shadow mb-4">
                            <div class="small-box bg-white">
                                <div class="inner Card1div">
                                    <strong class="CardFontColor">Vacation</strong>
                                    <h4 class="CardCountFontColor">
                                       0 @ViewBag.ApplicantCount
                                    </h4>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-tasks Card1I" aria-hidden="true"></i>
                                </div>
                                <div class="small-box-footer Card1A"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a asp-controller="Applicant" asp-action="Index">
                        <div class="shadow mb-4">
                            <div class="small-box bg-white">
                                <div class="inner Card1div">
                                    <strong class="CardFontColor">OverTime</strong>
                                    <h4 class="CardCountFontColor">
                                       0 @ViewBag.ApplicantCount
                                    </h4>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-tasks Card1I" aria-hidden="true"></i>
                                </div>
                                <div class="small-box-footer Card1A"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a asp-controller="Applicant" asp-action="Index">
                        <div class="shadow mb-4">
                            <div class="small-box bg-white">
                                <div class="inner Card1div">
                                    <strong class="CardFontColor">Deduction</strong>
                                    <h4 class="CardCountFontColor">
                                       0 @ViewBag.ApplicantCount
                                    </h4>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-tasks Card1I" aria-hidden="true"></i>
                                </div>
                                <div class="small-box-footer Card1A"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a asp-controller="Contract" asp-action="Index">
                        <div class="shadow mb-4">
                            <div class="small-box bg-white">
                                <div class="inner Card1div">
                                    <strong class="CardFontColor">Monthly Attendance</strong>
                                    <h4 class="CardCountFontColor">
                                       0 @ViewBag.ContractCount
                                    </h4>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-book Card1I" aria-hidden="true"></i>
                                </div>
                                <div class="small-box-footer Card1A"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a asp-controller="Contract" asp-action="Index">
                        <div class="shadow mb-4">
                            <div class="small-box bg-white">
                                <div class="inner Card1div">
                                    <strong class="CardFontColor">Daily TimeSheet</strong>
                                    <h4 class="CardCountFontColor">
                                       0 @ViewBag.ContractCount
                                    </h4>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-book Card1I" aria-hidden="true"></i>
                                </div>
                                <div class="small-box-footer Card1A"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a asp-controller="Salary" asp-action="Index">
                        <div class="shadow mb-4">
                            <div class="small-box bg-white">
                                <div class="inner Card1div">
                                    <strong class="CardFontColor">Salary Slip Print</strong>
                                    <h4 class="CardCountFontColor">
                                       0 @ViewBag.SalaryCount
                                    </h4>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-tasks Card1I" aria-hidden="true"></i>
                                </div>
                                <div class="small-box-footer Card1A"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a asp-controller="Joining" asp-action="Index">
                        <div class="shadow mb-4">
                            <div class="small-box bg-white">
                                <div class="inner Card1div">
                                    <strong class="CardFontColor">Tax Deduction</strong>
                                    <h4 class="CardCountFontColor">
                                       0 @ViewBag.JoiningCount
                                    </h4>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-print Card1I" aria-hidden="true"></i>
                                </div>
                                <div class="small-box-footer Card1A"></div>
                            </div>
                        </div>
                    </a>
                </div>
                
            
            </div>
        </div>
    </div>
</div>
