@model IEnumerable<Exampler_ERP.Models.CR_FaceAttendance>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "_PrintLayout";
}
<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["lbl_PrintFaceAttendance"]</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
    <h2>@Localizer["lbl_FaceAttendanceList"]</h2>
    <table>
        <thead>
            <tr>
                <th>@Localizer["lbl_FaceAttendanceID"]</th>
                <th>@Localizer["lbl_EmployeeName"]</th>
                <th>@Localizer["lbl_Date"] </th>
                <th>@Localizer["lbl_InTime"]</th>
                <th>@Localizer["lbl_OutTime"]</th>
                <th>@Localizer["lbl_DutyHours"] Days</th>
                <th>@Localizer["lbl_DutyMinutess"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var FaceAttendanceTimeAdjust in Model)
            {
                <tr>
                    <td>@FaceAttendanceTimeAdjust.FaceAttendanceID</td>
                    <td>@($"{FaceAttendanceTimeAdjust.Employee?.FirstName} {FaceAttendanceTimeAdjust.Employee?.FatherName} {FaceAttendanceTimeAdjust.Employee?.FamilyName}")</td>
                    <td>@FaceAttendanceTimeAdjust.MarkDate.ToString("dd/MMM/yyyy")</td>
                    <td>@FaceAttendanceTimeAdjust.InTime.ToString("hh:mm:ss")</td>
                    <td>@FaceAttendanceTimeAdjust.OutTime.ToString("hh:mm:ss")</td>
                    <td>@FaceAttendanceTimeAdjust.DHours</td>
                    <td>@FaceAttendanceTimeAdjust.DMinutes</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
