@model Exampler_ERP.Models.Temp.MonthlyPayrollPrintViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
	var lblSalarySlip = Localizer["lbl_SalarySlip"];
	var lblFullName = Localizer["lbl_FullName"];
	var lblBranch = Localizer["lbl_Branch"];
	var lblDepartment = Localizer["lbl_Department"];
	var lblDesignation = Localizer["lbl_Designation"];
	var lblBankName = Localizer["lbl_BankName"];
	var lblBankBranch = Localizer["lbl_BankBranch"];
	var lblBankAccount = Localizer["lbl_BankAccount"];
	var lblAccountTitle = Localizer["lbl_AccountTitle"];
	var lblSalary = Localizer["lbl_Salary"];
	var lblAmount = Localizer["lbl_Amount"];
	var lblTotal = Localizer["lbl_Total"];
	var lblOtherAllowance = Localizer["lbl_OtherAllowance"];
	var lblOvertime = Localizer["lbl_Overtime"];
	var lblDeduction = Localizer["lbl_Deduction"];
	var lblGrossSalary = Localizer["lbl_GrossSalary"];
	var lblNoadditionalallowancedataavailable = Localizer["lbl_Noadditionalallowancedataavailable"];
	var lblNoovertimedataavailable = Localizer["lbl_Noovertimedataavailable"];
	var lblNodeductiondataavailable = Localizer["lbl_Nodeductiondataavailable"];
	var lblFixedDeduction = Localizer["lbl_FixedDeduction"];
	var lblNofixeddeductiondataavailable = Localizer["lbl_Nofixeddeductiondataavailable"];

}
<style>
    .text-nowrap {
        font-weight: 700;
    }

    .bleft {
        border-left: solid 1px black;
    }

    .bright {
        border-right: solid 1px black;
    }

    .btop {
        border-top: solid 1px black;
    }

    .bbottom {
        border-bottom: solid 1px black;
    }

    .txtRight {
        text-align-last: right;
    }

    .txtcenter {
        text-align-last: center;
    }

    p {
        margin-top: 3px;
        margin-bottom: 1px;
    }

    .headercolor {
        background-color: blue;
        color: white;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            @foreach (var empPayroll in Model.EmployeePayrolls) // Loop through employee payroll data
            {
                decimal totalGrossAmount = 0;
                <div class="row">
                    <div class="col-3">
                        <img src="~/img/favicon/clientlogo.png" style=" width: 200px; padding: 10px 0px 0px 20px; " />
                    </div>
                    <div class="col-6">
                        <h5 style="text-align: center; padding-top: 35px; font-size: x-large;">
                            @lblSalarySlip
                        </h5>
                    </div>
                    <div class="col-3">
                        <h5 style="text-align: right; padding-top: 35px; font-size: x-large;padding-right: 25px;">
                            @empPayroll.PayslipDetails.MonthType.MonthTypeName @empPayroll.PayslipDetails.Year
                        </h5>
                    </div>
                </div>

                <div class="row" style="overflow-y: overlay; padding: 15px;">
                    <div class="col-12">
                        <div class="row bleft bright btop bbottom">
                            <div class="col-3">
                                <p>@lblFullName: @empPayroll.Employee.FirstName @empPayroll.Employee.FatherName @empPayroll.Employee.FamilyName</p>
                            </div>
                            <div class="col-3">
                                <p>@lblBranch: @empPayroll.Employee.BranchType.BranchTypeName</p>
                            </div>
                            <div class="col-3">
                                <p>@lblDepartment: @empPayroll.Employee.DepartmentType.DepartmentTypeName</p>
                            </div>
                            <div class="col-3">
                                <p>@lblDesignation: @empPayroll.Employee.DesignationType.DesignationTypeName</p>
                            </div>
                            @if (empPayroll.BankDetails != null)
                            {
                                <div class="col-3">
                                    <p>@lblBankName: @empPayroll.BankDetails.BankName</p>
                                </div>
                                <div class="col-3">
                                    <p>@lblBankBranch: @empPayroll.BankDetails.BranchName</p>
                                </div>
                                <div class="col-3">
                                    <p>@lblBankAccount: @empPayroll.BankDetails.AccountNumber</p>
                                </div>
                                <div class="col-3">
                                    <p>@lblAccountTitle: @empPayroll.BankDetails.AccountHolderName</p>
                                </div>
                            }

                        </div>
                    </div>

                    <!-- Salary Details Section -->
                    <div class="col-4">
                        <div class="row bleft bright bbottom" style="height:189px; align-content: flex-start;">
                            <div class="col-9 bbottom headercolor">
                                <p class="text-nowrap ">@lblSalary</p>
                            </div>
                            <div class="col-3 bbottom headercolor" style="justify-items:center">
                                <p class="text-nowrap">@lblAmount</p>
                            </div>
                            @{
                                decimal totalSalaryAmount = 0;
                            }

                            @if (empPayroll?.SalaryDetails != null)

                            {
                                @foreach (var detail in empPayroll.SalaryDetails) // Loop through salary details for this employee

                                {
                                    <div class="col-9">
                                        <span>@(detail?.SalaryType?.SalaryTypeName ?? "N/A")</span>
                                    </div>
                                    <div class="col-3" style="text-align-last: center;">
                                        <span>@(detail?.SalaryAmount?.ToString("F2") ?? "0.00")</span>
                                    </div>

                                    totalSalaryAmount += (decimal)(detail?.SalaryAmount ?? 0);

                                }
                            }

                            else

                            {
                                <div class="col-12">
                                    <p>No salary details available.</p>
                                </div>
                            }
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="row" style="top: 0px; position: relative;">
                                    <div class="col-9 bleft bbottom txtRight">
                                        <p class="text-nowrap">@lblTotal :</p>
                                    </div>
                                    <div class="col-3 bright bbottom" style="justify-items:center">
                                        <p class="text-nowrap">@totalSalaryAmount.ToString("F2")</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Additional Allowance Section -->
                    <div class="col-4">
                        <div class="row bbottom" style="height:83px; align-content: flex-start;">
                            <div class="col-9 bbottom headercolor">
								<p class="text-nowrap">@lblOtherAllowance</p>
                            </div>
                            <div class="col-3 bbottom headercolor" style="justify-items:center">
                                <p class="text-nowrap">@lblAmount</p>
                            </div>
                            @{
                                decimal totalAdditionalAllowanceAmount = 0;
                            }

                            @if (empPayroll?.AdditionalAllowances != null)

                            {
                                @foreach (var allowance in empPayroll.AdditionalAllowances) // Loop through allowances for this employee

                                {
                                    <div class="col-9">
                                        <span>@(allowance?.AdditionalAllowanceType?.AdditionalAllowanceTypeName ?? "N/A")</span>
                                    </div>
                                    <div class="col-3" style="text-align-last: center;">
                                        <span>@(allowance?.AdditionalAllowanceAmount?.ToString("F2") ?? "0.00")</span>
                                    </div>

                                    totalAdditionalAllowanceAmount += (decimal)(allowance?.AdditionalAllowanceAmount ?? 0);

                                }
                            }

                            else

                            {
                                <div class="col-12">
                                    <p>@lblNoadditionalallowancedataavailable.</p>
                                </div>
                            }
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="row" style="top: 0px; position: relative;">
                                    <div class="col-9 bbottom txtRight">
                                        <p class="text-nowrap">@lblTotal :</p>
                                    </div>
                                    <div class="col-3 bbottom" style="justify-items:center">
                                        <p class="text-nowrap">@totalAdditionalAllowanceAmount.ToString("F2")</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Overtime Section -->
                        <div class="row bbottom" style="height:83px; align-content: flex-start;">
                            <div class="col-9 bbottom headercolor">
                                <p class="text-nowrap">@lblOvertime</p>
                            </div>
                            <div class="col-3 bbottom headercolor" style="justify-items:center">
                                <p class="text-nowrap">@lblAmount</p>
                            </div>
                            @{
                                decimal totalovertimeAmount = 0;
                            }

                            @if (empPayroll?.OvertimeData != null)

                            {
                                @foreach (var overtime in empPayroll.OvertimeData) // Loop through overtime data for this employee

                                {
                                    <div class="col-9">
                                        <span>@(overtime.OverTimeTypeName ?? "N/A")</span>
                                    </div>
                                    <div class="col-3" style="text-align-last: center;">
                                        <span>@(overtime?.Amount?.ToString("F2") ?? "0.00")</span>
                                    </div>

                                    totalovertimeAmount += (decimal)(overtime?.Amount ?? 0);

                                }
                            }

                            else

                            {
                                <div class="col-12">
                                    <p>>@lblNoovertimedataavailable.</p>
                                </div>
                            }
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="row" style="top: 0px; position: relative;">
                                    <div class="col-9 bbottom txtRight">
                                        <p class="text-nowrap">@lblTotal :</p>
                                    </div>
                                    <div class="col-3 bbottom" style="justify-items:center">
                                        <p class="text-nowrap">@totalovertimeAmount.ToString("F2")</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Deduction Section -->
                    <div class="col-4">
                        <div class="row bleft bright bbottom" style="height:83px; align-content: flex-start;">
                            <div class="col-9 bbottom headercolor">
								<p class="text-nowrap">@lblDeduction</p>
                            </div>
                            <div class="col-3 bbottom headercolor" style="justify-items:center">
                                <p class="text-nowrap">@lblAmount</p>
                            </div>
                            @{
                                decimal totaldeductionDaysamount = 0;
                            }

                            @if (empPayroll?.Deductions != null)

                            {
                                @foreach (var deduction in empPayroll.Deductions) // Loop through deductions for this employee

                                {
                                    <div class="col-9">
                                        <span>@(deduction.DeductionTypeName ?? "N/A")</span>
                                    </div>
                                    <div class="col-3" style="text-align-last: center;">
                                        <span>@(deduction?.Amount?.ToString("F2") ?? "0.00")</span>
                                    </div>

                                    totaldeductionDaysamount += (decimal)(deduction?.Amount ?? 0);

                                }
                            }

                            else

                            {
                                <div class="col-12">
                                    <p>@lblNodeductiondataavailable</p>
                                </div>
                            }
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="row" style="top: 0px; position: relative;">
                                    <div class="col-9 bleft bbottom txtRight">
                                        <p class="text-nowrap">@lblTotal :</p>
                                    </div>
                                    <div class="col-3 bright bbottom" style="justify-items:center">
                                        <p class="text-nowrap">@totaldeductionDaysamount.ToString("F2")</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Fixed Deduction Section -->
                        <div class="row bleft bright bbottom" style="height:83px; align-content: flex-start;">
                            <div class="col-9 bbottom headercolor">
                                <p class="text-nowrap">@lblFixedDeduction</p>
                            </div>
                            <div class="col-3 bbottom headercolor" style="justify-items:center">
                                <p class="text-nowrap">@lblAmount</p>
                            </div>
                            @{
                                decimal totalFixedDeductionAmount = 0;
                            }

                            @if (empPayroll?.FixedDeductions != null)

                            {
                                @foreach (var fixedDeduction in empPayroll.FixedDeductions) // Loop through fixed deductions for this employee

                                {
                                    <div class="col-9">
                                        <span>@(fixedDeduction?.FixedDeductionType?.FixedDeductionTypeName ?? "N/A")</span>
                                    </div>
                                    <div class="col-3" style="text-align-last: center;">
                                        <span>@(fixedDeduction?.FixedDeductionAmount?.ToString("F2") ?? "0.00")</span>
                                    </div>
                                    totalFixedDeductionAmount += (decimal)(fixedDeduction?.FixedDeductionAmount ?? 0);

                                }
                            }

                            else

                            {
                                <div class="col-12">
                                    <p>@lblNofixeddeductiondataavailable.</p>
                                </div>
                            }
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row" style="top: 0px; position: relative;">
                                    <div class="col-9 bleft bbottom txtRight">
                                        <p class="text-nowrap">@lblTotal :</p>
                                    </div>
                                    <div class="col-3 bright bbottom" style="justify-items:center">
                                        <p class="text-nowrap">@totalFixedDeductionAmount.ToString("F2")</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12">
                        <div class="row" style="top: 0px; position: relative;">
                            <div class="col-11 bleft bbottom txtRight">
                                <p class="text-nowrap">@lblGrossSalary :</p>
                            </div>
                            <div class="col-1 bright bbottom" style="justify-items:center">
                                <p class="text-nowrap">
                                    @(Math.Round((decimal)(totalSalaryAmount) +
                                        (decimal)(totalAdditionalAllowanceAmount) +
                                        (decimal)(totalovertimeAmount) -
                                        ((decimal)(totaldeductionDaysamount) +
                                        (decimal)(totalFixedDeductionAmount)), 2))
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
