@model Exampler_ERP.Models.Temp.MonthlyPayrollPrintViewModel

<style>
    .text-nowrap {
        font-weight: 700;
    }

    .bleft {
        border-left: solid 1px black;
    }

    .bright {
        border-right: solid 1px black;
    }

    .btop {
        border-top: solid 1px black;
    }

    .bbottom {
        border-bottom: solid 1px black;
    }

    .txtRight {
        text-align-last: right;
    }

    .txtcenter {
        text-align-last: center;
    }

    p {
        margin-top: 3px;
        margin-bottom: 1px;
    }

    .headercolor {
        background-color: blue;
        color: white;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            @foreach (var empPayroll in Model.EmployeePayrolls) // Loop through employee payroll data
            {
                decimal totalGrossAmount = 0;
                <div class="row">
                    <div class="col-3">
                        <img src="~/img/favicon/clientlogo.png" style=" width: 200px; padding: 10px 0px 0px 20px; " />
                    </div>
                    <div class="col-6">
                        <h5 style="text-align: center; padding-top: 35px; font-size: x-large;">
                            Salary Slip
                        </h5>
                    </div>
                    <div class="col-3">
                        <h5 style="text-align: right; padding-top: 35px; font-size: x-large;padding-right: 25px;">
                            @empPayroll.PayslipDetails.MonthType.MonthTypeName @empPayroll.PayslipDetails.Year
                        </h5>
                    </div>
                </div>

                <div class="row" style="overflow-y: overlay; padding: 15px;">
                    <div class="col-12">
                        <div class="row bleft bright btop bbottom">
                            <div class="col-3">
                                <p>Employee Name: @empPayroll.Employee.FirstName @empPayroll.Employee.FatherName @empPayroll.Employee.FamilyName</p>
                            </div>
                            <div class="col-3">
                                <p>Branch: @empPayroll.Employee.BranchType.BranchTypeName</p>
                            </div>
                            <div class="col-3">
                                <p>Department: @empPayroll.Employee.DepartmentType.DepartmentTypeName</p>
                            </div>
                            <div class="col-3">
                                <p>Designation: @empPayroll.Employee.DesignationType.DesignationTypeName</p>
                            </div>
                            @if (empPayroll.BankDetails != null)
                            {
                                <div class="col-3">
                                    <p>Bank Name: @empPayroll.BankDetails.BankName</p>
                                </div>
                                <div class="col-3">
                                    <p>Bank Branch: @empPayroll.BankDetails.BranchName</p>
                                </div>
                                <div class="col-3">
                                    <p>Account #: @empPayroll.BankDetails.AccountNumber</p>
                                </div>
                                <div class="col-3">
                                    <p>Account Title: @empPayroll.BankDetails.AccountHolderName</p>
                                </div>
                            }

                        </div>
                    </div>

                    <!-- Salary Details Section -->
                    <div class="col-4">
                        <div class="row bleft bright bbottom" style="height:189px; align-content: flex-start;">
                            <div class="col-9 bbottom headercolor">
                                <p class="text-nowrap ">Salary</p>
                            </div>
                            <div class="col-3 bbottom headercolor" style="justify-items:center">
                                <p class="text-nowrap">Amount</p>
                            </div>
                            @{
                                decimal totalSalaryAmount = 0;
                            }

                            @if (empPayroll?.SalaryDetails != null)

                            {
                                @foreach (var detail in empPayroll.SalaryDetails) // Loop through salary details for this employee

                                {
                                    <div class="col-9">
                                        <span>@(detail?.SalaryType?.SalaryTypeName ?? "N/A")</span>
                                    </div>
                                    <div class="col-3" style="text-align-last: center;">
                                        <span>@(detail?.SalaryAmount?.ToString("F2") ?? "0.00")</span>
                                    </div>

                                    totalSalaryAmount += (decimal)(detail?.SalaryAmount ?? 0);

                                }
                            }

                            else

                            {
                                <div class="col-12">
                                    <p>No salary details available.</p>
                                </div>
                            }
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="row" style="top: 0px; position: relative;">
                                    <div class="col-9 bleft bbottom txtRight">
                                        <p class="text-nowrap">Total :</p>
                                    </div>
                                    <div class="col-3 bright bbottom" style="justify-items:center">
                                        <p class="text-nowrap">@totalSalaryAmount.ToString("F2")</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Additional Allowance Section -->
                    <div class="col-4">
                        <div class="row bbottom" style="height:83px; align-content: flex-start;">
                            <div class="col-9 bbottom headercolor">
                                <p class="text-nowrap">Other Allowance</p>
                            </div>
                            <div class="col-3 bbottom headercolor" style="justify-items:center">
                                <p class="text-nowrap">Amount</p>
                            </div>
                            @{
                                decimal totalAddionalAllowanceAmount = 0;
                            }

                            @if (empPayroll?.AdditionalAllowances != null)

                            {
                                @foreach (var allowance in empPayroll.AdditionalAllowances) // Loop through allowances for this employee

                                {
                                    <div class="col-9">
                                        <span>@(allowance?.AddionalAllowanceType?.AddionalAllowanceTypeName ?? "N/A")</span>
                                    </div>
                                    <div class="col-3" style="text-align-last: center;">
                                        <span>@(allowance?.AddionalAllowanceAmount?.ToString("F2") ?? "0.00")</span>
                                    </div>

                                    totalAddionalAllowanceAmount += (decimal)(allowance?.AddionalAllowanceAmount ?? 0);

                                }
                            }

                            else

                            {
                                <div class="col-12">
                                    <p>No additional allowance data available.</p>
                                </div>
                            }
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="row" style="top: 0px; position: relative;">
                                    <div class="col-9 bbottom txtRight">
                                        <p class="text-nowrap">Total :</p>
                                    </div>
                                    <div class="col-3 bbottom" style="justify-items:center">
                                        <p class="text-nowrap">@totalAddionalAllowanceAmount.ToString("F2")</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Overtime Section -->
                        <div class="row bbottom" style="height:83px; align-content: flex-start;">
                            <div class="col-9 bbottom headercolor">
                                <p class="text-nowrap">Overtime</p>
                            </div>
                            <div class="col-3 bbottom headercolor" style="justify-items:center">
                                <p class="text-nowrap">Amount</p>
                            </div>
                            @{
                                decimal totalovertimeAmount = 0;
                            }

                            @if (empPayroll?.OvertimeData != null)

                            {
                                @foreach (var overtime in empPayroll.OvertimeData) // Loop through overtime data for this employee

                                {
                                    <div class="col-9">
                                        <span>@(overtime.OverTimeTypeName ?? "N/A")</span>
                                    </div>
                                    <div class="col-3" style="text-align-last: center;">
                                        <span>@(overtime?.Amount?.ToString("F2") ?? "0.00")</span>
                                    </div>

                                    totalovertimeAmount += (decimal)(overtime?.Amount ?? 0);

                                }
                            }

                            else

                            {
                                <div class="col-12">
                                    <p>No overtime data available.</p>
                                </div>
                            }
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="row" style="top: 0px; position: relative;">
                                    <div class="col-9 bbottom txtRight">
                                        <p class="text-nowrap">Total :</p>
                                    </div>
                                    <div class="col-3 bbottom" style="justify-items:center">
                                        <p class="text-nowrap">@totalovertimeAmount.ToString("F2")</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Deduction Section -->
                    <div class="col-4">
                        <div class="row bleft bright bbottom" style="height:83px; align-content: flex-start;">
                            <div class="col-9 bbottom headercolor">
                                <p class="text-nowrap">Deduction</p>
                            </div>
                            <div class="col-3 bbottom headercolor" style="justify-items:center">
                                <p class="text-nowrap">Amount</p>
                            </div>
                            @{
                                decimal totaldeductionDaysamount = 0;
                            }

                            @if (empPayroll?.Deductions != null)

                            {
                                @foreach (var deduction in empPayroll.Deductions) // Loop through deductions for this employee

                                {
                                    <div class="col-9">
                                        <span>@(deduction.DeductionTypeName ?? "N/A")</span>
                                    </div>
                                    <div class="col-3" style="text-align-last: center;">
                                        <span>@(deduction?.Amount?.ToString("F2") ?? "0.00")</span>
                                    </div>

                                    totaldeductionDaysamount += (decimal)(deduction?.Amount ?? 0);

                                }
                            }

                            else

                            {
                                <div class="col-12">
                                    <p>No deduction data available.</p>
                                </div>
                            }
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="row" style="top: 0px; position: relative;">
                                    <div class="col-9 bleft bbottom txtRight">
                                        <p class="text-nowrap">Total :</p>
                                    </div>
                                    <div class="col-3 bright bbottom" style="justify-items:center">
                                        <p class="text-nowrap">@totaldeductionDaysamount.ToString("F2")</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Fixed Deduction Section -->
                        <div class="row bleft bright bbottom" style="height:83px; align-content: flex-start;">
                            <div class="col-9 bbottom headercolor">
                                <p class="text-nowrap">Fixed Deduction</p>
                            </div>
                            <div class="col-3 bbottom headercolor" style="justify-items:center">
                                <p class="text-nowrap">Amount</p>
                            </div>
                            @{
                                decimal totalFixedDeductionAmount = 0;
                            }

                            @if (empPayroll?.FixedDeductions != null)

                            {
                                @foreach (var fixedDeduction in empPayroll.FixedDeductions) // Loop through fixed deductions for this employee

                                {
                                    <div class="col-9">
                                        <span>@(fixedDeduction?.FixedDeductionType?.FixedDeductionTypeName ?? "N/A")</span>
                                    </div>
                                    <div class="col-3" style="text-align-last: center;">
                                        <span>@(fixedDeduction?.FixedDeductionAmount?.ToString("F2") ?? "0.00")</span>
                                    </div>
                                    totalFixedDeductionAmount += (decimal)(fixedDeduction?.FixedDeductionAmount ?? 0);

                                }
                            }

                            else

                            {
                                <div class="col-12">
                                    <p>No fixed deduction data available.</p>
                                </div>
                            }
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row" style="top: 0px; position: relative;">
                                    <div class="col-9 bleft bbottom txtRight">
                                        <p class="text-nowrap">Total :</p>
                                    </div>
                                    <div class="col-3 bright bbottom" style="justify-items:center">
                                        <p class="text-nowrap">@totalFixedDeductionAmount.ToString("F2")</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12">
                        <div class="row" style="top: 0px; position: relative;">
                            <div class="col-11 bleft bbottom txtRight">
                                <p class="text-nowrap">Gross Salary :</p>
                            </div>
                            <div class="col-1 bright bbottom" style="justify-items:center">
                                <p class="text-nowrap">
                                    @(Math.Round((decimal)(totalSalaryAmount) +
                                        (decimal)(totalAddionalAllowanceAmount) +
                                        (decimal)(totalovertimeAmount) -
                                        ((decimal)(totaldeductionDaysamount) +
                                        (decimal)(totalFixedDeductionAmount)), 2))
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
