@model Exampler_ERP.Models.CR_User
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="addUserModalLabel">
                    <i class="fas fa-key me-2"></i>
					@Localizer["lbl_AddNewUser"]
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form id="addUserForm">
                    <div class="row">
                        <div class="col-6">
                            <label asp-for="RoleTypeID" class="form-label fw-bold">@Localizer["lbl_SelectRoleType"]</label>
                            <select asp-for="RoleTypeID" asp-items="@(new SelectList(ViewBag.RoleList, "Value", "Text", Model.RoleTypeID))" class="form-control form-control-lg">
                            </select>
                            <span asp-validation-for="RoleTypeID" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                           <label asp-for="EmployeeID" class="form-label fw-bold">@Localizer["lbl_SelectEmployee"]</label>
                            <select asp-for="EmployeeID" asp-items="@(new SelectList(ViewBag.EmployeeList, "Value", "Text"))" class="form-control form-control-lg">
                            </select>
                            <span asp-validation-for="EmployeeID" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label for="UserName" class="form-label fw-bold">@Localizer["lbl_UserName"]</label>
                            <input type="text" class="form-control form-control-lg" id="UserName" name="UserName" value="@Model.UserName" />
                        </div>
                        <div class="col-12">
                            <label for="Password" class="form-label fw-bold">@Localizer["lbl_Password"]</label>
                            <input type="text" class="form-control form-control-lg" id="Password" name="Password" value="@Model.Password" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close">@Localizer["lbl_Close"]</button>
                <button type="button" class="btn btn-success" id="saveNewUser">@Localizer["lbl_Save"] </button>
            </div>
        </div>
    </div>
</div>
