@model IEnumerable<Exampler_ERP.Models.HR_OverTime>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["lbl_PrintOverTime"]</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
    <h2>@Localizer["lbl_OverTimeList"]</h2>
    <table>
        <thead>
            <tr>
                <th>@Localizer["lbl_OverTimeID"]</th>
                <th>@Localizer["lbl_EmployeeName"]</th>
                <th>@Localizer["lbl_OverTimeType"]</th>
                <th>@Localizer["lbl_Month"]</th>
                <th>@Localizer["lbl_Year"]</th>
                <th>@Localizer["lbl_TotalDays"] </th>
                <th>@Localizer["lbl_TotalHours"]</th>
                <th>@Localizer["lbl_OverTimeRate"]</th>
                <th>@Localizer["lbl_Amount"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var OverTime in Model)
            {
                <tr>
                    <td>@OverTime.OverTimeID</td>
                    <td>@($"{OverTime.Employee?.FirstName} {OverTime.Employee?.FatherName} {OverTime.Employee?.FamilyName}")</td>
                    <td>@(OverTime.OverTimeType?.OverTimeTypeName ?? "N/A")</td>
                    <td>@OverTime.MonthType?.MonthTypeName</td>
                    <td>@OverTime.Year</td>
                    <td>@OverTime.Days</td>
                    <td>@OverTime.Hours</td>
                    <td>@OverTime.OverTimeRate?.OverTimeRateValue</td>
                    <td>@OverTime.Amount</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
