@model IEnumerable<Exampler_ERP.Models.HR_EndOfService>

@{
    ViewData["Title"] = "HR -  End Of Service";
}

@section PageScripts {
    <script>
        $(document).ready(function () {
            // Edit EndOfService modal popup
            $('.editEndOfServiceLink').click(function (e) {
                e.preventDefault();
                var EndOfServiceId = $(this).data('id');
                $.get('@Url.Action("Edit", "EndOfService")', { id: EndOfServiceId }, function (data) {
                    $('#editEndOfServiceModalContainer').html(data);
                    $('#editEndOfServiceModal').modal('show');
                });
            });
            $('#editEndOfServiceModalContainer').on('click', '#saveEndOfServiceChanges', function () {
                var formData = $('#editEndOfServiceForm').serialize();
                $.post('@Url.Action("Edit", "EndOfService")', formData, function (response) {
                    if (response.success) {
                        // Reload the page or update the part of the page with the updated data
                        location.reload();
                    } else {
                        showErrorAlert(response.message);
                    }
                });
            });


            // Add new EndOfService modal popup
            $('.addEndOfServiceLink').click(function () {
                $.get('@Url.Action("Create", "EndOfService")', function (data) {
                    $('#addEndOfServiceModalContainer').html(data);
                    $('#addEndOfServiceModal').modal('show');
                });
            });

            // Save new EndOfService form
            $('#addEndOfServiceModalContainer').on('click', '#saveNewEndOfService', function () {
                var formData = $('#addEndOfServiceForm').serialize();
                $.post('@Url.Action("Create", "EndOfService")', formData, function (response) {
                    if (response.success) {
                        // Reload the page or update the part of the page with the updated data
                        location.reload();
                    } else {
                        showErrorAlert(response.message);
                    }
                });
            });

            // Close Modal Add Contrainer
            $('#addEndOfServiceModalContainer').on('click', '#Close', function () {
                $('#addEndOfServiceModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Close Modal Edit Contrainer
            $('#editEndOfServiceModalContainer').on('click', '#Close', function () {
                $('#editEndOfServiceModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Delete EndOfService
            $('.deleteEndOfServiceLink').click(function (e) {
                e.preventDefault();
                var EndOfServiceId = $(this).data('id');

                // Show confirmation dialog
                if (confirm('Are you sure you want to delete this EndOfService?')) {
                    $.post('@Url.Action("Delete", "EndOfService")', { id: EndOfServiceId }, function (response) {
                        if (response.success) {
                            location.reload();
                        } else {
                            showErrorAlert(response.message);
                        }
                    });
                } else {
                    // If user clicks 'No', do nothing
                }
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
            $.widget("custom.autocomplete", $.ui.autocomplete, {
                _renderItem: function (ul, item) {
                    return $("<li>")
                        .append(item.label)  // Render the HTML content in `label`
                        .appendTo(ul);
                }
            });

            $("#searchEmployeeInput").autocomplete({
                source: function (request, response) {

                    $.ajax({
                        url: '@Url.Action("GetEmployeeSuggestions", "Employee")', // Ensure this matches the C# method
                        type: 'GET',
                        data: { term: request.term },
                        success: function (data) {

                            response($.map(data, function (item) {
                                return {
                                    label: item.label,  // HTML content to be displayed in suggestions
                                    id: item.id,     // Employee ID for the hidden input
                                    name: item.name,      // Full name to be used in the input field
                                    value: item.name
                                };
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    debugger;
                    // Set the selected employee's ID and name
                    $("#EmployeeID").val(ui.item.id); // Set the hidden input for Employee ID
                    $("#searchEmployeeInput").val(ui.item.name); // Set the input field for Employee Name
                }
            });
        });
    </script>
    <script>
        function printEndOfServices() {
            var printWindow = window.open('@Url.Action("Print", "EndOfService")', '_blank');
            printWindow.focus();
        }

        function closeModal() {
            $('.close').click(function () {
                $('#addEndOfServiceModal').modal('hide');
                $('#editEndOfServiceModal').modal('hide');
            });
        }
    </script>
}

<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">HR /</span>  End Of Service
</h4>
<form method="get" action="@Url.Action("Index", "EndOfService")">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">Search Box</h5>
                <div class="Searching-Box-padding" style="padding-bottom: 15px;">
                    <div class="row mb-4">
                        <!-- From Date Field -->
                        <div class="col-md-3 mb-3">
                            <label class="form-label fw-bold">From Date</label>
                            <input class="form-control" type="date" name="FromDate" value="@ViewBag.FromDate?.ToString("yyyy-MM-dd")" />
                        </div>

                        <!-- To Date Field -->
                        <div class="col-md-3 mb-3">
                            <label class="form-label fw-bold">To Date</label>
                            <input class="form-control" type="date" name="ToDate" value="@ViewBag.ToDate?.ToString("yyyy-MM-dd")" />
                        </div>

                        <!-- Employee Name Search Field -->
                        <div class="col-md-3 mb-3">
                            <label class="form-label fw-bold">Employee Name</label>
                            <input type="text" class="form-control" id="searchEmployeeInput" placeholder="Search Employee" name="EmployeeName" value="@ViewBag.EmployeeName" />
                            <input type="hidden" class="form-control" id="EmployeeID" placeholder="Search Employee" name="EmployeeID" value="@ViewBag.EmployeeID" />
                        </div>

                        <!-- EndOfServiceReason Type Dropdown -->
                        <div class="col-md-3 mb-3">
                            <label class="form-label fw-bold">Reason Type</label>
                            <select name="EndOfServiceReasonTypeID" class="form-control">
                                @foreach (var item in ViewBag.EndOfServiceReasonTypeList)
                                {
                                    if (item.Value == ViewBag.EndOfServiceReasonTypeID?.ToString())
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>

                    </div>

                    <!-- Action Buttons -->
                    <div class="row">
                        <div class="col-md-12 text-end">
                            <button type="submit" class="btn btn-primary">Search</button>
                            <button type="button" class="btn btn-primary addEndOfServiceLink">Add New</button>
                            <!-- Example: Add buttons for exporting to Excel and printing -->
                            <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "EndOfService")'">Excel</button>
                            <button type="button" class="btn btn-outline-secondary" onclick="printEndOfServices()">Print</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header"> End Of Service List</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-11 col-lg-9">
                            <div class="row">
                                <div class="col-4">
                                    <p class="text-nowrap">Employee Name</p>
                                </div>
                                <div class="col-4">
                                    <p class="text-nowrap">Date of Completion of Work</p>
                                </div>
                                <div class="col-4">
                                    <p class="text-nowrap">Total End Of Service Dues</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-md-1 col-lg-3">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-4">
                                    <p class="text-nowrap">Edit</p>
                                </div>
                                <div class="col-12 col-md-12 col-lg-4">
                                    <p class="text-nowrap">Print</p>
                                </div>
                                <div class="col-12 col-md-12 col-lg-4">
                                    <p class="text-nowrap">Delete</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="col-12 col-md-12 col-lg-12 GVDetail">
                        <div class="row">
                            <div class="col-10 col-md-11 col-lg-9">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-4">
                                        <p class="text-nowrap"><span class="smallAdd">Employee Name : </span>@item.Employee?.FirstName @item.Employee?.FatherName @item.Employee?.FamilyName</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-4">
                                        <p class="text-nowrap"><span class="smallAdd">Issue Date : </span>@item.DateOfCompletionOfWork.ToString("dd/MM/yyyy")</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-4">
                                        <p class="text-nowrap"><span class="smallAdd">Total End Of Service Dues : </span>@item.TotalEndOfServiceDues</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-1 col-lg-3">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-4">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="editEndOfServiceLink" data-id="@item.EndOfServiceID">
                                                <i class="fa fa-pencil" style="font-size: large; color:steelblue; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-4">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="printEndOfServiceLink" data-id="@item.EndOfServiceID">
                                                <i class="fa fa-print" style="font-size: large; color:steelblue; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-4">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="deleteEndOfServiceLink" data-id="@item.EndOfServiceID">
                                                <i class="fa-regular fa-trash-can" style="font-size: large; color:maroon; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Include the modal partial -->
<div id="editEndOfServiceModalContainer"></div>
<div id="addEndOfServiceModalContainer"></div>
