@model IEnumerable<Exampler_ERP.Models.HR_EndOfService>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["lbl_PrintEndOfService"]</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
    <h2>@Localizer["lbl_EndOfServiceList"]</h2>
    <table>
        <thead>
            <tr>
                <th>@Localizer["lbl_EndOfServiceID"]</th>
                <th>@Localizer["lbl_EmployeeName"]</th>
                <th>@Localizer["lbl_ReasonType"]</th>
                <th>@Localizer["lbl_TotalSalary"]</th>
                <th>@Localizer["lbl_TotalDayOfAbsent"]</th>
                <th>@Localizer["lbl_DateOfCommencement"]</th>
                <th>@Localizer["lbl_DateOfCompletionOfWork"]</th>
                <th>@Localizer["lbl_NumberofYears"]</th>
                <th>@Localizer["lbl_NumberofMonths"]</th>
                <th>@Localizer["lbl_NumberofDays"]</th>
                <th>@Localizer["lbl_TotalDays"] </th>
                <th>@Localizer["lbl_EndofServiceBenefit"]</th>
                <th>@Localizer["lbl_BalanceOfTheAnnualLeave"]</th>
                <th>@Localizer["lbl_AmountDuesForTheLeave"]</th>
                <th>@Localizer["lbl_TotalEndOfServiceDues"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var EndOfService in Model)
            {
                <tr>
                    <td>@EndOfService.EndOfServiceID</td>
                    <td>@($"{EndOfService.Employee?.FirstName} {EndOfService.Employee?.FatherName} {EndOfService.Employee?.FamilyName}")</td>
                    <td>@EndOfService.Settings_EndOfSerivceReasonType?.EndOfServiceReasonTypeName</td>
                    <td></td>
                    <td></td>
                    <td>@EndOfService.Employee?.HireDate</td>
                    <td>@EndOfService.DateOfCompletionOfWork</td>
                    <td>@EndOfService.NumberofYears</td>
                    <td>@EndOfService.NumberofMonths</td>
                    <td>@EndOfService.NumberofDays</td>
                    <td>@EndOfService.TotalDays</td>
                    <td>@EndOfService.EndofServiceBenefit</td>
                    <td>@EndOfService.BalanceOfTheAnnualLeave</td>
                    <td>@EndOfService.AmountDueForTheLeave</td>
                    <td>@EndOfService.TotalEndOfServiceDues</td>

                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
