@model Exampler_ERP.Models.Settings_EmployeeRequestType
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="modal fade" id="addEmployeeRequestTypeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeRequestTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="addEmployeeRequestTypeModalLabel">
                    <i class="fas fa-key me-2"></i>
					@Localizer["lbl_AddNewEmployeeRequestType"]
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form id="addEmployeeRequestTypeForm">
                    <div class="row">
                        <div class="col-12">
                            <label for="EmployeeRequestTypeName" class="form-label fw-bold">@Localizer["lbl_EmployeeRequestTypeName"]</label>
                            <input type="text" class="form-control form-control-lg" id="EmployeeRequestTypeName" name="EmployeeRequestTypeName" value="@Model.EmployeeRequestTypeName" />
                        </div>
                        <div class="col-6">
                            <label asp-for="ActiveYNID" class="form-label fw-bold">@Localizer["lbl_Active"]</label>
                            <select asp-for="ActiveYNID" asp-items="@(new SelectList(ViewBag.ActiveYNIDList, "Value", "Text"))" class="form-control form-control-lg">
                                <option>@Localizer["lbl_Pleaseselect"]</option>
                            </select>
                            <span asp-validation-for="ActiveYNID" class="text-danger"></span>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close">@Localizer["lbl_Close"]</button>
                <button type="button" class="btn btn-success" id="saveNewEmployeeRequestType">@Localizer["lbl_Save"] </button>
            </div>
        </div>
    </div>
</div>
