@model IEnumerable<Exampler_ERP.Models.Settings_EmployeeRequestType>

@{
    ViewData["Title"] = "Master Information - Employee Request Type";
}

@section PageScripts {

    <script>
        $(document).ready(function () {
            // Edit EmployeeRequestType modal popup
            $('.editEmployeeRequestTypeLink').click(function (e) {
                e.preventDefault();
                var EmployeeRequestTypeId = $(this).data('id');
                $.get('@Url.Action("Edit", "EmployeeRequestType")', { id: EmployeeRequestTypeId }, function (data) {
                    $('#editEmployeeRequestTypeModalContainer').html(data);
                    $('#editEmployeeRequestTypeModal').modal('show');
                });
            });

            $('#editEmployeeRequestTypeModalContainer').on('click', '#saveChanges', function () {
                var formData = $('#editEmployeeRequestTypeForm').serialize();
                $.post('@Url.Action("Edit", "EmployeeRequestType")', formData, function (response) {
                    if (response.success) {
                        // Reload the page or update the part of the page with the updated data
                        
                    } else {
                        showError
                    }
                });
            });

            // Add new EmployeeRequestType modal popup
            $('.addEmployeeRequestTypeLink').click(function () {
                $.get('@Url.Action("Create", "EmployeeRequestType")', function (data) {
                    $('#addEmployeeRequestTypeModalContainer').html(data);
                    $('#addEmployeeRequestTypeModal').modal('show');
                });
            });

            // Save new EmployeeRequestType form
            $('#addEmployeeRequestTypeModalContainer').on('click', '#saveNewEmployeeRequestType', function () {
                var formData = $('#addEmployeeRequestTypeForm').serialize();
                $.post('@Url.Action("Create", "EmployeeRequestType")', formData, function (response) {
                    if (response.success) {
                        $('#addEmployeeRequestTypeModal').modal('hide');
                         // Reload the page to reflect changes
                    } else {
                        showError
                    }
                });
            });

            // Close Modal Add Contrainer
            $('#addEmployeeRequestTypeModalContainer').on('click', '#Close', function () {
                $('#addEmployeeRequestTypeModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Close Modal Edit Contrainer
            $('#editEmployeeRequestTypeModalContainer').on('click', '#Close', function () {
                $('#editEmployeeRequestTypeModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Delete EmployeeRequestType
            $('.deleteEmployeeRequestTypeLink').click(function (e) {
                e.preventDefault();
                var EmployeeRequestTypeId = $(this).data('id');
                $.post('@Url.Action("Delete", "EmployeeRequestType")', { id: EmployeeRequestTypeId }, function (response) {
                    if (response.success) {
                        
                    } else {
                        showError
                    }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
        });
    </script>
    <script>
        function printEmployeeRequestTypes() {
            var printWindow = window.open('@Url.Action("Print", "EmployeeRequestType")', '_blank');
            printWindow.focus();
        }
        $('#searchEmployeeRequestTypeButton').click(function () {
            var searchValue = $('#searchEmployeeRequestTypeInput').val();
            window.location.href = '@Url.Action("Index", "EmployeeRequestType")?searchEmployeeRequestTypeName=' + searchValue;
        });
    </script>
}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Master Information /</span> Employee Request Type
</h4>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <h5 class="card-header">Searching Box</h5>
            <div class="Searching-Box-padding">
                <div class="row mb-4">
                    <div class="col-md-8" style="padding-bottom: 15px;">
                        <!-- Search Field and Button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Employee Request Type name" id="searchEmployeeRequestTypeInput">
                            <button class="btn btn-outline-secondary" type="button" id="searchEmployeeRequestTypeButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 text-end">
                        <!-- Action Buttons -->
                        <button type="button" class="btn btn-primary addEmployeeRequestTypeLink">Add New</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "EmployeeRequestType")'">Excel</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="printEmployeeRequestTypes()">Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Employee Request Type List</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                       <div class="col-10 col-md-10 col-lg-10">
                            <div class="row">
                                <div class="col-8">
                                    <p class="text-nowrap">Employee Request Type Name</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">Active</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-2 col-lg-2">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-nowrap">Edit</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">Delete</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="col-12 col-md-12 col-lg-12 GVDetail">
                        <div class="row">
                            <div class="col-10 col-md-10 col-lg-10">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-8">
                                        <p class="text-nowrap"><span class="smallAdd">Employee Request Type Name : </span>@Html.DisplayFor(modelItem => item.EmployeeRequestTypeName)</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <p class="text-nowrap">
                                            <span class="smallAdd">Active : </span>
                                            @if (item.ActiveYNID == 1)
                                            {
                                                <span>Yes</span>
                                            }
                                            else if (item.ActiveYNID == 2)
                                            {
                                                <span>No</span>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 col-md-2 col-lg-2">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="javascript:void(0)" class="editEmployeeRequestTypeLink" data-id="@item.EmployeeRequestTypeID">
                                                <i class="fa fa-pencil" style="font-size: large; color:steelblue; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="javascript:void(0)" class="deleteEmployeeRequestTypeLink" data-id="@item.EmployeeRequestTypeID">
                                                <i class="fa-regular fa-trash-can" style="font-size: large; color:maroon; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Include the modal partial -->
<div id="editEmployeeRequestTypeModalContainer"></div>
<div id="addEmployeeRequestTypeModalContainer"></div>
