@model Exampler_ERP.Models.Temp.EmployeeRequestTypeApprovalSetupListViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@{
	ViewData["Title"] = @Localizer["lbl_MasterInformation"] + " - " + @Localizer["lbl_EmployeeRequestApprovalSetup"];
}

@section PageScripts {

    <script>
        $(document).ready(function () {
			 $('#EmployeeRequestTypeApprovalSetupListContainer').on('click', '.editEmployeeRequestTypeApprovalSetupLink', function (e) {
                e.preventDefault();
                var EmployeeRequestTypeId = $(this).data('id');
                $.get('@Url.Action("Edit", "EmployeeRequestTypeApprovalSetup")', { id: EmployeeRequestTypeId }, function (data) {
                    $('#editEmployeeRequestTypeApprovalSetupModalContainer').html(data);
                    $('#editEmployeeRequestTypeApprovalSetupModal').modal('show');
                });
            });

            $('#editEmployeeRequestTypeApprovalSetupModalContainer').on('click', '#saveChanges', function () {
                var formData = $('#editEmployeeRequestTypeApprovalSetupForm').serialize();
                console.log("Serialized form data:", formData); // Log serialized data for debugging
                $.post('@Url.Action("Edit", "EmployeeRequestTypeApprovalSetup")', formData, function (response) {
				   if (response.success) {
							$('#editEmployeeRequestTypeApprovalSetupModal').modal('hide');

							// ✅ Ab poora list AJAX se reload karo
							$.get('@Url.Action("Index", "EmployeeRequestTypeApprovalSetup")', function (partialHtml) {
								var html = $(partialHtml).find('#EmployeeRequestTypeApprovalSetupListContainer').html();
								$('#EmployeeRequestTypeApprovalSetupListContainer').html(html);
							});
						}
                });
            });

            // Close Modal Edit Contrainer
            $('#editEmployeeRequestTypeApprovalSetupModalContainer').on('click', '#Close', function () {
                $('#editEmployeeRequestTypeApprovalSetupModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });


            // Delete EmployeeRequestTypeApprovalSetup
			 $('#EmployeeRequestTypeApprovalSetupListContainer').on('click', '.deleteEmployeeRequestTypeApprovalSetupLink', function (e) {
                e.preventDefault();
                var EmployeeRequestTypeApprovalSetupId = $(this).data('id');
                $.post('@Url.Action("Delete", "EmployeeRequestTypeApprovalSetup")', { id: EmployeeRequestTypeApprovalSetupId }, function (response) {
					 if (response.success) {
					$.get('@Url.Action("Index", "EmployeeRequestTypeApprovalSetup")', function (partialHtml) {
					  var html = $(partialHtml).find('#EmployeeRequestTypeApprovalSetupListContainer').html();
					  $('#EmployeeRequestTypeApprovalSetupListContainer').html(html);
					});
				  }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
        });
    </script>
    <script>
        function printEmployeeRequestTypeApprovalSetups() {
            var printWindow = window.open('@Url.Action("Print", "EmployeeRequestTypeApprovalSetup")', '_blank');
            printWindow.focus();
        }
        $('#searchEmployeeRequestTypeButton').click(function () {
            var searchValue = $('#searchEmployeeRequestTypeInput').val();
            window.location.href = '@Url.Action("Index", "EmployeeRequestTypeApprovalSetup")?searchEmployeeRequestTypeName=' + searchValue;
        });
    </script>
}
<h4 class="py-3 mb-4">
	<span class="text-muted fw-light">@Localizer["lbl_MasterInformation"] /</span> @Localizer["lbl_EmployeeRequestApprovalSetup"]
</h4>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <h5 class="card-header">@Localizer["lbl_SearchingBox"]</h5>
            <div class="Searching-Box-padding">
                <div class="row mb-4">
                    <div class="col-md-8" style="padding-bottom: 15px;">
                        <!-- Search Field and Button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="@Localizer["lbl_SearchEmployeeRequestTypeName"]" id="searchEmployeeRequestTypeInput">
                            <button class="btn btn-outline-secondary" type="button" id="searchEmployeeRequestTypeButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 text-end">
                        <!-- Action Buttons -->
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "EmployeeRequestTypeApprovalSetup")'">@Localizer["lbl_Excel"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="printEmployeeRequestTypeApprovalSetups()">@Localizer["lbl_Print"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
			<h5 class="card-header">@Localizer["lbl_EmployeeRequestTypeApprovalSetupList"]</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-10 col-lg-10">
                            <div class="row">
                                <div class="col-8">
                                    <p class="text-nowrap">@Localizer["lbl_EmployeeRequestTypeName"]</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">@Localizer["lbl_TotalRank"]</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-2 col-lg-2">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_Edit"]</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_Delete"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<div id="EmployeeRequestTypeApprovalSetupListContainer">
					@Html.Partial("~/Views/HR/MasterInfo/EmployeeRequestTypeApprovalSetup/_EmployeeRequestTypeApprovalSetupListPartial.cshtml", Model)
				</div>
            </div>
        </div>
    </div>
</div>


<!-- Include the modal partial -->
<div id="editEmployeeRequestTypeApprovalSetupModalContainer"></div>
