@model IEnumerable<Exampler_ERP.Models.HR_EmployeeRequestTypeApprovalSetup>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
	<title>@Localizer["lbl_PrintEmployeeRequestTypeApprovalSetup"]</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
	<h2>@Localizer["lbl_EmployeeRequestTypeApprovalSetupList"]</h2>
    <table>
        <thead>
            <tr>
				<th>@Localizer["lbl_EmployeeRequestTypeApprovalSetupID"]</th>
                <th>@Localizer["lbl_EmployeeRequestTypeName"]</th>
				<th>@Localizer["lbl_Rank"]</th>
                <th>@Localizer["lbl_RoleType"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var EmployeeRequestTypeApprovalSetup in Model)
            {
                <tr>
                    <td>@EmployeeRequestTypeApprovalSetup.EmployeeRequestTypeApprovalSetupID</td>
                    <td>@(EmployeeRequestTypeApprovalSetup.EmployeeRequestType?.EmployeeRequestTypeName ?? "N/A")</td>
                    <td>@EmployeeRequestTypeApprovalSetup.Rank</td>
                    <td>@EmployeeRequestTypeApprovalSetup.RoleTypeID</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
