@model IEnumerable<Exampler_ERP.Models.HR_EmployeeRequestTypeApprovalDetail>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">EmployeeRequest Approvals List</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-11 col-md-11 col-lg-8">
                            <div class="row">
                                <div class="col-3">
                                    <p class="text-nowrap">Employee Name</p>
                                </div>
                                <div class="col-3">
                                    <p class="text-nowrap">EmployeeRequest Name</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">Rank</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">Pending Date</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 col-md-1 col-lg-4">
                            <div class="row">
                                <div class="col-4">
                                    <p class="text-nowrap">Approval</p>
                                </div>
                                <div class="col-4">
                                    <p class="text-nowrap">Detail</p>
                                </div>
                                <div class="col-4">
                                    <p class="text-nowrap">Action</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="col-12 col-md-12 col-lg-12 GVDetail">
                        <div class="row">
                            <div class="col-11 col-md-11 col-lg-8">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-3">
                                        <p class="text-nowrap"><span class="smallAdd">Employee Name : </span>@item.HR_EmployeeRequestTypeApproval?.Employee?.FirstName @item.HR_EmployeeRequestTypeApproval?.Employee?.FatherName @item.HR_EmployeeRequestTypeApproval?.Employee?.FamilyName</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-3">
                                        <p class="text-nowrap"><span class="smallAdd">EmployeeRequest Name : </span>@(item.HR_EmployeeRequestTypeApproval?.EmployeeRequestType?.EmployeeRequestTypeName ?? "N/A")  </p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <p class="text-nowrap"><span class="smallAdd">Rank : </span>@Html.DisplayFor(modelItem => item.Rank)</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <p class="text-nowrap"><span class="smallAdd">Pending Date : </span>@item.Date.ToString("dd-MM-yyyy HH:mm:ss")</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 col-md-1 col-lg-4">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-4">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="approvalsEmployeeRequestTypeApprovalLink" data-id="@item.EmployeeRequestTypeApprovalID">
                                                <i class="bx bx-book-open" style="font-size: large; color:steelblue; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-4">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="detailsEmployeeRequestTypeApprovalLink" data-id="@item.EmployeeRequestTypeApprovalID">
                                                <i class="bx bx-detail" style="font-size: large; color:maroon; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-4">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="actionsEmployeeRequestTypeApprovalLink" data-id="@item.EmployeeRequestTypeApprovalDetailID">
                                                <i class="bx bx-bookmarks" style="font-size: large; color:maroon; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
