@model IEnumerable<Exampler_ERP.Models.HR_EmployeeRequestTypeApprovalDetail>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<form method="get" action="@Url.Action("Index", "ApprovalsEmployeeRequest")">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">Search Box</h5>
                <div class="Searching-Box-padding" style="padding-bottom: 15px;">
                    <div class="row mb-4">
                        <!-- From Date Field -->
                        <div class="col-md-3 mb-3">
                            <label class="form-label fw-bold">From @Localizer["lbl_Date"]</label>
                            <input class="form-control" type="date" name="FromDate" value="@ViewBag.FromDate?.ToString("yyyy-MM-dd")" />
                        </div>

                        <!-- To Date Field -->
                        <div class="col-md-3 mb-3">
                            <label class="form-label fw-bold">To @Localizer["lbl_Date"]</label>
                            <input class="form-control" type="date" name="ToDate" value="@ViewBag.ToDate?.ToString("yyyy-MM-dd")" />
                        </div>

                        <!-- Employee Name Search Field -->
                        <div class="col-md-3 mb-3">
                            <label class="form-label fw-bold">@Localizer["lbl_EmployeeName"]</label>
                            <input type="text" class="form-control" id="searchEmployeeInput" placeholder="@Localizer["lbl_Search"] Employee" name="EmployeeName" value="@ViewBag.EmployeeName" />
                            <input type="hidden" class="form-control" id="EmployeeID" placeholder="@Localizer["lbl_Search"] Employee" name="EmployeeID" value="@ViewBag.EmployeeID" />
                        </div>

                        <!-- EmployeeRequest Type Dropdown -->
                        <div class="col-md-3 mb-3">
                            <label class="form-label fw-bold">@Localizer["lbl_EmployeeRequestType"]</label>
                            <select name="EmployeeRequestTypeID" class="form-control">
                                @foreach (var item in ViewBag.EmployeeRequestTypeList)
                                {
                                    if (item.Value == ViewBag.EmployeeRequestTypeID?.ToString())
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>

                    </div>

                    <!-- Action Buttons -->
                    <div class="row">
                        <div class="col-md-12 text-end">
                            <button type="submit" class="btn btn-primary">Search</button>
                            <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "EmployeeRequestTypeApproval")'">Export to @Localizer["lbl_Excel"]</button>
                            <button type="button" class="btn btn-outline-secondary" onclick="printEmployeeRequestTypeApprovals()">@Localizer["lbl_Print"]</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
