@model IEnumerable<Exampler_ERP.Models.HR_EmployeeRequestTypeApprovalDetail>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["lbl_MasterInformation"] + " - " + Localizer["lbl_EmployeeRequestApprovals"];
    var lblEmployeeRequestTypeApprovalList = Localizer["lbl_EmployeeRequestTypeApprovalList"];
    var lblEmployeeName = Localizer["lbl_EmployeeName"];
    var lblEmployeeRequestType = Localizer["lbl_EmployeeRequestType"];
    var lblRank = Localizer["lbl_Rank"];
    var lblPendingDate = Localizer["lbl_PendingDate"];
    var lblApproval = Localizer["lbl_Approval"];
    var lblDetails = Localizer["lbl_Details"];
    var lblAction = Localizer["lbl_Action"];
}

@section PageScripts {

    <script>
                $(document).ready(function () {
                    // approvals EmployeeRequestTypeApproval modal popup
                    $('.approvalsEmployeeRequestTypeApprovalLink').click(function (e) {
                        e.preventDefault();
                        var EmployeeRequestTypeApprovalId = $(this).data('id');
                        $.get('@Url.Action("approvals", "ApprovalsEmployeeRequest")', { id: EmployeeRequestTypeApprovalId }, function (data) {
                            $('#approvalsEmployeeRequestTypeApprovalModalContainer').html(data);
                            $('#approvalsEmployeeRequestTypeApprovalModal').modal('show');
                        });
                    });
                    // Close Modal approvals Contrainer
                    $('#approvalsEmployeeRequestTypeApprovalModalContainer').on('click', '#Close', function () {
                        $('#approvalsEmployeeRequestTypeApprovalModal').modal('hide'); // Close the modal directly
                        // detailsitional logic if needed
                    });

                    // details EmployeeRequestTypeApproval modal popup
                    $('.detailsEmployeeRequestTypeApprovalLink').click(function (e) {
                        e.preventDefault();
                        var EmployeeRequestTypeApprovalId = $(this).data('id');
                        $.get('@Url.Action("details", "ApprovalsEmployeeRequest")', { id: EmployeeRequestTypeApprovalId }, function (data) {
                            $('#detailsEmployeeRequestTypeApprovalModalContainer').html(data);
                            $('#detailsEmployeeRequestTypeApprovalModal').modal('show');
                        });
                    });
                    // Close Modal details Contrainer
                    $('#detailsEmployeeRequestTypeApprovalModalContainer').on('click', '#Close', function () {
                        $('#detailsEmployeeRequestTypeApprovalModal').modal('hide'); // Close the modal directly
                        // detailsitional logic if needed
                    });

                    // actions EmployeeRequestTypeApproval modal popup
                    $('.actionsEmployeeRequestTypeApprovalLink').click(function (e) {
                        e.preventDefault();
                        var EmployeeRequestTypeApprovalId = $(this).data('id');
                        $.get('@Url.Action("actions", "ApprovalsEmployeeRequest")', { id: EmployeeRequestTypeApprovalId }, function (data) {
                            $('#actionsEmployeeRequestTypeApprovalModalContainer').html(data);
                            $('#actionsEmployeeRequestTypeApprovalModal').modal('show');
                        });
                    });
                   $('#actionsEmployeeRequestTypeApprovalModalContainer').on('click', '#Approved', function () {
            var formData = new FormData($('#actionsEmployeeRequestTypeApprovalForm')[0]); // Create FormData object from the form

            $.ajax({
                url: '@Url.Action("Approved", "ApprovalsEmployeeRequest")',
                type: 'POST',
                data: formData,
                contentType: false,  // Important for file upload
                processData: false,  // Prevent jQuery from automatically transforming the data into a query string
                success: function (response) {
                    if (response.success) {
                          // Reload the page or update the part of the page with the updated data
                    } else {
                        console.log("Validation error or unsuccessful approval");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error occurred while approving:", error);
                }
            });
        });

                    $('#actionsEmployeeRequestTypeApprovalModalContainer').on('click', '#Reject', function () {
                        var formData = $('#actionsEmployeeRequestTypeApprovalForm').serialize();
                        $.post('@Url.Action("Reject", "ApprovalsEmployeeRequest")', formData, function (response) {
                            if (response.success) {
                                // Reload the page or update the part of the page with the updated data

                            } else {
                                showError
                            }
                        });
                    });
                    // Close Modal actions Contrainer
                    $('#actionsEmployeeRequestTypeApprovalModalContainer').on('click', '#Close', function () {
                        $('#actionsEmployeeRequestTypeApprovalModal').modal('hide'); // Close the modal directly
                        // actionsitional logic if needed
                    });

                    // Delete EmployeeRequestTypeApproval
                    $('.deleteEmployeeRequestTypeApprovalLink').click(function (e) {
                        e.preventDefault();
                        var EmployeeRequestTypeApprovalId = $(this).data('id');
                        $.post('@Url.Action("Delete", "EmployeeRequestTypeApproval")', { id: EmployeeRequestTypeApprovalId }, function (response) {
                            if (response.success) {

                            } else {
                                showError
                            }
                        });
                    });

                    // Print functionality
                    $('#printButton').click(function () {
                        window.print();
                    });
                    $.widget("custom.autocomplete", $.ui.autocomplete, {
                        _renderItem: function (ul, item) {
                            return $("<li>")
                                .append(item.label)  // Render the HTML content in `label`
                                .appendTo(ul);
                        }
                    });

                    $("#EmployeeName").autocomplete({
                source: function (request, response) {
                    $("#EmployeeID").val('');
                    $.ajax({
                        url: '@Url.Action("GetEmployeeSuggestions", "Employee")', // Ensure this matches the C# method
                        type: 'GET',
                        data: { term: request.term },
                        success: function (data) {

                            response($.map(data, function (item) {
                                return {
                                    label: item.label,  // HTML content to be displayed in suggestions
                                    id: item.id,     // Employee ID for the hidden input
                                    name: item.name,      // Full name to be used in the input field
                                    value: item.name
                                };
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {

                    // Set the selected employee's ID and name
                    $("#EmployeeID").val(ui.item.id); // Set the hidden input for Employee ID
                    $("#EmployeeName").val(ui.item.name); // Set the input field for Employee Name
                }
            });
            $('#searchEmployeeForm').submit(function (e) {
                e.preventDefault(); // Prevent full page reload

                var form = $(this);
                var actionUrl = form.attr('action');

                // Serialize form data
                var formData = form.serialize();

                $.get(actionUrl, formData, function (partialHtml) {
                    // Load only the relevant part of the response
                    var html = $(partialHtml).find('#EmployeeRequestTypeApprovalListContainer').html();
                    $('#EmployeeRequestTypeApprovalListContainer').html(html);
                });
            });
                });
    </script>
    <script>
        function printEmployeeRequestTypeApproval() {
               var form = $('<form target="_blank" method="POST" action="@Url.Action("Print", "ApprovalsEmployeeRequest")"></form>');
               form.append($('<input>').attr('name', 'FromDate').val($('#FromDate').val()));
               form.append($('<input>').attr('name', 'ToDate').val($('#ToDate').val()));
               form.append($('<input>').attr('name', 'EmployeeName').val($('#EmployeeName').val()));
               form.append($('<input>').attr('name', 'EmployeeID').val($('#EmployeeID').val()));
               form.append($('<input>').attr('name', 'EmployeeRequestTypeID').val($('#EmployeeRequestTypeID').val()));
               $('body').append(form);
               form.submit();
               form.remove();
           }

           function excelEmployeeRequestTypeApproval() {
               var form = $('<form target="_blank" method="POST" action="@Url.Action("ExportToExcel", "ApprovalsEmployeeRequest")"></form>');
               form.append($('<input>').attr('name', 'FromDate').val($('#FromDate').val()));
               form.append($('<input>').attr('name', 'ToDate').val($('#ToDate').val()));
               form.append($('<input>').attr('name', 'EmployeeName').val($('#EmployeeName').val()));
               form.append($('<input>').attr('name', 'EmployeeID').val($('#EmployeeID').val()));
               form.append($('<input>').attr('name', 'EmployeeRequestTypeID').val($('#EmployeeRequestTypeID').val()));
               $('body').append(form);
               form.submit();
               form.remove();
           }
        function searchRecord() {
            var printWindow = window.open('@Url.Action("Index", "ApprovalsEmployeeRequest")', '_blank');
            printWindow.focus();
        }
    </script>
}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">@Localizer["lbl_MasterInformation"] /</span> @Localizer["lbl_EmployeeRequestApprovals"]
</h4>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">@lblEmployeeRequestTypeApprovalList</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-11 col-md-11 col-lg-8">
                            <div class="row">
                                <div class="col-3">
                                    <p class="text-nowrap">@lblEmployeeName</p>
                                </div>
                                <div class="col-3">
                                    <p class="text-nowrap">@lblEmployeeRequestType</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">@lblRank</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">@lblPendingDate</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 col-md-1 col-lg-4">
                            <div class="row">
                                <div class="col-4">
                                    <p class="text-nowrap">@lblApproval</p>
                                </div>
                                <div class="col-4">
                                    <p class="text-nowrap">@lblDetails</p>
                                </div>
                                <div class="col-4">
                                    <p class="text-nowrap">@lblAction</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="EmployeeRequestTypeApprovalListContainer">
                    @Html.Partial("~/Views/MasterInfo/ApprovalsEmployeeRequest/_ApprovalsEmployeeRequest.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Include the modal partial -->
<div id="approvalsEmployeeRequestTypeApprovalModalContainer"></div>
<div id="detailsEmployeeRequestTypeApprovalModalContainer"></div>
<div id="actionsEmployeeRequestTypeApprovalModalContainer"></div>
