@model IEnumerable<Exampler_ERP.Models.HR_EmployeeRequestTypeApprovalDetail>

@{
    ViewData["Title"] = "Master Info - EmployeeRequest Approvals";
}

@section PageScripts {

    <script>
        $(document).ready(function () {
            // approvals EmployeeRequestTypeApproval modal popup
            $('.approvalsEmployeeRequestTypeApprovalLink').click(function (e) {
                e.preventDefault();
                var EmployeeRequestTypeApprovalId = $(this).data('id');
                $.get('@Url.Action("approvals", "ApprovalsEmployeeRequest")', { id: EmployeeRequestTypeApprovalId }, function (data) {
                    $('#approvalsEmployeeRequestTypeApprovalModalContainer').html(data);
                    $('#approvalsEmployeeRequestTypeApprovalModal').modal('show');
                });
            });
            // Close Modal approvals Contrainer
            $('#approvalsEmployeeRequestTypeApprovalModalContainer').on('click', '#Close', function () {
                $('#approvalsEmployeeRequestTypeApprovalModal').modal('hide'); // Close the modal directly
                // detailsitional logic if needed
            });

            // details EmployeeRequestTypeApproval modal popup
            $('.detailsEmployeeRequestTypeApprovalLink').click(function (e) {
                e.preventDefault();
                var EmployeeRequestTypeApprovalId = $(this).data('id');
                $.get('@Url.Action("details", "ApprovalsEmployeeRequest")', { id: EmployeeRequestTypeApprovalId }, function (data) {
                    $('#detailsEmployeeRequestTypeApprovalModalContainer').html(data);
                    $('#detailsEmployeeRequestTypeApprovalModal').modal('show');
                });
            });
            // Close Modal details Contrainer
            $('#detailsEmployeeRequestTypeApprovalModalContainer').on('click', '#Close', function () {
                $('#detailsEmployeeRequestTypeApprovalModal').modal('hide'); // Close the modal directly
                // detailsitional logic if needed
            });

            // actions EmployeeRequestTypeApproval modal popup
            $('.actionsEmployeeRequestTypeApprovalLink').click(function (e) {
                e.preventDefault();
                var EmployeeRequestTypeApprovalId = $(this).data('id');
                $.get('@Url.Action("actions", "ApprovalsEmployeeRequest")', { id: EmployeeRequestTypeApprovalId }, function (data) {
                    $('#actionsEmployeeRequestTypeApprovalModalContainer').html(data);
                    $('#actionsEmployeeRequestTypeApprovalModal').modal('show');
                });
            });
            $('#actionsEmployeeRequestTypeApprovalModalContainer').on('click', '#Approved', function () {
                var formData = new FormData($('#actionsEmployeeRequestTypeApprovalForm')[0]); // Create FormData object from the form

                $.ajax({
                    url: '@Url.Action("Approved", "ApprovalsEmployeeRequest")',
                    type: 'POST',
                    data: formData,
                    contentType: false, // Important for file upload
                    EmployeeRequestData: false, // Prevent jQuery from automatically transforming the data into a query string
                    success: function (response) {
                        if (response.success) {
                            // Reload the page or update the part of the page with the updated data
                            location.reload();
                        } else {
                            showErrorAlert(response.message);
                            // You can display errors here
                        }
                    },
                    error: function (xhr, status, error) {
                        // Handle error
                        console.log("Error occurred while uploading file:", error);
                    }
                });
            });
            $('#actionsEmployeeRequestTypeApprovalModalContainer').on('click', '#Reject', function () {
                var formData = $('#actionsEmployeeRequestTypeApprovalForm').serialize();
                $.post('@Url.Action("Reject", "ApprovalsEmployeeRequest")', formData, function (response) {
                    if (response.success) {
                        // Reload the page or update the part of the page with the updated data
                        location.reload();
                    } else {
                        showErrorAlert(response.message);
                    }
                });
            });
            // Close Modal actions Contrainer
            $('#actionsEmployeeRequestTypeApprovalModalContainer').on('click', '#Close', function () {
                $('#actionsEmployeeRequestTypeApprovalModal').modal('hide'); // Close the modal directly
                // actionsitional logic if needed
            });

            // Delete EmployeeRequestTypeApproval
            $('.deleteEmployeeRequestTypeApprovalLink').click(function (e) {
                e.preventDefault();
                var EmployeeRequestTypeApprovalId = $(this).data('id');
                $.post('@Url.Action("Delete", "EmployeeRequestTypeApproval")', { id: EmployeeRequestTypeApprovalId }, function (response) {
                    if (response.success) {
                        location.reload();
                    } else {
                        showErrorAlert(response.message);
                    }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
            $.widget("custom.autocomplete", $.ui.autocomplete, {
                _renderItem: function (ul, item) {
                    return $("<li>")
                        .append(item.label)  // Render the HTML content in `label`
                        .appendTo(ul);
                }
            });


            $("#searchEmployeeInput").autocomplete({
                source: function (request, response) {

                    $.ajax({
                        url: '@Url.Action("GetEmployeeSuggestions", "Employee")', // Ensure this matches the C# method
                        type: 'GET',
                        data: { term: request.term },
                        success: function (data) {

                            response($.map(data, function (item) {
                                return {
                                    label: item.label,  // HTML content to be displayed in suggestions
                                    id: item.id,     // Employee ID for the hidden input
                                    name: item.name,      // Full name to be used in the input field
                                    value: item.name
                                };
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    debugger;
                    // Set the selected employee's ID and name
                    $("#EmployeeID").val(ui.item.id); // Set the hidden input for Employee ID
                    $("#searchEmployeeInput").val(ui.item.name); // Set the input field for Employee Name
                }
            });

        });
    </script>
    <script>
        function printEmployeeRequestTypeApprovals() {
            var printWindow = window.open('@Url.Action("Print", "ApprovalsEmployeeRequest")', '_blank');
            printWindow.focus();
        }
        function searchRecord() {
            var printWindow = window.open('@Url.Action("Index", "ApprovalsEmployeeRequest")', '_blank');
            printWindow.focus();
        }
    </script>
}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Master Info /</span> EmployeeRequest Approvals
</h4>
@Html.Partial("~/Views/MasterInfo/ApprovalsEmployeeRequest/_ApprovalsEmployeeRequestSearching.cshtml", Model)
<br />
@Html.Partial("~/Views/MasterInfo/ApprovalsEmployeeRequest/_ApprovalsEmployeeRequest.cshtml", Model)
<!-- Include the modal partial -->
<div id="approvalsEmployeeRequestTypeApprovalModalContainer"></div>
<div id="detailsEmployeeRequestTypeApprovalModalContainer"></div>
<div id="actionsEmployeeRequestTypeApprovalModalContainer"></div>
