@model IEnumerable<Exampler_ERP.Models.HR_Deduction>

@{
    ViewData["Title"] = "HR - Deduction";
}

@section PageScripts {

    <script>
        $(document).ready(function () {
            // Edit Deduction modal popup
            $('.editDeductionLink').click(function (e) {
                e.preventDefault();
                var DeductionId = $(this).data('id');
                $.get('@Url.Action("Edit", "Deduction")', { id: DeductionId }, function (data) {
                    $('#editDeductionModalContainer').html(data);
                    $('#editDeductionModal').modal('show');
                });
            });

            $('#editDeductionModalContainer').on('click', '#saveChanges', function () {
                var formData = $('#editDeductionForm').serialize();
                $.post('@Url.Action("Edit", "Deduction")', formData, function (response) {
                    if (response.success) {
                        // Reload the page or update the part of the page with the updated data
                        
                    } else {
                        showError
                    }
                });
            });

            // Add new Deduction modal popup
            $('.addDeductionLink').click(function () {
                $.get('@Url.Action("Create", "Deduction")', function (data) {
                    $('#addDeductionModalContainer').html(data);
                    $('#addDeductionModal').modal('show');
                });
            });

            // Save new Deduction form
            $('#addDeductionModalContainer').on('click', '#saveNewDeduction', function () {
                var formData = $('#addDeductionForm').serialize();
                $.post('@Url.Action("Create", "Deduction")', formData, function (response) {
                    if (response.success) {
                        $('#addDeductionModal').modal('hide');
                         // Reload the page to reflect changes
                    } else {
                        showError
                    }
                });
            });

            // Close Modal Add Contrainer
            $('#addDeductionModalContainer').on('click', '#Close', function () {
                $('#addDeductionModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Close Modal Edit Contrainer
            $('#editDeductionModalContainer').on('click', '#Close', function () {
                $('#editDeductionModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Delete Deduction
            $('.deleteDeductionLink').click(function (e) {
                e.preventDefault();
                var DeductionId = $(this).data('id');
                $.post('@Url.Action("Delete", "Deduction")', { id: DeductionId }, function (response) {
                    if (response.success) {
                        
                    } else {
                        showError
                    }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
            $.widget("custom.autocomplete", $.ui.autocomplete, {
                _renderItem: function (ul, item) {
                    return $("<li>")
                        .append(item.label)  // Render the HTML content in `label`
                        .appendTo(ul);
                }
            });


            $("#searchEmployeeInput").autocomplete({
                source: function (request, response) {

                    $.ajax({
                        url: '@Url.Action("GetEmployeeSuggestions", "Employee")', // Ensure this matches the C# method
                        type: 'GET',
                        data: { term: request.term },
                        success: function (data) {

                            response($.map(data, function (item) {
                                return {
                                    label: item.label,  // HTML content to be displayed in suggestions
                                    id: item.id,     // Employee ID for the hidden input
                                    name: item.name,      // Full name to be used in the input field
                                    value: item.name
                                };
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    
                    // Set the selected employee's ID and name
                    $("#EmployeeID").val(ui.item.id); // Set the hidden input for Employee ID
                    $("#searchEmployeeInput").val(ui.item.name); // Set the input field for Employee Name
                }
            });
        });
    </script>
    <script>
        function printDeductions() {
            var printWindow = window.open('@Url.Action("Print", "Deduction")', '_blank');
            printWindow.focus();
        }
    </script>
}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">HR /</span> Deduction
</h4>
<form method="get" action="@Url.Action("Index", "Deduction")">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">Search Box</h5>
                <div class="Searching-Box-padding" style="padding-bottom: 15px;">
                    <div class="row mb-4">
                        <!-- From Date Field -->
                        <div class="col-md-3 mb-3">
                            <label class="form-label fw-bold">Month Type</label>
                            <select name="MonthsTypeID" class="form-control">
                                @foreach (var item in ViewBag.MonthsTypeList)
                                {
                                    if (item.Value == ViewBag.MonthsTypeID?.ToString())
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>


                        <!-- To Date Field -->
                        <div class="col-md-3 mb-3">
                            <label for="YearsTypeID" class="form-label fw-bold">Year</label>
                            <select name="YearsTypeID" class="form-control">
                                @for (int year = DateTime.Now.Year; year >= 1900; year--)
                                {
                                    // Corrected to compare with ViewBag.YearsTypeID
                                    if (year == (ViewBag.YearsTypeID ?? 0))
                                    {
                                        <option value="@year" selected>@year</option>
                                    }
                                    else
                                    {
                                        <option value="@year">@year</option>
                                    }
                                }
                            </select>
                        </div>


                        <!-- Employee Name Search Field -->
                        <div class="col-md-3 mb-3">
                            <label class="form-label fw-bold">Employee Name</label>
                            <input type="text" class="form-control" id="searchEmployeeInput" placeholder="Search Employee" name="EmployeeName" value="@ViewBag.EmployeeName" />
                            <input type="hidden" class="form-control" id="EmployeeID" placeholder="Search Employee" name="EmployeeID" value="@ViewBag.EmployeeID" />
                        </div>

                        <!-- Process Type Dropdown -->
                        <div class="col-md-3 mb-3">
                            <label class="form-label fw-bold">Deducation Type</label>
                            <select name="DeducationTypeID" class="form-control">
                                @foreach (var item in ViewBag.DeducationTypeList)
                                {
                                    if (item.Value == ViewBag.DeducationTypeID?.ToString())
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>

                    </div>

                    <!-- Action Buttons -->
                    <div class="row">
                        <div class="col-md-12 text-end">
                            <button type="submit" class="btn btn-primary">Search</button>
                            <button type="button" class="btn btn-primary addDeductionLink">Add New</button>
                            <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "Deduction")'">Excel</button>
                            <button type="button" class="btn btn-outline-secondary" onclick="printDeductions()">Print</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Deduction List</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                       <div class="col-10 col-md-11 col-lg-10">
                            <div class="row">
                                <div class="col-3">
                                    <p class="text-nowrap">Employee Name</p>
                                </div>
                                <div class="col-3">
                                    <p class="text-nowrap">Deduction Type</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">Month</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">Year</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">Deducation Days</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-1 col-lg-2">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-nowrap">Edit</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">Delete</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="col-12 col-md-12 col-lg-12 GVDetail">
                        <div class="row">
                            <div class="col-10 col-md-11 col-lg-10">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-3">
                                        <p class="text-nowrap"><span class="smallAdd">Employee Name : </span>@item.Employee?.FirstName @item.Employee?.FatherName @item.Employee?.FamilyName</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-3">
                                        <p class="text-nowrap"><span class="smallAdd">Deduction Type : </span>@(item.DeductionType?.DeductionTypeName ?? "N/A")  </p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <p class="text-nowrap"><span class="smallAdd">Month : </span>@Html.DisplayFor(modelItem => item.Month)</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <p class="text-nowrap"><span class="smallAdd">Year : </span>@Html.DisplayFor(modelItem => item.Year)</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <p class="text-nowrap"><span class="smallAdd">Deducation Days : </span>@Html.DisplayFor(modelItem => item.Days)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 col-md-1 col-lg-2">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="editDeductionLink" data-id="@item.DeductionID">
                                                <i class="fa fa-pencil" style="font-size: large; color:steelblue; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="deleteDeductionLink" data-id="@item.DeductionID">
                                                <i class="fa-regular fa-trash-can" style="font-size: large; color:maroon; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Include the modal partial -->
<div id="editDeductionModalContainer"></div>
<div id="addDeductionModalContainer"></div>
