@model IEnumerable<Exampler_ERP.Models.HR_Deduction>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "_PrintLayout";
}
<!DOCTYPE html>
<html>
<head>
	<title>@Localizer["lbl_PrintDeduction"]</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
	<h2>@Localizer["lbl_DeductionList"]</h2>
    <table>
        <thead>
            <tr>
                <th>@Localizer["lbl_DeductionID"]</th>
                <th>@Localizer["lbl_EmployeeName"]</th>
                <th>@Localizer["lbl_DeductionType"]</th>
                <th>@Localizer["lbl_Month"]</th>
                <th>@Localizer["lbl_Year"]</th>
                <th>@Localizer["lbl_DeducationDay"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Deduction in Model)
            {
                <tr>
                    <td>@Deduction.DeductionID</td>
                    <td>@($"{Deduction.Employee?.FirstName} {Deduction.Employee?.FatherName} {Deduction.Employee?.FamilyName}")</td>
                    <td>@(Deduction.DeductionType?.DeductionTypeName ?? "N/A")</td>
                    <td>@Deduction.Month</td>
                    <td>@Deduction.Year</td>
                    <td>@Deduction.Days</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
