@model Exampler_ERP.Models.Temp.EmployeeLeaveBlanceListViewModel

@{
    ViewData["Title"] = "Employeement - LeaveBlance";
}

@section PageScripts {

    <script>
        $(document).ready(function () {
            $('.editLeaveBlanceLink').click(function (e) {
                e.preventDefault();
                var LeaveBlanceTypeId = $(this).data('id');
                $.get('@Url.Action("Edit", "LeaveBlance")', { id: LeaveBlanceTypeId }, function (data) {
                    $('#editLeaveBlanceModalContainer').html(data);
                    $('#editLeaveBlanceModal').modal('show');
                });
            });

            $('#editLeaveBlanceModalContainer').on('click', '#saveChanges', function () {
                var formData = $('#editLeaveBlanceForm').serialize();
                console.log("Serialized form data:", formData); // Log serialized data for debugging
                $.post('@Url.Action("Edit", "LeaveBlance")', formData, function (response) {
                    if (response.success) {
                        $('#editLeaveBlanceModal').modal('hide');
                        location.reload(); // Reload the page to reflect changes
                    } else {
                        // Handle validation errors or other cases
                    }
                });
            });

            // Close Modal Edit Contrainer
            $('#editLeaveBlanceModalContainer').on('click', '#Close', function () {
                $('#editLeaveBlanceModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });


            // Delete LeaveBlance
            $('.deleteLeaveBlanceLink').click(function (e) {
                e.preventDefault();
                var LeaveBlanceId = $(this).data('id');
                $.post('@Url.Action("Delete", "LeaveBlance")', { id: LeaveBlanceId }, function (response) {
                    if (response.success) {
                        location.reload();
                    } else {
                        // Handle errors
                    }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
        });
    </script>
    <script>
        function printLeaveBlances() {
            var printWindow = window.open('@Url.Action("Print", "LeaveBlance")', '_blank');
            printWindow.focus();
        }
    </script>
}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Employeement /</span> LeaveBlance
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">LeaveBlance List</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-8 col-md-10 col-lg-7">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-nowrap">Employee Name</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">Leave Total Blance</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-md-2 col-lg-5">
                            <div class="row">
                                <div class="col-12">
                                    <p class="text-nowrap">Detail</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model.EmployeeLeaveBlance)
                {
                    <div class="col-12 col-md-12 col-lg-12 GVDetail">
                        <div class="row">
                            <div class="col-8 col-md-10 col-lg-7">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <p class="text-nowrap"><span class="smallAdd">Employee Name : </span>@Html.DisplayFor(modelItem => item.EmployeeName)</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <p class="text-nowrap">
                                            <span class="smallAdd">Leave Total Blance : </span>@Html.DisplayFor(modelItem => item.TotalBlanceLeave)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-2 col-lg-5">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="editLeaveBlanceLink" data-id="@item.EmployeeID">
                                                <i class="fa fa-pencil" style="font-size: x-large; color:steelblue; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<!-- Include the modal partial -->
<div id="editLeaveBlanceModalContainer"></div>
