@{
    TempData.Keep();
    @* ViewData["navbarDetached"] = (ViewData["navbarDetached"] ?? "navbar-detached"); *@
    ViewData["navbarDetached"] = (ViewData["navbarDetached"] ??= null);
    ViewData["containerNav"] = (ViewData["containerNav"] ??= "container-fluid");
}
@if (@ViewData["navbarDetached"] != null)
{
    <nav class='layout-navbar @((@ViewData["navbarDetached"] != null) ? @ViewData["navbarDetached"] : "") @((@ViewData["navbarDetached"] != null) ? @ViewData["containerNav"] : "") navbar navbar-expand-xl align-items-center bg-navbar-theme'
         id="layout-navbar">
        @await Html.PartialAsync("Sections/Navbar/_EmployeeNavbarPartial")
    </nav>
}
else
{
    <nav class='layout-navbar @((@ViewData["navbarDetached"] != null) ? @ViewData["navbarDetached"] : "") @((@ViewData["navbarDetached"] != null) ? @ViewData["containerNav"] : "") navbar navbar-expand-xl align-items-center bg-navbar-theme'
         id="layout-navbar">
        <div class='@((@ViewData["navbarDetached"] == null) ? @ViewData["containerNav"] : "")'>
            @await Html.PartialAsync("Sections/Navbar/_EmployeeNavbarPartial")
        </div>
    </nav>

}
<script>
    $(document).ready(function () {
        // changepassword modal popup
        $('.changepasswordLink').click(function (e) {
            e.preventDefault();

            $.get('@Url.Action("ChangePassword", "Employee")', function (data) {
                $('#changepasswordModalContainer').html(data);
                $('#changepasswordModal').modal('show');
            });
        });


        // Close Modal changepassword Contrainer
        $('#changepasswordModalContainer').on('click', '#Close', function () {
            $('#changepasswordModal').modal('hide'); // Close the modal directly
            // detailsitional logic if needed
        });
    });
</script>
<div id="changepasswordModalContainer"></div>
