@model Exampler_ERP.Models.Temp.ReceivedVoucherIndexViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<style>
    .ui-autocomplete {
        z-index: 1000 !important;
    }
</style>

<div class="modal fade" id="addVoucherModal" tabindex="-1" role="dialog" aria-labelledby="addVoucherModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="--bs-modal-width: 80rem;">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="addVoucherModalLabel"><i class="fas fa-key me-2"></i>@Localizer["lbl_Add"] Received Voucher</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addVoucherForm" enctype="multipart/form-data" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label asp-for="Vouchers.VoucherTypeID" class="form-label fw-bold">Voucher @Localizer["lbl_Type"]</label>
                            <select asp-for="Vouchers.VoucherTypeID" class="form-select form-select-lg">
                                <option value="">Select Voucher Type</option>
                                @foreach (var type in ViewBag.VoucherTypeList)

                                {
                                    <option value="@type.Value">@type.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="HeadofAccountid_credit" class="form-label fw-bold">Head of Account (Credit)</label>
                            <select id="HeadofAccountid_credit" name="HeadofAccountid_credit" class="form-select form-select-lg">
                                <option value="">Select Head of Account</option>
                                @foreach (var type in ViewBag.HeadofAccount_creditList)

                                {
                                    <option value="@type.Value">@type.Text</option>
                                }
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="HeadofAccountid_debit" class="form-label fw-bold">Head of Account (Debit)</label>
                            <select id="HeadofAccountid_debit" name="HeadofAccountid_debit" class="form-select form-select-lg">
                                <option value="">Select Head of Account</option>
                                @foreach (var type in ViewBag.HeadofAccount_debitList)

                                {
                                    <option value="@type.Value">@type.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label asp-for="Vouchers.PayeeName" class="form-label fw-bold">Received From</label>
                            <input asp-for="Vouchers.PayeeName" type="text" class="form-control form-control-lg" />
                        </div>
                        <div class="col-md-2">
                            <label asp-for="Vouchers.InstruType" class="form-label fw-bold">Instrument @Localizer["lbl_Type"]</label>
                            <select asp-for="Vouchers.InstruType" class="form-select form-select-lg">
                                <option value="">Select Type</option>
                                @foreach (var type in ViewBag.IntrumentTypeList)

                                {
                                    <option value="@type.Value">@type.Text</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="Vouchers.InstruNumber" class="form-label fw-bold">Instrument Number</label>
                            <input asp-for="Vouchers.InstruNumber" type="text" class="form-control form-control-lg" />
                        </div>
                        <div class="col-md-2">
                            <label asp-for="Vouchers.InstruDate" class="form-label fw-bold">Instrument @Localizer["lbl_Date"]</label>
                            <input asp-for="Vouchers.InstruDate" type="date" class="form-control form-control-lg" />
                        </div>
                        <div class="col-md-4">
                            <label asp-for="Vouchers.InstruDetail" class="form-label fw-bold">Instrument Detail</label>
                            <input asp-for="Vouchers.InstruDetail" type="text" class="form-control form-control-lg" />
                        </div>
                        <div class="col-md-2">
                            <label class="form-label fw-bold">Instrument Amount</label>
                            <input id="InstrumentAmount" class="form-control form-control-lg" />
                        </div>
                        <div class="col-md-12">
                            <label asp-for="Vouchers.Description" class="form-label fw-bold">@Localizer["lbl_Description"]</label>
                            <textarea asp-for="Vouchers.Description" class="form-control form-control-lg" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info add-row">Add</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="ReceivedVoucherTable">
                            <thead class="table-light">
                                <tr>
                                    <th>Transaction @Localizer["lbl_Type"]</th>
                                    <th>Transaction Account</th>
                                    <th>Debit Amount</th>
                                    <th>Credit Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Vouchers.VoucherDetails != null && Model.Vouchers.VoucherDetails.Count > 0)

                                {

                                    for (int i = 0; i < Model.Vouchers.VoucherDetails.Count; i++)

                                    {
                                        <tr>
                                            <td>
                                                <select class="form-select transaction-Type" name="Vouchers.VoucherDetails[@i].DRCR">
                                                    <option value="">Select Type</option>
                                                    @foreach (var type in ViewBag.TransactionTypeList)

                                                    {
                                                        <option value="@type.Value">@type.Text</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-select transaction-account" name="Vouchers.VoucherDetails[@i].HeadofAccount_FiveID">
                                                    <option value="">Select Account</option>
                                                    @foreach (var type in ViewBag.HeadofAccount_FiveList)

                                                    {
                                                        <option value="@type.Value">@type.Text</option>
                                                    }
                                                </select>
                                            </td>

                                            <td>
                                                <input type="text" class="form-control debit" name="Vouchers.VoucherDetails[@i].DrAmt" value="@Model.Vouchers.VoucherDetails[i].DrAmt" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control credit" name="Vouchers.VoucherDetails[@i].CrAmt" value="@Model.Vouchers.VoucherDetails[i].CrAmt" />
                                            </td>
                                        </tr>
                                    }

                                }

                            </tbody>

                        </table>
                    </div>
                    <div class="row mt-4">

                        <div class="col-md-6">
                            <label class="form-label fw-bold">@Localizer["lbl_Total"] Debit Amount</label>
                            <input id="TotalCrAmt" class="form-control form-control-lg" readonly />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label fw-bold">@Localizer["lbl_Total"] Credit Amount</label>
                            <input id="TotalDrAmt" class="form-control form-control-lg" readonly />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["lbl_Close"]</button>
                <button type="button" id="saveNewVoucher" class="btn btn-success">Save Voucher</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        function calculateTotals() {
            let totalcredit = 0;
            let totaldebit = 0;

            $('#ReceivedVoucherTable tbody tr').each(function () {
                const credit = parseFloat($(this).find('.credit').val()) || 0;
                const debit = parseFloat($(this).find('.debit').val()) || 0;

                totalcredit += credit;
                totaldebit += debit;
            });

            $('#TotalDrAmt').val(totalcredit.toFixed(2));
            $('#TotalCrAmt').val(totaldebit.toFixed(2));

            if (totalcredit !== totaldebit) {
                $('#saveNewVoucher').prop('disabled', true);
            } else {
                $('#saveNewVoucher').prop('disabled', false);
            }
        }

        $(document).on('input', '.credit, .debit', calculateTotals);

        // Add rows based on credit, debit, and Amount fields
        $(document).on('click', '.add-row', function () {
            const creditHead = $('#HeadofAccountid_credit').val();
            const debitHead = $('#HeadofAccountid_debit').val();
            const amount = parseFloat($('#InstrumentAmount').val()) || 0;

            if (!creditHead || !debitHead || amount === 0) {
                alert('Please fill out all required fields: credit Account, debit Account, and Instrument Amount.');
                return;
            }

            const tableBody = $('#ReceivedVoucherTable tbody');

            tableBody.empty();

            const rowCount = tableBody.find('tr').length;


            // Add debit row
            const debitRow = `<tr>
                    <td>
                        <select class="form-select transaction-Type" name="Vouchers.VoucherDetails[${rowCount}].DRCR" >
                            <option value="1" selected>Debit</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-select transaction-account" name="Vouchers.VoucherDetails[${rowCount}].HeadofAccount_FiveID">
                            <option value="${debitHead}" selected>${$('#HeadofAccountid_debit option:selected').text()}</option>
                        </select>
                    </td>

                    <td>
                            <input type="text" class="form-control debit" name="Vouchers.VoucherDetails[${rowCount}].DrAmt" value="${amount.toFixed(2)}" />
                    </td>
                        <td>
                                <input type="text" class="form-control credit" name="Vouchers.VoucherDetails[${rowCount}].CrAmt" value="0" readonly />
                        </td>
                </tr>`;
            // Add credit row
            const creditRow = `<tr>
                        <td>
                                <select class="form-select transaction-Type" name="Vouchers.VoucherDetails[${rowCount + 1}].DRCR">
                                <option value="2" selected>Credit</option>
                            </select>
                        </td>
                        <td>
                                <select class="form-select transaction-account" name="Vouchers.VoucherDetails[${rowCount + 1}].HeadofAccount_FiveID">
                                <option value="${creditHead}" selected>${$('#HeadofAccountid_credit option:selected').text()}</option>
                            </select>
                        </td>

                        <td>
                                    <input type="text" class="form-control debit" name="Vouchers.VoucherDetails[${rowCount + 1}].DrAmt" value="0" readonly />
                        </td>
                            <td>
                                        <input type="text" class="form-control credit" name="Vouchers.VoucherDetails[${rowCount + 1}].CrAmt" value="${amount.toFixed(2)}" />
                            </td>
                    </tr>`;

            // Append rows to the table
            tableBody.append(debitRow + creditRow);

            // Hide the add button
            $('.add-row').hide();
            if ($('#ReceivedVoucherTable tbody tr').eq(2).length > 0) {
                $('#ReceivedVoucherTable tbody tr').eq(2).remove();
            }
            // $('#ReceivedVoucherTable tbody')
            //     .find('input, select')
            //     .prop('readonly', true);

            // Disable select fields by adding a class
            $('#ReceivedVoucherTable tbody')
                .find('input, select')
                .addClass('disabled-select')
                .css('pointer-events', 'none')
                .css('background-color', '#e9ecef');
            calculateTotals();
        });
    });

</script>
