@model IEnumerable<Exampler_ERP.Models.Settings_UnitType>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["lbl_Print"]  Item Unit Type</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
    <h2>Item Unit Type List</h2>
    <table>
        <thead>
            <tr>
                <th>Item Unit Type @Localizer["lbl_ID"]</th>
                <th>Item Unit Type Name</th>
                <th>Item Unit Type Code</th>
                <th>@Localizer["lbl_Active"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var UnitType in Model)
            {
                <tr>
                    <td>@UnitType.UnitTypeID</td>
                    <td>@UnitType.UnitTypeName</td>
                    <td>@UnitType.UnitTypeCode</td>
                    <td>@(UnitType.ActiveYNID == 1 ? "Yes" : "No")</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
