@model IEnumerable<Exampler_ERP.Models.Settings_CashAgainstSale>

@{
    ViewData["Title"] = "Master Information - Cash Against Sale";
}

@section PageScripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+5hb5z2N7O6eHg4d5e2jtV5Wz4w69F+QYw1Fz4yD61DdE8kOkWJLvHh7vDkg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        $(document).ready(function () {
            // Edit CashAgainstSale modal popup
            $('.editCashAgainstSaleLink').click(function (e) {
                e.preventDefault();
                var CashAgainstSaleId = $(this).data('id');
                $.get('@Url.Action("Edit", "CashAgainstSale")', { id: CashAgainstSaleId }, function (data) {
                    $('#editCashAgainstSaleModalContainer').html(data);
                    $('#editCashAgainstSaleModal').modal('show');
                });
            });

            $('#editCashAgainstSaleModalContainer').on('click', '#saveChanges', function () {
                var formData = $('#editCashAgainstSaleForm').serialize();
                $.post('@Url.Action("Edit", "CashAgainstSale")', formData, function (response) {
                    if (response.success) {
                        // Reload the page or update the part of the page with the updated data
                        location.reload();
                    } else {
                        showErrorAlert(response.message);
                    }
                });
            });

            // Add new CashAgainstSale modal popup
            $('.addCashAgainstSaleLink').click(function () {
                $.get('@Url.Action("Create", "CashAgainstSale")', function (data) {
                    $('#addCashAgainstSaleModalContainer').html(data);
                    $('#addCashAgainstSaleModal').modal('show');
                });
            });

            // Save new CashAgainstSale form
            $('#addCashAgainstSaleModalContainer').on('click', '#saveNewCashAgainstSale', function () {
                var formData = $('#addCashAgainstSaleForm').serialize();
                $.post('@Url.Action("Create", "CashAgainstSale")', formData, function (response) {
                    if (response.success) {
                        $('#addCashAgainstSaleModal').modal('hide');
                        location.reload(); // Reload the page to reflect changes
                    } else {
                        showErrorAlert(response.message);
                    }
                });
            });

            // Close Modal Add Contrainer
            $('#addCashAgainstSaleModalContainer').on('click', '#Close', function () {
                $('#addCashAgainstSaleModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Close Modal Edit Contrainer
            $('#editCashAgainstSaleModalContainer').on('click', '#Close', function () {
                $('#editCashAgainstSaleModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Delete CashAgainstSale
            $('.deleteCashAgainstSaleLink').click(function (e) {
                e.preventDefault();
                var CashAgainstSaleId = $(this).data('id');
                $.post('@Url.Action("Delete", "CashAgainstSale")', { id: CashAgainstSaleId }, function (response) {
                    if (response.success) {
                        location.reload();
                    } else {
                        showErrorAlert(response.message);
                    }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
        });
    </script>
    <script>
        function printCashAgainstSalees() {
            var printWindow = window.open('@Url.Action("Print", "CashAgainstSale")', '_blank');
            printWindow.focus();
        }
        $('#searchCashAgainstSaleButton').click(function () {
            var searchValue = $('#searchCashAgainstSaleInput').val();
            window.location.href = '@Url.Action("Index", "CashAgainstSale")?searchBranchName=' + searchValue;
        });
    </script>


}



<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Master Information /</span> Cash Against Sale
</h4>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <h5 class="card-header">Searhing Box</h5>
            <div class="Searching-Box-padding">
                <div class="row mb-4">
                    <div class="col-md-8" style="padding-bottom: 15px;">
                        <!-- Search Field and Button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Branch name" id="searchCashAgainstSaleInput">
                            <button class="btn btn-outline-secondary" type="button" id="searchCashAgainstSaleButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 text-end">
                        <!-- Action Buttons -->
                        <button type="button" class="btn btn-primary addCashAgainstSaleLink">Add New</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "CashAgainstSale")'">Excel</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="printCashAgainstSalees()">Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Cash Against Sale List</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-10 col-lg-10">
                            <div class="row">
                                <div class="col-5">
                                    <p class="text-nowrap">Branch Name</p>
                                </div>
                                <div class="col-5">
                                    <p class="text-nowrap">Cash Against Sale Account</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">Active</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-2 col-lg-2">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-nowrap">Edit</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">Delete</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="col-12 col-md-12 col-lg-12 GVDetail">
                        <div class="row">
                            <div class="col-10 col-md-10 col-lg-10">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-5">
                                        <p class="text-nowrap"><span class="smallAdd">CashAgainstSale Name : </span>@Html.DisplayFor(modelItem => item.BranchType.BranchTypeName)</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-5">
                                        <p class="text-nowrap"><span class="smallAdd">Head Account : </span>@Html.DisplayFor(modelItem => item.HeadofAccount_Five.HeadofAccount_FiveName)</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <p class="text-nowrap">
                                            <span class="smallAdd">Active : </span>
                                            @if (item.ActiveYNID == 1)
                                            {
                                                <span>Yes</span>
                                            }
                                            else if (item.ActiveYNID == 2)
                                            {
                                                <span>No</span>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 col-md-2 col-lg-2">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="editCashAgainstSaleLink" data-id="@item.CashAgainstSaleID">
                                                <i class="fa fa-pencil" style="font-size: large; color:steelblue; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="deleteCashAgainstSaleLink" data-id="@item.CashAgainstSaleID">
                                                <i class="fa-regular fa-trash-can" style="font-size: large; color:maroon; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

<!-- Include the modal partial -->
<div id="editCashAgainstSaleModalContainer"></div>
<div id="addCashAgainstSaleModalContainer"></div>

<script>


</script>
