@model IEnumerable<Exampler_ERP.Models.Settings_CashAgainstSale>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["lbl_Print"]  Cash Against Sales</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
    <h2>@Localizer["lbl_CashAgainstSale"] @Localizer["lbl_List"]</h2>
    <table>
        <thead>
            <tr>
                <th>@Localizer["lbl_Branch"] @Localizer["lbl_Name"]</th>
                <th>@Localizer["lbl_CashAgainstSale"] @Localizer["lbl_Account"]</th>
                <th>@Localizer["lbl_Active"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var CashAgainstSale in Model)
            {
                <tr>
                    <td>@CashAgainstSale.BranchType.BranchTypeName</td>
                    <td>@CashAgainstSale.HeadofAccount_Five.HeadofAccount_FiveName</td>
                    <td>@(CashAgainstSale.ActiveYNID == 1 ? "Yes" : "No")</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
