@model IEnumerable<Exampler_ERP.Models.Settings_VoucherType>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <title>Print Voucher Types</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
    <h2>Voucher Type List</h2>
    <table>
        <thead>
            <tr>
                <th>VoucherType ID</th>
                <th>Voucher Type Name</th>
                <th>@Localizer["lbl_Active"]</th>
                <th>Voucher Nature</th>
                <th>Voucher Prefix</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var VoucherType in Model)
            {
                <tr>
                    <td>@VoucherType.VoucherTypeID</td>
                    <td>@VoucherType.VoucherTypeName</td>
                    <td>@(VoucherType.ActiveYNID == 1 ? "Yes" : "No")</td>
                    <td>@VoucherType.VoucherNature</td>
                    <td>@VoucherType.VoucherPrefix</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
