@model IEnumerable<Exampler_ERP.Models.Settings_VoucherType>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
	ViewData["Title"] = @Localizer["lbl_MasterInformation"] + " - " + @Localizer["lbl_VoucherType"];
}

@section PageScripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+5hb5z2N7O6eHg4d5e2jtV5Wz4w69F+QYw1Fz4yD61DdE8kOkWJLvHh7vDkg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        $(document).ready(function () {
            // Edit VoucherType modal popup
            $('#VoucherTypeListContainer').on('click', '.editVoucherTypeLink', function (e) {
                e.preventDefault();
                var VoucherTypeId = $(this).data('id');
                $.get('@Url.Action("Edit", "VoucherType")', { id: VoucherTypeId }, function (data) {
                    $('#editVoucherTypeModalContainer').html(data);
                    $('#editVoucherTypeModal').modal('show');
                });
            });

            $('#editVoucherTypeModalContainer').on('click', '#saveChanges', function () {
                var formData = $('#editVoucherTypeForm').serialize();
                $.post('@Url.Action("Edit", "VoucherType")', formData, function (response) {
                if (response.success) {
                            $('#editVoucherTypeModal').modal('hide');

                            // ✅ Ab poora list AJAX se reload karo
                            $.get('@Url.Action("Index", "VoucherType")', function (partialHtml) {
                                var html = $(partialHtml).find('#VoucherTypeListContainer').html();
                                $('#VoucherTypeListContainer').html(html);
                            });
                        }
                });
            });

            // Add new VoucherType modal popup
            $('.addVoucherTypeLink').click(function () {
                $.get('@Url.Action("Create", "VoucherType")', function (data) {
                    $('#addVoucherTypeModalContainer').html(data);
                    $('#addVoucherTypeModal').modal('show');
                });
            });

            // Save new VoucherType form
            $('#addVoucherTypeModalContainer').on('click', '#saveNewVoucherType', function () {
                var formData = $('#addVoucherTypeForm').serialize();
                $.post('@Url.Action("Create", "VoucherType")', formData, function (response) {
                if (response.success) {
                            $('#addVoucherTypeModal').modal('hide');

                            // ✅ Ab poora list AJAX se reload karo
                            $.get('@Url.Action("Index", "VoucherType")', function (partialHtml) {
                                var html = $(partialHtml).find('#VoucherTypeListContainer').html();
                                $('#VoucherTypeListContainer').html(html);
                            });
                        }
                });
            });

            // Close Modal Add Contrainer
            $('#addVoucherTypeModalContainer').on('click', '#Close', function () {
                $('#addVoucherTypeModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Close Modal Edit Contrainer
            $('#editVoucherTypeModalContainer').on('click', '#Close', function () {
                $('#editVoucherTypeModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Delete VoucherType
            $('#VoucherTypeListContainer').on('click', '.deleteVoucherTypeLink', function (e) {
                e.preventDefault();
                var VoucherTypeId = $(this).data('id');
                $.post('@Url.Action("Delete", "VoucherType")', { id: VoucherTypeId }, function (response) {
                     if (response.success) {
                    $.get('@Url.Action("Index", "VoucherType")', function (partialHtml) {
                      var html = $(partialHtml).find('#VoucherTypeListContainer').html();
                      $('#VoucherTypeListContainer').html(html);
                    });
                  }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
        });
    </script>
    <script>
        function printVoucherTypees() {
            var printWindow = window.open('@Url.Action("Print", "VoucherType")', '_blank');
            printWindow.focus();
        }
        $('#searchVoucherTypeButton').click(function () {
            var searchValue = $('#searchVoucherTypeInput').val();
            window.location.href = '@Url.Action("Index", "VoucherType")?searchVoucherTypeName=' + searchValue;
        });
    </script>


}



<h4 class="py-3 mb-4">
	<span class="text-muted fw-light">@Localizer["lbl_MasterInformation"] /</span> @Localizer["lbl_VoucherType"]
</h4>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <h5 class="card-header">@Localizer["lbl_SearchingBox"]</h5>
            <div class="Searching-Box-padding">
                <div class="row mb-4">
                    <div class="col-md-8" style="padding-bottom: 15px;">
                        <!-- Search Field and Button -->
                        <div class="input-group">
							<input type="text" class="form-control" placeholder="@Localizer["lbl_SearchVoucherTypeName"]" id="searchVoucherTypeInput">
						    <button class="btn btn-outline-secondary" type="button" id="searchVoucherTypeButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 text-end">
                        <!-- Action Buttons -->
                        <button type="button" class="btn btn-primary addVoucherTypeLink">@Localizer["lbl_AddNew"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "VoucherType")'">@Localizer["lbl_Excel"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="printVoucherTypees()">@Localizer["lbl_Print"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
			<h5 class="card-header">@Localizer["lbl_VoucherTypeList"]</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-10 col-lg-10">
                            <div class="row">
                                <div class="col-4">
									<p class="text-nowrap">@Localizer["lbl_VoucherTypeName"]</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">@Localizer["lbl_Active"]</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap"> @Localizer["lbl_Nature"]</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap"> @Localizer["lbl_Prefix"]</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-2 col-lg-2">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_Edit"]</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_Delete"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="VoucherTypeListContainer">
                    @Html.Partial("~/Views/Finance/MasterInfo/VoucherType/_VoucherTypeListPartial.cshtml", Model)
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Include the modal partial -->
<div id="editVoucherTypeModalContainer"></div>
<div id="addVoucherTypeModalContainer"></div>
