@model Exampler_ERP.Models.Temp.DeductionSetupListViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
	ViewData["Title"] = @Localizer["lbl_MasterInformation"] + " - Deduction Setup";
}

@section PageScripts {

    <script>
        $(document).ready(function () {
            // Edit DeductionSetup modal popup
			$('#DeductionSetupListContainer').on('click', '.editDeductionSetupLink', function (e) {
                e.preventDefault();
                var DeductionSetupId = $(this).data('id');
                $.get('@Url.Action("Edit", "DeductionSetup")', { id: DeductionSetupId }, function (data) {
                    $('#editDeductionSetupModalContainer').html(data);
                    $('#editDeductionSetupModal').modal('show');
                });
            });

            $('#editDeductionSetupModalContainer').on('click', '#saveChanges', function () {
                var formData = $('#editDeductionSetupForm').serialize();
                $.post('@Url.Action("Edit", "DeductionSetup")', formData, function (response) {
					if (response.success) {
							$('#editDeductionSetupModal').modal('hide');

							// ✅ Ab poora list AJAX se reload karo
							$.get('@Url.Action("Index", "DeductionSetup")', function (partialHtml) {
								var html = $(partialHtml).find('#DeductionSetupListContainer').html();
								$('#DeductionSetupListContainer').html(html);
							});
						}
                });
            });

            // Close Modal Edit Contrainer
            $('#editDeductionSetupModalContainer').on('click', '#Close', function () {
                $('#editDeductionSetupModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Delete DeductionSetup
			$('#DeductionSetupListContainer').on('click', '.deleteDeductionSetupLink', function (e) {
                e.preventDefault();
                var DeductionSetupId = $(this).data('id');
                $.post('@Url.Action("Delete", "DeductionSetup")', { id: DeductionSetupId }, function (response) {
					if (response.success) {
					$.get('@Url.Action("Index", "DeductionSetup")', function (partialHtml) {
					  var html = $(partialHtml).find('#DeductionSetupListContainer').html();
					  $('#DeductionSetupListContainer').html(html);
					});
				  }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
        });
    </script>
    <script>
        function printDeductionSetups() {
            var printWindow = window.open('@Url.Action("Print", "DeductionSetup")', '_blank');
            printWindow.focus();
        }
        $('#searchDeductionTypeButton').click(function () {
            var searchValue = $('#searchDeductionTypeInput').val();
            window.location.href = '@Url.Action("Index", "DeductionSetup")?searchDeductionTypeName=' + searchValue;
        });
    </script>
}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">@Localizer["lbl_MasterInformation"] /</span> Deduction Setup
</h4>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <h5 class="card-header">@Localizer["lbl_SearchingBox"]</h5>
            <div class="Searching-Box-padding">
                <div class="row mb-4">
                    <div class="col-md-8" style="padding-bottom: 15px;">
                        <!-- Search Field and Button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="@Localizer["lbl_Search"] Deduction Type @Localizer["lbl_Name"]" id="searchDeductionTypeInput">
                            <button class="btn btn-outline-secondary" type="button" id="searchDeductionTypeButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 text-end">
                        <!-- Action Buttons -->
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "DeductionSetup")'">@Localizer["lbl_Excel"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="printDeductionSetups()">@Localizer["lbl_Print"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Deduction Setup @Localizer["lbl_List"]</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                       <div class="col-10 col-md-10 col-lg-10">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-nowrap">Deduction Type @Localizer["lbl_Name"]</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">Class</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">Total</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-2 col-lg-2">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_Edit"]</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_Delete"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<div id="DeductionSetupListContainer">
					@Html.Partial("~/Views/HR/MasterInfo/DeductionSetup/_DeductionSetupListPartial.cshtml", Model)
				</div>
            </div>
        </div>
    </div>
</div>

<!-- Include the modal partial -->
<div id="editDeductionSetupModalContainer"></div>
<div id="addDeductionSetupModalContainer"></div>
