@model Exampler_ERP.Models.Temp.DeductionSetupViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="modal fade" id="editDeductionSetupModal" tabindex="-1" role="dialog" aria-labelledby="editDeductionSetupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="editDeductionSetupModalLabel">
                    <i class="fas fa-key me-2"></i>
                    Edit Deduction Setup
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form id="editDeductionSetupForm" method="post" asp-action="SaveChanges">
                    <input type="hidden" asp-for="DeductionTypeID" />
                    <div class="form-group">
                        <label for="DeductionTypeID" class="form-label fw-bold">Deduction Type</label>
                        <select asp-for="DeductionTypeID" asp-items="@(new SelectList(ViewBag.DeductionTypes, "DeductionTypeID", "DeductionTypeName"))" class="form-control form-control-lg" disabled></select>
                    </div>
                    <div class="form-group">
                        <label for="ClassID" class="form-label fw-bold">Class</label>
                        <select asp-for="ClassID" asp-items="@(new SelectList(ViewBag.ClassIDList, "Value", "Text"))" class="form-control form-control-lg"></select>
                    </div>
                    <div class="form-group">
                        <label class ="form-label fw-bold">
                            Salary Type</labe>
                        @for (var i = 0; i < Model.SalaryTypeDeductions.Count; i++)
                        {
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-7">
                                            <div class="form-check">
                                                <input type="hidden" name="SalaryTypeDeductions[@i].SalaryTypeID" value="@Model.SalaryTypeDeductions[i].SalaryTypeID" />
                                                <input type="hidden" name="SalaryTypeDeductions[@i].SalaryTypeName" value="@Model.SalaryTypeDeductions[i].SalaryTypeName" />
                                                <input class="form-check-input" type="checkbox" name="SalaryTypeDeductions[@i].IsSelected" value="true" @(Model.SalaryTypeDeductions[i].IsSelected ? "checked" : "") />
                                                    <label class="form-check-label" class="form-label fw-bold">@Model.SalaryTypeDeductions[i].SalaryTypeName</label>
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div class="form-group">
                                                <select asp-for="@Model.SalaryTypeDeductions[i].DeductionValueID" asp-items="@(new SelectList(ViewBag.DeductionValueList, "Value", "Text"))" class="form-control form-control-lg"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close">@Localizer["lbl_Close"]</button>
                <button type="submit" class="btn btn-success" id="saveChanges">@Localizer["lbl_SaveChanges"]</button>
            </div>
        </div>
    </div>
</div>
