@model Exampler_ERP.Models.Temp.EmployeeCardPrintListViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["lbl_Employeement"] +" - Card Print";
}

@section PageScripts {

    <script>
        function printCardPrints() {
            var printWindow = window.open('@Url.Action("Print", "CardPrint")', '_blank');
            printWindow.focus();
        }
        $('#searchEmployeeButton').click(function () {
            var searchValue = $('#searchEmployeeInput').val();
            window.location.href = '@Url.Action("Index", "CardPrint")?id=' + searchValue;
        });
        $(document).ready(function () {
            $.widget("custom.autocomplete", $.ui.autocomplete, {
            _renderItem: function (ul, item) {
                return $("<li>")
                    .append(item.label)  // Render the HTML content in `label`
                    .appendTo(ul);
            }
        });

        $("#searchEmployeeInput").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetEmployeeSuggestions", "Employee")',
                    type: 'GET',
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.label,  // HTML content
                                value: item.id      // Employee ID
                            };
                        }));
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                // Do something when an employee is selected
                console.log(ui.item.value); // Employee ID
                    window.location.href = '@Url.Action("Index", "CardPrint")?id=' + ui.item.value;
            }
        });
        });
    </script>
}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Employeement /</span> Card Print
</h4>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <h5 class="card-header">@Localizer["lbl_SearchingBox"]</h5>
            <div class="Searching-Box-padding">
                <div class="row mb-4">
                    <div class="col-md-8" style="padding-bottom: 15px;">
                        <!-- Search Field and Button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="@Localizer["lbl_Search"] Employee" id="searchEmployeeInput">
                            <button class="btn btn-outline-secondary" type="button" id="searchEmployeeButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Card Print @Localizer["lbl_List"]</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-11 col-lg-11">
                            <p class="text-nowrap">@Localizer["lbl_EmployeeName"]</p>
                        </div>
                        <div class="col-2 col-md-1 col-lg-1">
                            <p class="text-nowrap">@Localizer["lbl_Print"] </p>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model.EmployeeCardPrint)
                {
                    <div class="col-12 col-md-12 col-lg-12 GVDetail">
                        <div class="row">
                            <div class="col-10 col-md-11 col-lg-11">
                                <p class="text-nowrap"><span class="smallAdd">@Localizer["lbl_EmployeeName"] : </span>@Html.DisplayFor(modelItem => item.EmployeeName)</p>
                            </div>
                            <div class="col-2 col-md-1 col-lg-1">
                                <div class="btn-group" role="group" aria-label="Actions">
                                    <a href="@Url.Action("PrintCard", "CardPrint", new { employeeId = item.EmployeeID })" target="_blank">
                                        <i class="fa fa-print" style="font-size: large; color:steelblue; line-height: 2;"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
