@model IEnumerable<Exampler_ERP.Models.Temp.TrialBalanceReportViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "_BlankLayout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Localizer["lbl_Print"]  Trial Balance</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: white;
        }

        h2 {
            text-align: center;
            margin: 0;
            padding: 10px;
            background-color: #28a745;
            color: white;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
            font-size: 14px;
        }

        th {
            background-color: #d9d9d9;
            text-align: center;
        }

        td {
            text-align: center;
        }

        .totals-row th {
            text-align: center;
            font-weight: bold;
            background-color: #f2f2f2;
        }

        .green-banner {
            text-align: center;
            background-color: #28a745;
            color: white;
            font-size: 18px;
            padding: 10px 0;
        }
    </style>
</head>
<body style="background-color:white">
    <div class="row">
        <div class="col-3">
            <img src="~/img/favicon/clientlogo.png" style=" width: 200px; padding: 10px 0px 0px 20px; " />
        </div>
        <div class="col-6">
            <h5 style="text-align: center; padding-top: 35px; font-size: x-large;">
                Trial Balance Report
            </h5>
            <h6 style="text-align: center; padding-top: 35px; font-size: x-large;">
                <span class="field-label">
                    @if (ViewBag.Month != null && ViewBag.Month > 0 && ViewBag.Month <= 12)
                    {
                        string[] months = new string[]
                        {
                    "January", "February", "March", "April", "May", "June",
                    "July", "August", "September", "October", "November", "December"
                        };
                        <text>For the Month of @months[ViewBag.Month - 1] (@ViewBag.Year)</text>
                    }
                    else
                    {
                        <text>For the Year of @ViewBag.Year</text>
                    }
                </span>
            </h6>
        </div>
    </div>
      <table>
        <thead>
            <tr>
                <th>Count</th>
                <th>Account</th>
                <th>Debit</th>
                <th>Credit</th>
            </tr>
        </thead>
        <tbody>
            @{
                double totalDebit = 0;
                double totalCredit = 0;
                foreach (var item in Model)
                {
                    totalDebit += item.DrAmt ?? 0;
                    totalCredit += item.CrAmt ?? 0;
                    <tr>
                        <td>@item.TransactionCount</td>
                        <td>@item.AccountName</td>
                        <td>@item.DrAmt?.ToString("N2")</td>
                        <td>@item.CrAmt?.ToString("N2")</td>
                    </tr>
                    ;
                }
            }
            <tr class="totals-row">
                <th></th>
                <th>@Localizer["lbl_Total"]</th>
                <th>@totalDebit.ToString("N2")</th>
                <th>@totalCredit.ToString("N2")</th>
            </tr>
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
