@model Exampler_ERP.Models.Settings_SubQualificationType
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="modal fade" id="editSubQualificationModal" tabindex="-1" role="dialog" aria-labelledby="editSubQualificationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="editSubQualificationModalLabel">
                    <i class="fas fa-key me-2"></i>
                    @Localizer["lbl_EditSubQualification"]
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form id="editSubQualificationForm">
                    <div class="row">
                        <div class="col-2 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-6">
									<label asp-for="QualificationTypeID" class="form-label fw-bold">@Localizer["lbl_Select"] @Localizer["lbl_Qualification"]</label>
                                    <select asp-for="QualificationTypeID" asp-items="@(new SelectList(ViewBag.QualificationList, "Value", "Text", Model.QualificationTypeID))" class="form-control form-control-lg">
                                    </select>
                                    <span asp-validation-for="QualificationTypeID" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label asp-for="ActiveYNID" class="form-label fw-bold">@Localizer["lbl_Active"]</label>
                                    <select asp-for="ActiveYNID" asp-items="@(new SelectList(ViewBag.ActiveYNIDList, "Value", "Text"))" class="form-control form-control-lg">
                                        <option>@Localizer["lbl_Pleaseselect"]</option>
                                    </select>
                                    <span asp-validation-for="ActiveYNID" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label for="SubQualificationTypeName" class="form-label fw-bold">@Localizer["lbl_SubQualificationName"]</label>
                                    <input type="text" class="form-control form-control-lg" id="SubQualificationTypeName" name="SubQualificationTypeName" value="@Model.SubQualificationTypeName" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="SubQualificationTypeID" name="SubQualificationTypeID" value="@Model.SubQualificationTypeID" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close">@Localizer["lbl_Close"]</button>
                <button type="button" class="btn btn-success" id="saveChanges">@Localizer["lbl_SaveChanges"]</button>
            </div>
        </div>
    </div>
</div>
