@{
  TempData.Keep();
  ViewData["containerNav"] = (ViewData["containerNav"] ??= "container-fluid");
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<footer class="content-footer footer bg-footer-theme">
  <div class='@ViewData["containerNav"] d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column'>
    <div class="mb-2 mb-md-0">
      ©
      <script>
      document.write(new Date().getFullYear())
      </script>, made with <span class="text-danger">❤️</span> by <a href='@TempData.Peek("authorUrl")' target="_blank"
        class="footer-link fw-medium">@TempData.Peek("authorName")</a>
    </div>
    <div class="d-none d-lg-inline-block">
      <a href='@TempData.Peek("licenseUrl")' class="footer-link me-4" target="_blank">@Localizer["lbl_License"]</a>
      <a href='@TempData.Peek("authorUrl")' target="_blank" class="footer-link me-4">@Localizer["lbl_MoreThemes"]</a>
      <a href='@TempData.Peek("documentation")' target="_blank" class="footer-link me-4">@Localizer["lbl_Documentation"]</a>
      <a href='@TempData.Peek("support")' target="_blank" class="footer-link d-none d-sm-inline-block">@Localizer["lbl_Support"]</a>
    </div>
  </div>
</footer>
