@model IEnumerable<Exampler_ERP.Models.Settings_QualificationType>

@{
    ViewData["Title"] = "Master Information - Qualification";
}

@section PageScripts {

    <script>
        $(document).ready(function () {
            // Edit Qualification modal popup
            $('.editQualificationLink').click(function (e) {
                e.preventDefault();
                var QualificationId = $(this).data('id');
                $.get('@Url.Action("Edit", "Qualification")', { id: QualificationId }, function (data) {
                    $('#editQualificationModalContainer').html(data);
                    $('#editQualificationModal').modal('show');
                });
            });

            $('#editQualificationModalContainer').on('click', '#saveChanges', function () {
                var formData = $('#editQualificationForm').serialize();
                $.post('@Url.Action("Edit", "Qualification")', formData, function (response) {
                    if (response.success) {
                        // Reload the page or update the part of the page with the updated data
                        location.reload();
                    } else {
                        // Show validation errors
                    }
                });
            });

            // Add new Qualification modal popup
            $('.addQualificationLink').click(function () {
                $.get('@Url.Action("Create", "Qualification")', function (data) {
                    $('#addQualificationModalContainer').html(data);
                    $('#addQualificationModal').modal('show');
                });
            });

            // Save new Qualification form
            $('#addQualificationModalContainer').on('click', '#saveNewQualification', function () {
                var formData = $('#addQualificationForm').serialize();
                $.post('@Url.Action("Create", "Qualification")', formData, function (response) {
                    if (response.success) {
                        $('#addQualificationModal').modal('hide');
                        location.reload(); // Reload the page to reflect changes
                    } else {
                        // Handle validation errors or other cases
                    }
                });
            });

            // Close Modal Add Contrainer
            $('#addQualificationModalContainer').on('click', '#Close', function () {
                $('#addQualificationModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Close Modal Edit Contrainer
            $('#editQualificationModalContainer').on('click', '#Close', function () {
                $('#editQualificationModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Delete Qualification
            $('.deleteQualificationLink').click(function (e) {
                e.preventDefault();
                var QualificationId = $(this).data('id');
                $.post('@Url.Action("Delete", "Qualification")', { id: QualificationId }, function (response) {
                    if (response.success) {
                        location.reload();
                    } else {
                        // Handle errors
                    }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
        });
    </script>
    <script>
        function printQualifications() {
            var printWindow = window.open('@Url.Action("Print", "Qualification")', '_blank');
            printWindow.focus();
        }
        $('#searchQualificationButton').click(function () {
            var searchValue = $('#searchQualificationInput').val();
            window.location.href = '@Url.Action("Index", "Qualification")?searchQualificationName=' + searchValue;
        });
    </script>
}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Master Information /</span> Qualification
</h4>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <h5 class="card-header">Searhing Box</h5>
            <div class="Searching-Box-padding">
                <div class="row mb-4">
                    <div class="col-md-8" style="padding-bottom: 15px;">
                        <!-- Search Field and Button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Qualification name" id="searchQualificationInput">
                            <button class="btn btn-outline-secondary" type="button" id="searchQualificationButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 text-end">
                        <!-- Action Buttons -->
                        <button type="button" class="btn btn-primary addQualificationLink">Add New</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "Qualification")'">Excel</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="printQualifications()">Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Qualification List</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-10 col-lg-10">
                            <div class="row">
                                <div class="col-8">
                                    <p class="text-nowrap">Qualification Name</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">Active</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-2 col-lg-2">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-nowrap">Edit</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">Delete</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="col-12 col-md-12 col-lg-12 GVDetail">
                        <div class="row">
                            <div class="col-10 col-md-10 col-lg-10">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-8">
                                        <p class="text-nowrap"><span class="smallAdd">Qualification Name : </span>@Html.DisplayFor(modelItem => item.QualificationTypeName)</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <p class="text-nowrap">
                                            <span class="smallAdd">Active : </span>
                                            @if (item.ActiveYNID == 1)
                                            {
                                                <span>Yes</span>
                                            }
                                            else if (item.ActiveYNID == 2)
                                            {
                                                <span>No</span>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 col-md-2 col-lg-2">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="editQualificationLink" data-id="@item.QualificationTypeID">
                                                <i class="fa fa-pencil" style="font-size: large; color:steelblue; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="deleteQualificationLink" data-id="@item.QualificationTypeID">
                                                <i class="fa fa-trash-o" style="font-size: large; color:maroon; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
          
        </div>
    </div>
</div>

<!-- Include the modal partial -->
<div id="editQualificationModalContainer"></div>
<div id="addQualificationModalContainer"></div>
