@model IEnumerable<Exampler_ERP.Models.Settings_HeadofAccount_Third>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "_PrintLayout";
}
<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["lbl_PrintHeadofAccountThird"]</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
    <h2>@Localizer["lbl_HeadofAccountThirdList"]</h2>
    <table>
        <thead>
            <tr>
                <th>@Localizer["lbl_HeadofAccountThirdID"]</th>
                <th>@Localizer["lbl_HeadofAccountThirdName"]</th>
                <th>@Localizer["lbl_Active"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var HeadofAccount_Third in Model)
            {
                <tr>
                    <td>@HeadofAccount_Third.HeadofAccount_ThirdID</td>
                    <td>@HeadofAccount_Third.HeadofAccount_ThirdName</td>
                    <td>@(HeadofAccount_Third.ActiveYNID == 1 ? "Yes" : "No")</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
