@model IEnumerable<Exampler_ERP.Models.Settings_HeadofAccount_First>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
	ViewData["Title"] = @Localizer["lbl_MasterInformation"] + " - " + @Localizer["lbl_HeadofAccountFirst"];
		}

@section PageScripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+5hb5z2N7O6eHg4d5e2jtV5Wz4w69F+QYw1Fz4yD61DdE8kOkWJLvHh7vDkg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        $(document).ready(function () {
            // Edit HeadofAccount_First modal popup
           $('#HeadofAccount_FirstListContainer').on('click', '.editHeadofAccount_FirstLink', function (e) {
                e.preventDefault();
                var HeadofAccount_FirstId = $(this).data('id');
                $.get('@Url.Action("Edit", "HeadofAccount_First")', { id: HeadofAccount_FirstId }, function (data) {
                    $('#editHeadofAccount_FirstModalContainer').html(data);
                    $('#editHeadofAccount_FirstModal').modal('show');
                });
            });

            $('#editHeadofAccount_FirstModalContainer').on('click', '#saveChanges', function () {
                var formData = $('#editHeadofAccount_FirstForm').serialize();
                $.post('@Url.Action("Edit", "HeadofAccount_First")', formData, function (response) {
                   if (response.success) {
                            $('#editHeadofAccount_FirstModal').modal('hide');

                            // ✅ Ab poora list AJAX se reload karo
                            $.get('@Url.Action("Index", "HeadofAccount_First")', function (partialHtml) {
                                var html = $(partialHtml).find('#HeadofAccount_FirstListContainer').html();
                                $('#HeadofAccount_FirstListContainer').html(html);
                            });
                        }
                });
            });

            // Add new HeadofAccount_First modal popup
            $('.addHeadofAccount_FirstLink').click(function () {
                $.get('@Url.Action("Create", "HeadofAccount_First")', function (data) {
                    $('#addHeadofAccount_FirstModalContainer').html(data);
                    $('#addHeadofAccount_FirstModal').modal('show');
                });
            });

            // Save new HeadofAccount_First form
            $('#addHeadofAccount_FirstModalContainer').on('click', '#saveNewHeadofAccount_First', function () {
                var formData = $('#addHeadofAccount_FirstForm').serialize();
                $.post('@Url.Action("Create", "HeadofAccount_First")', formData, function (response) {
                   if (response.success) {
                            $('#addHeadofAccount_FirstModal').modal('hide');

                            // ✅ Ab poora list AJAX se reload karo
                            $.get('@Url.Action("Index", "HeadofAccount_First")', function (partialHtml) {
                                var html = $(partialHtml).find('#HeadofAccount_FirstListContainer').html();
                                $('#HeadofAccount_FirstListContainer').html(html);
                            });
                        }
                });
            });

            // Close Modal Add Contrainer
            $('#addHeadofAccount_FirstModalContainer').on('click', '#Close', function () {
                $('#addHeadofAccount_FirstModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Close Modal Edit Contrainer
            $('#editHeadofAccount_FirstModalContainer').on('click', '#Close', function () {
                $('#editHeadofAccount_FirstModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Delete HeadofAccount_First
            $('#HeadofAccount_FirstListContainer').on('click', '.deleteHeadofAccount_FirstLink', function (e) {
                e.preventDefault();
                var HeadofAccount_FirstId = $(this).data('id');
                $.post('@Url.Action("Delete", "HeadofAccount_First")', { id: HeadofAccount_FirstId }, function (response) {
                    if (response.success) {
                    $.get('@Url.Action("Index", "HeadofAccount_First")', function (partialHtml) {
                      var html = $(partialHtml).find('#HeadofAccount_FirstListContainer').html();
                      $('#HeadofAccount_FirstListContainer').html(html);
                    });
                  }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
        });
    </script>
    <script>
        function printHeadofAccount_Firstes() {
            var printWindow = window.open('@Url.Action("Print", "HeadofAccount_First")', '_blank');
            printWindow.focus();
        }
        $('#searchHeadofAccount_FirstButton').click(function () {
            var searchValue = $('#searchHeadofAccount_FirstInput').val();
            window.location.href = '@Url.Action("Index", "HeadofAccount_First")?searchFirstName=' + searchValue;
        });
    </script>


}



<h4 class="py-3 mb-4">
	<span class="text-muted fw-light">@Localizer["lbl_MasterInformation"] /</span> @Localizer["lbl_HeadofAccountFirst"]
</h4>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <h5 class="card-header">@Localizer["lbl_SearchingBox"]</h5>
            <div class="Searching-Box-padding">
                <div class="row mb-4">
                    <div class="col-md-8" style="padding-bottom: 15px;">
                        <!-- Search Field and Button -->
                        <div class="input-group">
							<input type="text" class="form-control" placeholder="@Localizer["lbl_SearchHeadofAccountFirstName"]" id="searchHeadofAccount_FirstInput">
                            <button class="btn btn-outline-secondary" type="button" id="searchHeadofAccount_FirstButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 text-end">
                        <!-- Action Buttons -->
                        <button type="button" class="btn btn-primary addHeadofAccount_FirstLink">@Localizer["lbl_AddNew"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "HeadofAccount_First")'">@Localizer["lbl_Excel"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="printHeadofAccount_Firstes()">@Localizer["lbl_Print"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
			<h5 class="card-header">@Localizer["lbl_HeadofAccountFirstList"]</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-10 col-lg-10">
                            <div class="row">
                                <div class="col-8">
                                    <p class="text-nowrap">@Localizer["lbl_HeadofAccountFirstName"]</p>
                                </div>
                                <div class="col-4">
                                    <p class="text-nowrap">@Localizer["lbl_Active"]</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-2 col-lg-2">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_Edit"]</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_Delete"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="headofAccount_FirstListContainer">
                    @Html.Partial("~/Views/Finance/MasterInfo/HeadofAccount_First/_HeadofAccount_FirstListPartial.cshtml", Model)
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Include the modal partial -->
<div id="editHeadofAccount_FirstModalContainer"></div>
<div id="addHeadofAccount_FirstModalContainer"></div>
