@model IEnumerable<Exampler_ERP.Models.CR_FaceAttendance>

@{
    ViewData["Title"] = "HR - Face Attendance Report";
}

@section PageScripts {

    <script>
        $(document).ready(function () {
            

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
            $.widget("custom.autocomplete", $.ui.autocomplete, {
                _renderItem: function (ul, item) {
                    return $("<li>")
                        .append(item.label)  // Render the HTML content in `label`
                        .appendTo(ul);
                }
            });


            $("#searchEmployeeInput").autocomplete({
                source: function (request, response) {

                    $.ajax({
                        url: '@Url.Action("GetEmployeeSuggestions", "Employee")', // Ensure this matches the C# method
                        type: 'GET',
                        data: { term: request.term },
                        success: function (data) {

                            response($.map(data, function (item) {
                                return {
                                    label: item.label,  // HTML content to be displayed in suggestions
                                    id: item.id,     // Employee ID for the hidden input
                                    name: item.name,      // Full name to be used in the input field
                                    value: item.name
                                };
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    debugger;
                    // Set the selected employee's ID and name
                    $("#EmployeeID").val(ui.item.id); // Set the hidden input for Employee ID
                    $("#searchEmployeeInput").val(ui.item.name); // Set the input field for Employee Name
                }
            });
        });
    </script>
    <script>
        function printFaceAttendanceReports() {
            var printWindow = window.open('@Url.Action("Print", "FaceAttendanceReport")', '_blank');
            printWindow.focus();
        }

        $('#searchEmployeeButton').click(function () {
            var searchValue = $('#searchEmployeeInput').val();
            window.location.href = '@Url.Action("Index", "FaceAttendanceReport")?id=' + searchValue;
        });
    </script>
}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">HR /</span> Face Attendance Report
</h4>
<form method="get" action="@Url.Action("Index", "FaceAttendanceReport")">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">Search Box</h5>
                <div class="Searching-Box-padding" style="padding-bottom: 15px;">
                    <div class="row mb-4">
                        <!-- From Date Field -->
                        <div class="col-md-4 mb-4">
                            <label class="form-label fw-bold">Month Type</label>
                            <select name="MonthsTypeID" class="form-control">
                                @foreach (var item in ViewBag.MonthsTypeList)

                                {

                                    if (item.Value == ViewBag.MonthsTypeID?.ToString())

                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }

                                    else

                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }

                                }
                            </select>
                        </div>


                        <!-- To Date Field -->
                        <div class="col-md-4 mb-4">
                            <label for="YearsTypeID" class="form-label fw-bold">Year</label>
                            <select name="YearsTypeID" class="form-control">
                                @for (int year = DateTime.Now.Year; year >= 1900; year--)

                                {

                                    // Corrected to compare with ViewBag.YearsTypeID

                                    if (year == (ViewBag.YearsTypeID ?? 0))

                                    {
                                        <option value="@year" selected>@year</option>
                                    }

                                    else

                                    {
                                        <option value="@year">@year</option>
                                    }

                                }
                            </select>
                        </div>


                        <!-- Employee Name Search Field -->
                        <div class="col-md-4 mb-4">
                            <label class="form-label fw-bold">Employee Name</label>
                            <input type="text" class="form-control" id="searchEmployeeInput" placeholder="Search Employee" name="EmployeeName" value="@ViewBag.EmployeeName" />
                            <input type="hidden" class="form-control" id="EmployeeID" placeholder="Search Employee" name="EmployeeID" value="@ViewBag.EmployeeID" />
                        </div>

                        

                    </div>

                    <!-- Action Buttons -->
                    <div class="row">
                        <div class="col-md-12 text-end">
                            <button type="submit" class="btn btn-primary">Search</button>
                            <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "FaceAttendanceReport")'">Excel</button>
                            <button type="button" class="btn btn-outline-secondary" onclick="printFaceAttendanceReports()">Print</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Face Attendance Report List</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                                <div class="col-2">
                                    <p class="text-nowrap">Employee Name</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">Date</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">In Time</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">Out Times</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">D-Hours</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">D-Minute</p>
                                </div>
                            </div>
                </div>
                @foreach (var item in Model)

                {
                    <div class="col-12 col-md-12 col-lg-12 GVDetail">
                        <div class="row">
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <p class="text-nowrap"><span class="smallAdd">Employee Name : </span>@item.Employee?.FirstName @item.Employee?.FatherName @item.Employee?.FamilyName</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <p class="text-nowrap"><span class="smallAdd">Date : </span>@item.MarkDate.ToString("dd/MMM/yyyy")</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <p class="text-nowrap"><span class="smallAdd">In Time : </span>@item.InTime.ToString("hh:mm:ss")</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <p class="text-nowrap"><span class="smallAdd">Out Time : </span>@item.OutTime.ToString("hh:mm:ss")</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <p class="text-nowrap"><span class="smallAdd">D-Hours : </span>@item.DHours</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <p class="text-nowrap"><span class="smallAdd">D-Minute : </span>@item.DMinutes</p>
                                    </div>
                                </div>
                            </div>
                }
            </div>
        </div>
    </div>
</div>
