@model IEnumerable<Exampler_ERP.Models.CR_FaceAttendance>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["lbl_Print"]  Face Attendance</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
    <h2>Face Attendance List</h2>
    <table>
        <thead>
            <tr>
                <th>Face Attendance ID</th>
                <th>@Localizer["lbl_Employee"] @Localizer["lbl_Name"]</th>
                <th>@Localizer["lbl_Date"] /th>
                <th>In Time</th>
                <th>Out Time</th>
                <th>D-Hours Days</th>
                <th>D-Minute</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var FaceAttendanceReport in Model)
            {
                <tr>
                    <td>@FaceAttendanceReport.FaceAttendanceID</td>
                    <td>@($"{FaceAttendanceReport.Employee?.FirstName} {FaceAttendanceReport.Employee?.FatherName} {FaceAttendanceReport.Employee?.FamilyName}")</td>
                    <td>@FaceAttendanceReport.MarkDate.ToString("dd/MMM/yyyy")</td>
                    <td>@FaceAttendanceReport.InTime.ToString("hh:mm:ss")</td>
                    <td>@FaceAttendanceReport.OutTime.ToString("hh:mm:ss")</td>
                    <td>@FaceAttendanceReport.DHours</td>
                    <td>@FaceAttendanceReport.DMinutes</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
