@model Exampler_ERP.Models.HR_Vacation
@{
    var EmployeeID = Context.Session.GetInt32("EmployeeID");
    var EmployeeName = Context.Session.GetString("EmployeeName");
    var EmployeeDepartmentName = Context.Session.GetInt32("EmployeeDepartmentName");
    var EmployeeDesignationName = Context.Session.GetString("EmployeeDesignationName");
}
<div class="modal fade" id="addVacationModal" tabindex="-1" role="dialog" aria-labelledby="addVacationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="addVacationModalLabel">
                    <i class="fas fa-key me-2"></i>@Localizer["lbl_Add"] Vacation
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <!-- Add Vacation Form -->
                <form id="addVacationForm" method="post" asp-action="Create" asp-controller="Vacation" enctype="multipart/form-data">
                  <div class="row">
                    <div class="col-12">
                            <input type="hidden" asp-for="EmployeeID" value="@EmployeeID" class="form-control form-control-lg" />
                            <label class="form-label fw-bold">@Localizer["lbl_Employee"] @Localizer["lbl_Name"]</label>
                            <input type="text" class="form-control form-control-lg" value="@EmployeeName" readonly />
                    </div>

                    <div class="col-12">
                        <label asp-for="VacationTypeID" class="form-label fw-bold">Vacation Type</label>
                        <select asp-for="VacationTypeID" asp-items="@(new SelectList(ViewBag.VacationTypeList, "Value", "Text"))" class="form-control form-control-lg">
                        </select>
                        <span asp-validation-for="VacationTypeID" class="text-danger small"></span>
                    </div>

                    <div class="col-6">
                        <label asp-for="StartDate" class="form-label fw-bold">Start Date</label>
                        <input asp-for="StartDate" class="form-control form-control-lg" type="date" placeholder="Enter new password" />
                        <span asp-validation-for="StartDate" class="text-danger small"></span>
                    </div>

                    <div class="col-6">
                        <label asp-for="EndDate" class="form-label fw-bold">End Date</label>
                        <input asp-for="EndDate" class="form-control form-control-lg" type="date" placeholder="Confirm new password" />
                        <span asp-validation-for="EndDate" class="text-danger small"></span>
                    </div>
                    <!-- Notes Field -->
                    <div class="col-12">
                        <label asp-for="Reason" class="form-label fw-bold">Reason</label>
                        <textarea asp-for="Reason" class="form-control form-control-lg" rows="4" placeholder="Enter Reason here..."></textarea>
                        <span asp-validation-for="Reason" class="text-danger small"></span>
                    </div>
                    </div>
                </form>

                <!-- Success Message -->
                <div id="successMessage" class="alert alert-success text-center mt-3" style="display:none;"></div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times-circle"></i> Close
                </button>
                <button type="submit" id="saveNewVacation" class="btn btn-success">
                    <i class="fas fa-check-circle"></i> Save Changes
                </button>
            </div>
        </div>
    </div>
</div>
