@model IEnumerable<Exampler_ERP.Models.HR_Vacation>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "_PrintLayout";
}
<!DOCTYPE html>
<html>
<head>
	<title>@Localizer["lbl_PrintVacation"]</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
    <h2>@Localizer["lbl_VacationList"]</h2>
    <table>
        <thead>
            <tr>
                <th>@Localizer["lbl_VacationID"]</th>
                <th>@Localizer["lbl_VacationType"]</th>
				<th>@Localizer["lbl_ApplyDate"]</th>
				<th>@Localizer["lbl_StartDate"]</th>
				<th>@Localizer["lbl_EndDate"]</th>
				<th>@Localizer["lbl_TotalDays"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Vacation in Model)
            {
                <tr>
                    <td>@Vacation.VacationID</td>
                    <td>@(Vacation.Settings_VacationType?.VacationTypeName ?? "N/A")</td>
                    <td>@Vacation.Date</td>
                    <td>@Vacation.StartDate</td>
                    <td>@Vacation.EndDate</td>
                    <td>@(Vacation.TotalDays)</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
