@model IEnumerable<Exampler_ERP.Models.HR_Vacation>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "_EmployeeContentNavbarLayout";
	ViewData["Title"] = @Localizer["lbl_Apply"] + "-" + @Localizer["lbl_Vacation"];
}

@section PageScripts {
    <script>
        $(document).ready(function () {
            // Edit Vacation modal popup
            $('.editVacationLink').click(function (e) {
                e.preventDefault();
                var VacationId = $(this).data('id');  
                $.get('@Url.Action("Edit", "Vacation")', { id: VacationId }, function (data) {
                    $('#editVacationModalContainer').html(data);
                    $('#editVacationModal').modal('show');
                });
            });

           
            $('#editVacationModalContainer').on('click', '#saveVacationChanges', function () {
                var formData = $('#editVacationForm').serialize();
                $.post('@Url.Action("Edit", "Vacation")', formData, function (response) {
                    if (response.success) {
                        
                    } else {
                        let errorMessages = response.errors.join('<br>');
                        $('#successMessage').removeClass('alert-success').addClass('alert-danger').html(errorMessages).show();
                    }
                });
            });


            // Add new Vacation modal popup
            $('.addVacationLink').click(function () {
                $.get('@Url.Action("Create", "Vacation")', function (data) {
                    $('#addVacationModalContainer').html(data);
                    $('#addVacationModal').modal('show');
                });
            });

            $('#addVacationModalContainer').on('click', '#saveNewVacation', function () {
                var formData = $('#addVacationForm').serialize();
                $.post('@Url.Action("Create", "Vacation")', formData, function (response) {
                    if (response.success) {
                        
                    } else {
                        let errorMessages = response.errors.join('<br>');
                        $('#successMessage').removeClass('alert-success').addClass('alert-danger').html(errorMessages).show();
                    }
                });
            });

            // Close Modal Add Contrainer
            $('#addVacationModalContainer').on('click', '#Close', function () {
                $('#addVacationModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Close Modal Edit Contrainer
            $('#editVacationModalContainer').on('click', '#Close', function () {
                $('#editVacationModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Delete Vacation
            $('.deleteVacationLink').click(function (e) {
                e.preventDefault();
                var VacationId = $(this).data('id');

                // Show confirmation dialog
                if (confirm('Are you sure you want to delete this Vacation?')) {
                    $.post('@Url.Action("Delete", "Vacation")', { id: VacationId }, function (response) {
                        if (response.success) {
                            
                        } else {
                            showError
                        }
                    });
                } else {
                    // If user clicks 'No', do nothing
                }
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
        });
    </script>
    <script>
        function printVacations() {
            var printWindow = window.open('@Url.Action("Print", "Vacation")', '_blank');
            printWindow.focus();
        }

        function closeModal() {
            $('.close').click(function () {
                $('#addVacationModal').modal('hide');
                $('#editVacationModal').modal('hide');
            });
        }
    </script>
}

<h4 class="py-3 mb-4">
	<span class="text-muted fw-light">@Localizer["lbl_Apply"] /</span> @Localizer["lbl_Vacation"]
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="card">
			<h5 class="card-header">@Localizer["lbl_VacationList"]</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-10 col-lg-8">
                            <div class="row">
                                <div class="col-4">
                                    <p class="text-nowrap">@Localizer["lbl_EmployeeName"]</p>
                                </div>
                                <div class="col-3">
                                    <p class="text-nowrap">@Localizer["lbl_VacationType"]</p>
                                </div>
                                <div class="col-3">
                                    <p class="text-nowrap">@Localizer["lbl_Date"] </p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">@Localizer["lbl_TotalDays"] </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-md-2 col-lg-4">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-4">
                                    <p class="text-nowrap">@Localizer["lbl_Edit"]</p>
                                </div>
                                <div class="col-12 col-md-12 col-lg-4">
                                    <p class="text-nowrap">@Localizer["lbl_Print"] </p>
                                </div>
                                <div class="col-12 col-md-12 col-lg-4">
                                    <p class="text-nowrap">@Localizer["lbl_Delete"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="vacationListContainer">
                    @Html.Partial("~/Views/EmployeePortal/Apply/Vacation/_VacationListPartial.cshtml", Model)
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="mt-4">
                        <button type="button" class="btn btn-primary addVacationLink">@Localizer["lbl_AddNew"]</button>
                        <!-- Example: Add buttons for exporting to Excel and printing -->
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "Vacation")'">@Localizer["lbl_Excel"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="printVacations()">@Localizer["lbl_Print"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include the modal partial -->
<div id="editVacationModalContainer"></div>
<div id="addVacationModalContainer"></div>
