@model IEnumerable<Exampler_ERP.Models.Settings_ItemComponentType>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Master Information - Item Component Type";
}

@section PageScripts {

    <script>
        $(document).ready(function () {
            // Edit ItemComponentType modal popup
           $('#ItemComponentTypeListContainer').on('click', '.editItemComponentTypeLink', function (e) {
                e.preventDefault();
                var ItemComponentTypeId = $(this).data('id');
                $.get('@Url.Action("Edit", "ItemComponentType")', { id: ItemComponentTypeId }, function (data) {
                    $('#editItemComponentTypeModalContainer').html(data);
                    $('#editItemComponentTypeModal').modal('show');
                });
            });

            $('#editItemComponentTypeModalContainer').on('click', '#saveChanges', function () {
                var formData = $('#editItemComponentTypeForm').serialize();
                $.post('@Url.Action("Edit", "ItemComponentType")', formData, function (response) {
                   if (response.success) {
                            $('#editItemComponentTypeModal').modal('hide');

                            // ✅ Ab poora list AJAX se reload karo
                            $.get('@Url.Action("Index", "ItemComponentType")', function (partialHtml) {
                                var html = $(partialHtml).find('#ItemComponentTypeListContainer').html();
                                $('#ItemComponentTypeListContainer').html(html);
                            });
                        }
                });
            });

            // Add new ItemComponentType modal popup
            $('.addItemComponentTypeLink').click(function () {
                $.get('@Url.Action("Create", "ItemComponentType")', function (data) {
                    $('#addItemComponentTypeModalContainer').html(data);
                    $('#addItemComponentTypeModal').modal('show');
                });
            });

            // Save new ItemComponentType form
            $('#addItemComponentTypeModalContainer').on('click', '#saveNewItemComponentType', function () {
                var formData = $('#addItemComponentTypeForm').serialize();
                $.post('@Url.Action("Create", "ItemComponentType")', formData, function (response) {
                  if (response.success) {
                            $('#addItemComponentTypeModal').modal('hide');

                            // ✅ Ab poora list AJAX se reload karo
                            $.get('@Url.Action("Index", "ItemComponentType")', function (partialHtml) {
                                var html = $(partialHtml).find('#ItemComponentTypeListContainer').html();
                                $('#ItemComponentTypeListContainer').html(html);
                            });
                        }
                });
            });

            // Close Modal Add Contrainer
            $('#addItemComponentTypeModalContainer').on('click', '#Close', function () {
                $('#addItemComponentTypeModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Close Modal Edit Contrainer
            $('#editItemComponentTypeModalContainer').on('click', '#Close', function () {
                $('#editItemComponentTypeModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Delete ItemComponentType
           $('#ItemComponentTypeListContainer').on('click', '.deleteItemComponentTypeLink', function (e) {
                e.preventDefault();
                var ItemComponentTypeId = $(this).data('id');
                $.post('@Url.Action("Delete", "ItemComponentType")', { id: ItemComponentTypeId }, function (response) {
                    if (response.success) {
                    $.get('@Url.Action("Index", "ItemComponentType")', function (partialHtml) {
                      var html = $(partialHtml).find('#ItemComponentTypeListContainer').html();
                      $('#ItemComponentTypeListContainer').html(html);
                    });
                  }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
        });
    </script>
    <script>
        function printItemComponentTypes() {
            var printWindow = window.open('@Url.Action("Print", "ItemComponentType")', '_blank');
            printWindow.focus();
        }
        $('#searchItemComponentTypeButton').click(function () {
            var searchValue = $('#searchItemComponentTypeInput').val();
            window.location.href = '@Url.Action("Index", "ItemComponentType")?searchItemComponentTypeName=' + searchValue;
        });
    </script>
}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">@Localizer["lbl_MasterInformation"] /</span> Item Component Type
</h4>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <h5 class="card-header">@Localizer["lbl_SearchingBox"]</h5>
            <div class="Searching-Box-padding">
                <div class="row mb-4">
                    <div class="col-md-8" style="padding-bottom: 15px;">
                        <!-- Search Field and Button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Item Component Type name" id="searchItemComponentTypeInput">
                            <button class="btn btn-outline-secondary" type="button" id="searchItemComponentTypeButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 text-end">
                        <!-- Action Buttons -->
                        <button type="button" class="btn btn-primary addItemComponentTypeLink">@Localizer["lbl_AddNew"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "ItemComponentType")'">@Localizer["lbl_Excel"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="printItemComponentTypes()">@Localizer["lbl_Print"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Item Component Type List</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-10 col-lg-10">
                            <div class="row">
                                <div class="col-4">
                                    <p class="text-nowrap">Item Category Type Name</p>
                                </div>
                                <div class="col-4">
                                    <p class="text-nowrap">Item Component Type Name</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">@Localizer["lbl_Active"]</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-2 col-lg-2">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_Edit"]</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_Delete"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="itemComponentTypeListContainer">
                    @Html.Partial("~/Views/StoreManagement/MasterInfo/ItemComponentType/_ItemComponentTypeListPartial.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include the modal partial -->
<div id="editItemComponentTypeModalContainer"></div>
<div id="addItemComponentTypeModalContainer"></div>
