@model IEnumerable<Exampler_ERP.Models.HR_VacationSettle>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["lbl_Print"]  Vacation Settle</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
    <h2>Vacation Settle List</h2>
    <table>
        <thead>
            <tr>
                <th>@Localizer["lbl_Vacation"] Settle @Localizer["lbl_ID"]</th>
                <th>@Localizer["lbl_Vacation"] Settle @Localizer["lbl_Type"]</th>
                <th>Apply @Localizer["lbl_Date"]</th>
                <th>Start @Localizer["lbl_Date"]</th>
                <th>Date @Localizer["lbl_Date"]</th>
                <th>Total @Localizer["lbl_Date"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var VacationSettle in Model)
            {
                <tr>
                    <td>@VacationSettle.VacationSettleID</td>
                    @* <td>@(VacationSettle.Settings_VacationSettleType?.VacationSettleTypeName ?? "N/A")</td>
                    <td>@VacationSettle.Date</td>
                    <td>@VacationSettle.StartDate</td>
                    <td>@VacationSettle.EndDate</td>
                    <td>@(VacationSettle.TotalDays)</td> *@
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
