@model IEnumerable<Exampler_ERP.Models.HR_VacationSettle>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "HR - Vacation Settle";
}

@section PageScripts {
    <script>
        $(document).ready(function () {
            // Edit VacationSettle modal popup
            $('#VacationSettleListContainer').on('click', '.editVacationSettleLink', function (e) {
                e.preventDefault();
                var VacationSettleId = $(this).data('id');
                $.get('@Url.Action("Edit", "VacationSettle")', { id: VacationSettleId }, function (data) {
                    $('#editVacationSettleModalContainer').html(data);
                    $('#editVacationSettleModal').modal('show');
                });
            });


            $('#editVacationSettleModalContainer').on('click', '#saveVacationSettleChanges', function () {
                var formData = $('#editVacationSettleForm').serialize();
                $.post('@Url.Action("Edit", "VacationSettle")', formData, function (response) {
                     if (response.success) {
                            $('#editVacationSettleModal').modal('hide');

                            // ✅ Ab poora list AJAX se reload karo
                            $.get('@Url.Action("Index", "VacationSettle")', function (partialHtml) {
                                var html = $(partialHtml).find('#VacationSettleListContainer').html();
                                $('#VacationSettleListContainer').html(html);
                            });
                        }
                });
            });


            // Add new VacationSettle modal popup
            $('.addVacationSettleLink').click(function () {
                $.get('@Url.Action("Create", "VacationSettle")', function (data) {
                    $('#addVacationSettleModalContainer').html(data);
                    $('#addVacationSettleModal').modal('show');
                });
            });

            $('#addVacationSettleModalContainer').on('click', '#saveNewVacationSettle', function () {
                var formData = $('#addVacationSettleForm').serialize();
                $.post('@Url.Action("Create", "VacationSettle")', formData, function (response) {
                   if (response.success) {
                            $('#addVacationSettleModal').modal('hide');

                            // ✅ Ab poora list AJAX se reload karo
                            $.get('@Url.Action("Index", "VacationSettle")', function (partialHtml) {
                                var html = $(partialHtml).find('#VacationSettleListContainer').html();
                                $('#VacationSettleListContainer').html(html);
                            });
                        }
                });
            });

            // Close Modal Add Contrainer
            $('#addVacationSettleModalContainer').on('click', '#Close', function () {
                $('#addVacationSettleModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Close Modal Edit Contrainer
            $('#editVacationSettleModalContainer').on('click', '#Close', function () {
                $('#editVacationSettleModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Delete VacationSettle
              $('#VacationSettleListContainer').on('click', '.deleteVacationSettleLink', function (e) {
                e.preventDefault();
                var VacationSettleId = $(this).data('id');

                // Show confirmation dialog
                if (confirm('Are you sure you want to delete this VacationSettle?')) {
                    $.post('@Url.Action("Delete", "VacationSettle")', { id: VacationSettleId }, function (response) {
                         if (response.success) {
                    $.get('@Url.Action("Index", "VacationSettle")', function (partialHtml) {
                      var html = $(partialHtml).find('#VacationSettleListContainer').html();
                      $('#VacationSettleListContainer').html(html);
                    });
                  }
                    });
                } else {
                    // If user clicks 'No', do nothing
                }
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
            $.widget("custom.autocomplete", $.ui.autocomplete, {
                _renderItem: function (ul, item) {
                    return $("<li>")
                        .append(item.label)  // Render the HTML content in `label`
                        .appendTo(ul);
                }
            });

            $("#searchEmployeeInput").autocomplete({
                source: function (request, response) {

                    $.ajax({
                        url: '@Url.Action("GetEmployeeSuggestions", "Employee")', // Ensure this matches the C# method
                        type: 'GET',
                        data: { term: request.term },
                        success: function (data) {

                            response($.map(data, function (item) {
                                return {
                                    label: item.label,  // HTML content to be displayed in suggestions
                                    id: item.id,     // Employee ID for the hidden input
                                    name: item.name,      // Full name to be used in the input field
                                    value: item.name
                                };
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    
                    // Set the selected employee's ID and name
                    $("#EmployeeID").val(ui.item.id); // Set the hidden input for Employee ID
                    $("#searchEmployeeInput").val(ui.item.name); // Set the input field for Employee Name
                }
            });
        });
    </script>
    <script>
        function printVacationSettles() {
            var printWindow = window.open('@Url.Action("Print", "VacationSettle")', '_blank');
            printWindow.focus();
        }

        function closeModal() {
            $('.close').click(function () {
                $('#addVacationSettleModal').modal('hide');
                $('#editVacationSettleModal').modal('hide');
            });
        }
    </script>
}

<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">HR /</span> Vacation Settle
</h4>

<form method="get" action="@Url.Action("Index", "VacationSettle")">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">Search Box</h5>
                <div class="Searching-Box-padding" style="padding-bottom: 15px;">
                    <div class="row mb-4">
                        <!-- From Date Field -->
                        <div class="col-md-3 mb-3">
                            <label class="form-label fw-bold">From @Localizer["lbl_Date"]</label>
                            <input class="form-control" type="date" name="FromDate" value="@ViewBag.FromDate?.ToString("yyyy-MM-dd")" />
                        </div>

                        <!-- To Date Field -->
                        <div class="col-md-3 mb-3">
                            <label class="form-label fw-bold">To @Localizer["lbl_Date"]</label>
                            <input class="form-control" type="date" name="ToDate" value="@ViewBag.ToDate?.ToString("yyyy-MM-dd")" />
                        </div>

                        <!-- Employee Name Search Field -->
                        <div class="col-md-3 mb-3">
                            <label class="form-label fw-bold">@Localizer["lbl_EmployeeName"]</label>
                            <input type="text" class="form-control" id="searchEmployeeInput" placeholder="@Localizer["lbl_Search"] Employee" name="EmployeeName" value="@ViewBag.EmployeeName" />
                            <input type="hidden" class="form-control" id="EmployeeID" placeholder="@Localizer["lbl_Search"] Employee" name="EmployeeID" value="@ViewBag.EmployeeID" />
                        </div>

                        <!-- Vacation Type Dropdown -->
                        <div class="col-md-3 mb-3">
                            <label class="form-label fw-bold">@Localizer["lbl_VacationType"]</label>
                            <select name="VacationTypeID" class="form-control">
                                @foreach (var item in ViewBag.VacationTypeList)
                                {
                                    if (item.Value == ViewBag.VacationTypeID?.ToString())
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>

                    </div>

                    <!-- Action Buttons -->
                    <div class="row">
                        <div class="col-md-12 text-end">
                            <button type="submit" class="btn btn-primary">Search</button>
                            <button type="button" class="btn btn-primary addVacationSettleLink">@Localizer["lbl_AddNew"]</button>
                            <!-- Example: Add buttons for exporting to Excel and printing -->
                            <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "VacationSettle")'">@Localizer["lbl_Excel"]</button>
                            <button type="button" class="btn btn-outline-secondary" onclick="printVacationSettles()">@Localizer["lbl_Print"]</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Vacation Settle @Localizer["lbl_List"]</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-11 col-lg-9">
                            <div class="row">
                                <div class="col-4">
                                    <p class="text-nowrap">@Localizer["lbl_EmployeeName"]</p>
                                </div>
                                <div class="col-3">
                                    <p class="text-nowrap">@Localizer["lbl_VacationType"]</p>
                                </div>
                                <div class="col-3">
                                    <p class="text-nowrap">Settle Days</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">Settle Amount</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-1 col-lg-3">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-4">
                                    <p class="text-nowrap">@Localizer["lbl_Edit"]</p>
                                </div>
                                <div class="col-12 col-md-12 col-lg-4">
                                    <p class="text-nowrap">@Localizer["lbl_Print"] </p>
                                </div>
                                <div class="col-12 col-md-12 col-lg-4">
                                    <p class="text-nowrap">@Localizer["lbl_Delete"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="VacationSettleListContainer">
                    @Html.Partial("~/Views/HR/HR/VacationSettle/_VacationSettleListPartial.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include the modal partial -->
<div id="editVacationSettleModalContainer"></div>
<div id="addVacationSettleModalContainer"></div>
