@model Exampler_ERP.Models.Temp.AccessRightsByRoleListViewModel

@{
    ViewData["Title"] = "Setup - Access Rights By Role Setup";
}

@section PageScripts {

    <script>
        $(document).ready(function () {
            $('.editAccessRightsByRoleLink').click(function (e) {
                e.preventDefault();
                var roleId = $(this).data('id');
                $.get('@Url.Action("Edit", "AccessRightsByRole")', { id: roleId }, function (data) {
                    $('#editAccessRightsByRoleModalContainer').html(data);
                    $('#editAccessRightsByRoleModal').modal('show');
                });
            });

            $('#editAccessRightsByRoleModalContainer').on('click', '#saveChanges', function () {

                var formData = $('#editAccessRightsByRoleForm').serialize();
                console.log("Serialized form data:", formData); // Log serialized data for debugging

                $.post('@Url.Action("Edit", "AccessRightsByRole")', formData, function (response) {
                    if (response.success) {
                        $('#editAccessRightsByRoleModal').modal('hide');
                        location.reload(); // Reload the page to reflect changes
                    } else {
                        showErrorAlert(response.message);
                    }
                });
            });

            // Close Modal Edit Contrainer
            $('#editAccessRightsByRoleModalContainer').on('click', '#Close', function () {
                $('#editAccessRightsByRoleModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });


            // Delete AccessRightsByRole
            $('.deleteAccessRightsByRoleLink').click(function (e) {
                e.preventDefault();
                var AccessRightsByRoleId = $(this).data('id');
                $.post('@Url.Action("Delete", "AccessRightsByRole")', { id: AccessRightsByRoleId }, function (response) {
                    if (response.success) {
                        location.reload();
                    } else {
                        showErrorAlert(response.message);
                    }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
        });
    </script>
    <script>
        function printAccessRightsByRoles() {
            var printWindow = window.open('@Url.Action("Print", "AccessRightsByRole")', '_blank');
            printWindow.focus();
        }
        $('#searchRoleButton').click(function () {
            var searchValue = $('#searchRoleInput').val();
            window.location.href = '@Url.Action("Index", "AccessRightsByRole")?searchRoleName=' + searchValue;
        });
    </script>
}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Setup /</span> Access Rights By Role Setup
</h4>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <h5 class="card-header">Searhing Box</h5>
            <div class="Searching-Box-padding">
                <div class="row mb-4">
                    <div class="col-md-8" style="padding-bottom: 15px;">
                        <!-- Search Field and Button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Role Name" id="searchRoleInput">
                            <button class="btn btn-outline-secondary" type="button" id="searchRoleButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 text-end">
                        <!-- Action Buttons -->
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "AccessRightsByRole")'">Excel</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="printAccessRightsByRoles()">Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Access Rights By Role Setup List</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-10 col-lg-10">
                            <div class="row">
                                <div class="col-8">
                                    <p class="text-nowrap">Role Name</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">Total Access Count</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-2 col-lg-2">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-nowrap">Edit</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">Delete</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model.AccessRightsWithRoleCount)
                {
                    <div class="col-12 col-md-12 col-lg-12 GVDetail">
                        <div class="row">
                            <div class="col-10 col-md-10 col-lg-10">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-8">
                                        <p class="text-nowrap"><span class="smallAdd">Role Name : </span>@Html.DisplayFor(modelItem => item.RoleName)</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-2">
                                        <p class="text-nowrap"><span class="smallAdd">Total Access Count : </span>@Html.DisplayFor(modelItem => item.TotalAccessCount)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 col-md-2 col-lg-2">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="editAccessRightsByRoleLink" data-id="@item.RoleID">
                                                <i class="fa fa-pencil" style="font-size: large; color:steelblue; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <a href="#" class="deleteAccessRightsByRoleLink" data-id="@item.RoleID">
                                                <i class="fa-regular fa-trash-can" style="font-size: large; color:maroon; line-height: 2;"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<!-- Include the modal partial -->
<div id="editAccessRightsByRoleModalContainer"></div>
