@model IEnumerable<Exampler_ERP.Models.CR_AccessRightsByRole>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "_PrintLayout";
}
<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["lbl_PrintAccessRightsByRoleSetup "]</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
    <h2>@Localizer["lbl_AccessRightsByRoleSetupList"]</h2>
    <table>
        <thead>
            <tr>
                <th>@Localizer["lbl_RoleID"]</th>
                <th>@Localizer["lbl_RoleTypeName"]</th>
                <th>@Localizer["lbl_Rank"]</th>
                <th>@Localizer["lbl_RoleType"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var AccessRightsByRole in Model)
            {
                <tr>
                    @* <td>@AccessRightsByRole.AccessRightsByRoleID</td>
                    <td>@(AccessRightsByRole.ProcessType?.ProcessTypeName ?? "N/A")</td>
                    <td>@AccessRightsByRole.Rank</td>
                    <td>@AccessRightsByRole.RoleTypeID</td> *@
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
