@model IEnumerable<Exampler_ERP.Models.PR_ProcurementQueue>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Store Management - Procurement Queue";
}



@section PageScripts {

    <script>
        $(document).ready(function () {
            // Edit ProcurementQueue modal popup
            $('.editProcurementQueueLink').click(function (e) {
                e.preventDefault();
                var ProcurementQueueId = $(this).data('id');
                $.get('@Url.Action("Edit", "ProcurementQueue")', { id: ProcurementQueueId }, function (data) {
                    $('#editProcurementQueueModalContainer').html(data);
                    $('#editProcurementQueueModal').modal('show');
                    // Trigger the calculation after modal is shown

                });
            });

            $('#editProcurementQueueModalContainer').on('click', '#saveChanges', function () {
                var formData = $('#editProcurementQueueForm').serialize();
                $.post('@Url.Action("Edit", "ProcurementQueue")', formData, function (response) {
                    if (response.success) {
                        // Reload the page or update the part of the page with the updated data
                        
                    } else {
                        showError
                    }
                });
            });

            // Add new ProcurementQueue modal popup
            $('.addProcurementQueueLink').click(function () {
                $.get('@Url.Action("Create", "ProcurementQueue")', function (data) {
                    $('#addProcurementQueueModalContainer').html(data);
                    $('#addProcurementQueueModal').modal('show');
                });
            });


            // Save new ProcurementQueue form
            $('#addProcurementQueueModalContainer').on('click', '#saveNewProcurementQueue', function () {
                var formData = $('#addProcurementQueueForm').serialize();
                $.post('@Url.Action("Create", "ProcurementQueue")', formData, function (response) {
                    if (response.success) {
                        $('#addProcurementQueueModal').modal('hide');
                        
                    } else {
                        showError
                    }
                        });
            });

            // Close Modal Add Contrainer
            $('#addProcurementQueueModalContainer').on('click', '#Close', function () {
                $('#addProcurementQueueModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Close Modal Edit Contrainer
            $('#editProcurementQueueModalContainer').on('click', '#Close', function () {
                $('#editProcurementQueueModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Delete ProcurementQueue
            $('.deleteProcurementQueueLink').click(function (e) {
                e.preventDefault();
                var ProcurementQueueId = $(this).data('id');
                $.post('@Url.Action("Delete", "ProcurementQueue")', { id: ProcurementQueueId }, function (response) {
                    if (response.success) {
                        
                    } else {
                        showError
                    }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
            $(document).on('click', '.printProcurementQueueLink', function (e) {
            e.preventDefault();

            var ProcurementQueueId = $(this).data('id');

            PrintProcurementQueue(ProcurementQueueId);
        });
        function PrintProcurementQueue(ProcurementQueueId) {
            var url = '@Url.Action("Print", "ProcurementQueue")' + '?id=' + ProcurementQueueId;

            // Open the new window for printing
            var printWindow = window.open(url, '_blank');
            printWindow.focus();
        }


        });
    </script>
    <script>
        function printListProcurementQueuees() {
            var printWindow = window.open('@Url.Action("PrintList", "ProcurementQueue")', '_blank');
            printWindow.focus();
        }
        $('#searchItemNameButton').click(function () {
            var searchValue = $('#searchItemNameInput').val();
            window.location.href = '@Url.Action("Index", "ProcurementQueue")?searchItemName=' + searchValue;
        });
    </script>


}



<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Store Management /</span> Procurement Queue
</h4>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <h5 class="card-header">@Localizer["lbl_SearchingBox"]</h5>
            <div class="Searching-Box-padding">
                <div class="row mb-4">
                    <div class="col-md-8" style="padding-bottom: 15px;">
                        <!-- Search Field and Button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Item Name" id="searchItemNameInput">
                            <button class="btn btn-outline-secondary" type="button" id="searchItemNameButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 text-end">
                        <!-- Action Buttons -->
                        <button type="button" class="btn btn-primary addProcurementQueueLink">@Localizer["lbl_AddNew"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "ProcurementQueue")'">@Localizer["lbl_Excel"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="printListProcurementQueuees()">@Localizer["lbl_Print"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Procurement Queue List</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-10 col-lg-10">
                            <div class="row">
                                <div class="col-2">
                                    <p class="text-nowrap">Procurement Queue #</p>
                                </div>
                                <div class="col-4">
                                    <p class="text-nowrap">Date</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">Item Name</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 col-md-1 col-lg-1">
                            <p class="text-nowrap">@Localizer["lbl_Edit"]</p>
                        </div>
                        <div class="col-1 col-md-1 col-lg-1">
                            <p class="text-nowrap">Print</p>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model)



                {
                    <div class="col-12 col-md-12 col-lg-12 GVDetail">
                        <div class="row">
                            <div class="col-10 col-md-10 col-lg-10">
                                <div class="row align-items-center">
                                    <div class="col-2">
                                        <p class="text-nowrap">
                                            <span class="smallAdd">Procurement Queue # :</span> @Html.DisplayFor(modelItem => item.ProcurementQueueID)
                                        </p>
                                    </div>
                                    <div class="col-4">
                                        <p class="text-nowrap">
                                            <span class="smallAdd">Date :</span> @(item.ProcurementQueueDate.ToString("dd/MM/yyyy") ?? "00/00/0000")
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <p class="text-nowrap">
                                            <span class="smallAdd">Item Name :</span> @item.Item?.ItemName
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 col-md-1 col-lg-1">
                                <div class="btn-group" role="group" aria-label="Actions">
                                    <a href="javascript:void(0)" class="editProcurementQueueLink me-2" data-id="@item.ProcurementQueueID">
                                        <i class="fa fa-pencil" style="font-size: large; color:steelblue;; line-height: 2;"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-1 col-md-1 col-lg-1">
                                <div class="btn-group" role="group" aria-label="Actions">
                                    <a href="javascript:void(0)" class="printProcurementQueueLink me-2" data-id="@item.ProcurementQueueID">
                                        <i class="fa fa-print" style="font-size: large; color:steelblue;; line-height: 2;"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                }

            </div>

        </div>
    </div>
</div>

<!-- Include the modal partial -->
<div id="editProcurementQueueModalContainer"></div>
<div id="addProcurementQueueModalContainer"></div>


