@model Exampler_ERP.Models.Temp.TransferVoucherIndexViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Vouchers.VoucherID" />
<input type="hidden" asp-for="Vouchers.FinalApprovalID" />
<input type="hidden" asp-for="Vouchers.ProcessTypeApprovalID" />
<div class="row mb-3">
    <div class="col-md-6">
        <label asp-for="Vouchers.VoucherTypeID" class="form-label fw-bold">Voucher Type</label>
        <select asp-for="Vouchers.VoucherTypeID" class="form-select form-select-lg">
            <option value="">Select Voucher Type</option>
            @foreach (var type in ViewBag.VoucherTypeList)
            {
                <option value="@type.Value">@type.Text</option>
            }
        </select>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">
        <label asp-for="Vouchers.Description" class="form-label fw-bold">Description</label>
        <textarea asp-for="Vouchers.Description" class="form-control form-control-lg" rows="3"></textarea>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered" id="TransferVoucherTable">
        <thead class="table-light">
            <tr>
                <th>Transaction Type</th>
                <th>Transaction Account</th>
                <th>Debit Amount</th>
                <th>Credit Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Vouchers.VoucherDetails != null && Model.Vouchers.VoucherDetails.Count > 0)
            {
                for (int i = 0; i < Model.Vouchers.VoucherDetails.Count; i++)
                {
                    <tr>
                        <td>
                            <select class="form-select transaction-account" name="Vouchers.VoucherDetails[@i].DRCR" value="Vouchers.VoucherDetails[@i].DRCR">
                                <option value="">Select Type</option>
                                @foreach (var type in ViewBag.TransactionTypeList)
                                {
                                    @if (type.Value == Model.Vouchers.VoucherDetails[i].DRCR.ToString())
                                    {
                                        <option value="@type.Value" selected>@type.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@type.Value">@type.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <select class="form-select transaction-account" name="Vouchers.VoucherDetails[@i].HeadofAccount_FiveID" value="Vouchers.VoucherDetails[@i].HeadofAccount_FiveID">
                                <option value="">Select Account</option>
                                @foreach (var type in ViewBag.HeadofAccount_FiveList)
                                {
                                    @if (type.Value == Model.Vouchers.VoucherDetails[i].HeadofAccount_FiveID.ToString())
                                    {
                                        <option value="@type.Value" selected>@type.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@type.Value">@type.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control debit" name="Vouchers.VoucherDetails[@i].DrAmt" value="@Model.Vouchers.VoucherDetails[i].DrAmt" />
                        </td>
                        <td>
                            <input type="text" class="form-control credit" name="Vouchers.VoucherDetails[@i].CrAmt" value="@Model.Vouchers.VoucherDetails[i].CrAmt" />
                        </td>
                        <td style="text-align: center;">
                            @if (i == 0)
                            {
                                <button type="button" class="btn btn-sm btn-secondary add-row">Add</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-sm btn-danger remove-row">Remove</button>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        <select class="form-select transaction-account" name="Vouchers.VoucherDetails[0].TransactionTypeID">
                            <option value="">Select Type</option>
                            @foreach (var type in ViewBag.TransactionTypeList)
                            {
                                <option value="@type.Value">@type.Text</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select class="form-select transaction-account" name="Vouchers.VoucherDetails[0].HeadofAccount_FiveID">
                            <option value="">Select Account</option>
                            @foreach (var type in ViewBag.HeadofAccount_FiveList)
                            {
                                <option value="@type.Value">@type.Text</option>
                            }
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control debit" name="Vouchers.VoucherDetails[0].DrAmt" />
                    </td>
                    <td>
                        <input type="text" class="form-control credit" name="Vouchers.VoucherDetails[0].CrAmt" />
                    </td>
                    <td style="text-align: center;">
                        <button type="button" class="btn btn-sm btn-secondary add-row">Add</button>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <label class="form-label fw-bold">Total Debit Amount</label>
        <input id="TotalDrAmt" class="form-control form-control-lg" readonly />
    </div>
    <div class="col-md-6">
        <label class="form-label fw-bold">Total Credit Amount</label>
        <input id="TotalCrAmt" class="form-control form-control-lg" readonly />
    </div>
</div>
