@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
	
    string? currentPage = Context.Request.Path;

    TempData.Keep();



    var accessRightsByUserJson = Context.Session.GetString("AccessRightsByUserActionSORs");

    var accessRightByUsertList = string.IsNullOrEmpty(accessRightsByUserJson)

        ? new List<int>()

        : System.Text.Json.JsonSerializer.Deserialize<List<int>>(accessRightsByUserJson);







    var accessRightsByRoleJson = Context.Session.GetString("AccessRightsByRoleActionSORs");

    var accessRightByRoleList = string.IsNullOrEmpty(accessRightsByRoleJson)

        ? new List<int>()

        : System.Text.Json.JsonSerializer.Deserialize<List<int>>(accessRightsByRoleJson);


}
<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    @* ! Hide app brand if navbar-full *@
    <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
        <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
            <span class="app-brand-logo demo">
                @* @await Html.PartialAsync("../_Partials/_Macros") *@
                <img src="~/img/favicon/SideLogoWithName.png" width="40%" />
            </span>
            @* <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span> *@
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>
    <hr />
    <div class="menu-inner-shadow"></div>

    @* ! Full version menu-items *@
    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Dashboards/") ? " active open" : "")'>
            <a asp-controller="Dashboards" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div>@Localizer["lbl_Dashboard"]</div>
                <div class="badge bg-danger rounded-pill ms-auto">5</div>
            </a>
        </li>

        @if (accessRightByRoleList.Contains(1) || accessRightByUsertList.Contains(1))

        {
            <!-- Human Resources -->
            <li class='menu-item@(currentPage.StartsWith("/HR_Main_Dashboard/Index") ||
                    currentPage.StartsWith("/HR_Employeement_Dashboard/Index") ||
                    currentPage.StartsWith("/HR_HR_Dashboard/Index") ||
                    currentPage.StartsWith("/HR_Finance_Dashboard/Index") ||
                    currentPage.StartsWith("/HR_Report_Dashboard/Index")||
                    currentPage.StartsWith("/AdditionalAllowanceType/Index")||
                    currentPage.StartsWith("/DeductionSetup/Index")||
                    currentPage.StartsWith("/Branch/Index")||
                    currentPage.StartsWith("/DeductionType/Index")||
                    currentPage.StartsWith("/Department/Index")||
                    currentPage.StartsWith("/Designation/Index")||
                    currentPage.StartsWith("/EmployeeRequestType/Index")||
                    currentPage.StartsWith("/EmployeeRequestTypeApprovalSetup/Index")||
                    currentPage.StartsWith("/EmployeeRequestTypeForward/Index")||
                    currentPage.StartsWith("/EmployeeStatusType/Index")||
                    currentPage.StartsWith("/OvertimeRate/Index")||
                    currentPage.StartsWith("/ProcessTypeApprovalSetup/Index")||
                    currentPage.StartsWith("/ProcessType/Index")||
                    currentPage.StartsWith("/ProcessTypeForward/Index")||
                    currentPage.StartsWith("/Qualification/Index")||
                    currentPage.StartsWith("/Role/Index")||
                    currentPage.StartsWith("/SalaryType/Index")||
                    currentPage.StartsWith("/Section/Index")||
                    currentPage.StartsWith("/SubQualification/Index")||
                    currentPage.StartsWith("/User/Index")||
                    currentPage.StartsWith("/VacationType/Index")||
                    currentPage.StartsWith("/HolidayType/Index")||

                    currentPage.StartsWith("/Applicant/Index")||
                    currentPage.StartsWith("/BankAccount/Index")||
                    currentPage.StartsWith("/CardPrint/Index")||
                    currentPage.StartsWith("/Contract/Index")||
                    currentPage.StartsWith("/ContractRenewal/Index")||
                    currentPage.StartsWith("/Employee/Index")||
                    currentPage.StartsWith("/Joining/Index")||
                    currentPage.StartsWith("/Salary/Index")||

                    currentPage.StartsWith("/AdditionalAllowance/Index")||
                    currentPage.StartsWith("/Deduction/Index")||
                    currentPage.StartsWith("/EndOfService/Index")||
                    currentPage.StartsWith("/OverTime/Index")||
                    currentPage.StartsWith("/VacationSettle/Index")||
                    currentPage.StartsWith("/FaceAttendanceTimeAdjust/Index")||
                    currentPage.StartsWith("/FaceAttendanceForwarding/Index")||
                    currentPage.StartsWith("/Holiday/Index")||

                    currentPage.StartsWith("/FixedDeduction/Index")||
                    currentPage.StartsWith("/WorkDay/Index")||
                    currentPage.StartsWith("/MonthlySalarySheet/Index")||

                    currentPage.StartsWith("/ContractExpiry/Index")||
                    currentPage.StartsWith("/EmployeeBioData/Index")||
                    currentPage.StartsWith("/VacationBalance/Index")||
                    currentPage.StartsWith("/VacationReport/Index")||
                    currentPage.StartsWith("/ExperienceCertificate/Index")||
                    currentPage.StartsWith("/EducationDocument/Index")||
                    currentPage.StartsWith("/ProcessApprovalDetail/Index")||
                    currentPage.StartsWith("/EmployeeRequestApprovalDetail/Index")||
                    currentPage.StartsWith("/ApprovedMonthlySalarySheet/Index")||
                    currentPage.StartsWith("/MonthlyPayslip/Index")||
                    currentPage.StartsWith("/FaceAttendanceReport/Index") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-group"></i>
                    <div>@Localizer["lbl_HumanResources"]</div>
                </a>

                <ul class="menu-sub">
                    <!-- Master Information -->
                    <li class='menu-item@(currentPage == "/HR_Main_Dashboard/Index" || currentPage == "/AdditionalAllowanceType/Index" ||
                                      currentPage == "/DeductionSetup/Index" || currentPage == "/Branch/Index" ||
                                      currentPage == "/DeductionType/Index" || currentPage == "/Department/Index" ||
                                      currentPage == "/Designation/Index" || currentPage == "/EmployeeRequestType/Index" ||
                                      currentPage == "/EmployeeStatusType/Index" || currentPage == "/OvertimeRate/Index" ||
                                      currentPage == "/ProcessTypeApprovalSetup/Index" || currentPage == "/ProcessType/Index" ||
                                      currentPage == "/ProcessTypeForward/Index" || currentPage == "/Qualification/Index" ||
                                      currentPage == "/Role/Index" || currentPage == "/SalaryType/Index" ||
                                      currentPage == "/Section/Index" || currentPage == "/SubQualification/Index" ||
                                      currentPage == "/User/Index" || currentPage == "/VacationType/Index" ||
                                      currentPage == "/EmployeeRequestTypeApprovalSetup/Index" || currentPage == "/EmployeeRequestTypeForward/Index" ||
                                      currentPage == "/Holiday/Index" ? " active" : "")'>
                        <a asp-controller="HR_Main_Dashboard" asp-action="Index" class="menu-link">
                            <div>@Localizer["lbl_MasterInformation"]</div>
                        </a>
                    </li>

                    <!-- Employeement -->
                    <li class='menu-item@(currentPage == "/HR_Employeement_Dashboard/Index" || currentPage == "/Applicant/Index" ||
                                      currentPage == "/BankAccount/Index" || currentPage == "/CardPrint/Index" ||
                                      currentPage == "/Contract/Index" || currentPage == "/ContractRenewal/Index" ||
                                      currentPage == "/Employee/Index" || currentPage == "/Joining/Index" ||
                                      currentPage == "/Salary/Index"  ? " active" : "")'>
                        <a asp-controller="HR_Employeement_Dashboard" asp-action="Index" class="menu-link">
                            <div>@Localizer["lbl_Employeement"]</div>
                        </a>
                    </li>

                    <!-- HR -->
                    <li class='menu-item@(currentPage == "/HR_HR_Dashboard/Index" || currentPage == "/AdditionalAllowance/Index" ||
                                      currentPage == "/Deduction/Index" || currentPage == "/EndOfService/Index" ||
                                      currentPage == "/OverTime/Index" || currentPage == "/VacationSettle/Index"||
                                      currentPage == "/FaceAttendanceTimeAdjust/Index" || currentPage == "/FaceAttendanceForwarding/Index"||
                                      currentPage == "/Holiday/Index"? " active" : "")'>
                        <a asp-controller="HR_HR_Dashboard" asp-action="Index" class="menu-link">
                            <div>@Localizer["lbl_HumanResources"]</div>
                        </a>
                    </li>

                    <!-- Finance -->
                    <li class='menu-item@(currentPage == "/HR_Finance_Dashboard/Index" || currentPage == "/FixedDeduction/Index" ||
                                      currentPage == "/WorkDay/Index" || currentPage == "/MonthlySalarySheet/Index"  ? " active" : "")'>
                        <a asp-controller="HR_Finance_Dashboard" asp-action="Index" class="menu-link">
                            <div>@Localizer["lbl_Finance"]</div>
                        </a>
                    </li>

                    <!-- Report -->
                    <li class='menu-item@(currentPage == "/HR_Report_Dashboard/Index"|| currentPage == "/ContractExpiry/Index" ||
                                      currentPage == "/EmployeeBioData/Index" || currentPage == "/VacationBalance/Index" ||
                                      currentPage == "/VacationReport/Index"|| currentPage == "/ExperienceCertificate/Index" ||
                                      currentPage == "/EducationDocument/Index"|| currentPage == "/ProcessApprovalDetail/Index" ||
                                      currentPage == "/EmployeeRequestApprovalDetail/Index"|| currentPage == "/FaceAttendanceReport/Index"||
                                      currentPage == "/MonthlyPayslip/Index"|| currentPage == "/ApprovedMonthlySalarySheet/Index"  ? " active" : "")'>
                        <a asp-controller="HR_Report_Dashboard" asp-action="Index" class="menu-link">
                            <div>@Localizer["lbl_Reports"]</div>
                        </a>
                    </li>
                </ul>
            </li>
        }
        @if (accessRightByRoleList.Contains(2) || accessRightByUsertList.Contains(2))

        {
            <!-- Finance -->
            <li class='menu-item@(currentPage.StartsWith("/FI_Main_Dashboard/Index") || currentPage.StartsWith("/FI_Management_Dashboard/Index") ||
                                   currentPage.StartsWith("/FI_Transaction_Dashboard/Index") || currentPage.StartsWith("/FI_Report_Dashboard/Index") ||
                                   currentPage.StartsWith("/CashAgainstSale/Index") || currentPage.StartsWith("/HeadofAccount_CategoryType/Index") ||
                                   currentPage.StartsWith("/HeadofAccount_First/Index") || currentPage.StartsWith("/HeadofAccount_Second/Index") ||
                                   currentPage.StartsWith("/HeadofAccount_Third/Index") || currentPage.StartsWith("/HeadofAccount_Four/Index") ||
                                   currentPage.StartsWith("/HeadofAccount_Five/Index") || currentPage.StartsWith("/VoucherType/Index")  ||
                                   currentPage.StartsWith("/Bank/Index") || currentPage.StartsWith("/ChequeBook/Index") ||
                                   currentPage.StartsWith("/Vendor/Index") || currentPage.StartsWith("/JournalVoucher/Index") ||
                                   currentPage.StartsWith("/TransferVoucher/Index") || currentPage.StartsWith("/PaymentVoucher/Index") ||
                                   currentPage.StartsWith("/ReceivedVoucher/Index")? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-dollar"></i>
                    <div>@Localizer["lbl_Finance"]</div>
                </a>
                <ul class="menu-sub">
                    <li class='menu-item@(currentPage == "/FI_Main_Dashboard/Index"|| currentPage == "/CashAgainstSale/Index" ||
                                      currentPage == "/HeadofAccount_CategoryType/Index" || currentPage == "/HeadofAccount_First/Index"||
                                      currentPage == "/HeadofAccount_Second/Index" || currentPage == "/HeadofAccount_Third/Index"||
                                      currentPage == "/HeadofAccount_Four/Index" || currentPage == "/HeadofAccount_Five/Index"||
                                      currentPage == "/VoucherType/Index" ? " active" : "")'>
                        <a asp-controller ="FI_Main_Dashboard" asp-action="Index" class="menu-link">
                            <div>@Localizer["lbl_MasterInformation"]</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/FI_Management_Dashboard/Index"|| currentPage == "/Bank/Index" ||
                                      currentPage == "/ChequeBook/Index" || currentPage == "/Vendor/Index" ? " active" : "")'>
                        <a asp-controller="FI_Management_Dashboard" asp-action="Index" class="menu-link">
                            <div>@Localizer["lbl_Management"]</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/FI_Transaction_Dashboard/Index"|| currentPage == "/JournalVoucher/Index" ||
                                      currentPage == "/TransferVoucher/Index" || currentPage == "/PaymentVoucher/Index"||
                                      currentPage == "/ReceivedVoucher/Index" ? " active" : "")'>
                        <a asp-controller="FI_Transaction_Dashboard" asp-action="Index" class="menu-link">
                            <div>@Localizer["lbl_Transaction"]</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/FI_Report_Dashboard/Index" ? " active" : "")'>
                        <a asp-controller="FI_Report_Dashboard" asp-action="Index" class="menu-link">
                            <div>@Localizer["lbl_Reports"]</div>
                        </a>
                    </li>
                </ul>
            </li>
        }
        @if (accessRightByRoleList.Contains(3) || accessRightByUsertList.Contains(3))

        {
            <!-- StoreManagement -->
            <li class='menu-item@(currentPage.StartsWith("/ST_Main_Dashboard/Index") || currentPage.StartsWith("/ST_StoreManagement_Dashboard/Index") ||
                                   currentPage.StartsWith("/ST_Report_Dashboard/Index") || currentPage.StartsWith("/ItemCategoryType/Index") ||
                                   currentPage.StartsWith("/ItemComponentType/Index") || currentPage.StartsWith("/Item/Index") ||
                                   currentPage.StartsWith("/ManufacturerType/Index") || currentPage.StartsWith("/UnitType/Index") ||
                                   currentPage.StartsWith("/MaterialRequisition/Index") || currentPage.StartsWith("/Stock/Index") ||
                                   currentPage.StartsWith("/MaterialReceived/Index") || currentPage.StartsWith("/MaterialIssuance/Index") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-store"></i>
                    <div>@Localizer["lbl_StoreManagement"]</div>
                </a>
                <ul class="menu-sub">
                    <li class='menu-item@(currentPage == "/ST_Main_Dashboard/Index"|| currentPage == "/ItemCategoryType/Index" ||
                                      currentPage == "/ItemComponentType/Index" || currentPage == "/Item/Index"||
                                      currentPage == "/ManufacturerType/Index" || currentPage == "/UnitType/Index" ? " active" : "")'>
                        <a asp-controller="ST_Main_Dashboard" asp-action="Index" class="menu-link">
                            <div>@Localizer["lbl_MasterInformation"]</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/ST_StoreManagement_Dashboard/Index"|| currentPage == "/MaterialRequisition/Index" ||
                                          currentPage == "/Stock/Index"|| currentPage == "/MaterialReceived/Index" ||
                                          currentPage == "/MaterialIssuance/Index"? " active" : "")'>
                        <a asp-controller="ST_StoreManagement_Dashboard" asp-action="Index" class="menu-link">
                            <div>@Localizer["lbl_StoreManagement"]</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/ST_Report_Dashboard/Index" ? " active" : "")'>
                        <a asp-controller="ST_Report_Dashboard" asp-action="Index" class="menu-link">
                            <div>@Localizer["lbl_Reports"]</div>
                        </a>
                    </li>
                </ul>
            </li>
        }
        @if (accessRightByRoleList.Contains(4) || accessRightByUsertList.Contains(4))

        {
            <!-- Purchase -->
            <li class='menu-item@(currentPage.StartsWith("/PR_Main_Dashboard/Index") || currentPage.StartsWith("/PR_Management_Dashboard/Index") ||
                                   currentPage.StartsWith("/PR_Report_Dashboard/Index") || currentPage.StartsWith("/PurchaseRequest/Index") ||
                                   currentPage.StartsWith("/PurchaseOrder/Index") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-cart"></i>
                    <div>@Localizer["lbl_Purchase"]</div>
                </a>
                <ul class="menu-sub">
                    <li class='menu-item@(currentPage == "/PR_Main_Dashboard/Index" ? " active" : "")'>
                        <a asp-controller="PR_Main_Dashboard" asp-action="Index" class="menu-link">
                            <div>@Localizer["lbl_MasterInformation"]</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/PR_Management_Dashboard/Index"|| currentPage == "/PurchaseRequest/Index" ||
                                      currentPage == "/PurchaseOrder/Index"  ? " active" : "")'>
                        <a asp-controller="PR_Management_Dashboard" asp-action="Index" class="menu-link">
                            <div>@Localizer["lbl_Management"]</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/PR_Report_Dashboard/Index" ? " active" : "")'>
                        <a asp-controller="PR_Report_Dashboard" asp-action="Index" class="menu-link">
                            <div>@Localizer["lbl_Reports"]</div>
                        </a>
                    </li>
                </ul>
            </li>
        }
        @if (accessRightByRoleList.Contains(5) || accessRightByUsertList.Contains(6))

        {
            <li class="menu-header small text-uppercase"><span class="menu-header-text">@Localizer["lbl_Components"]</span></li>
            <li class='menu-item@(currentPage == "/HRGlobalSetting/Index" || currentPage == "/FinanceGlobalSetting/Index" ||
                              currentPage == "/StoreManagementGlobalSetting/Index" || currentPage == "/PurchaseGlobalSetting/Index" ||
                              currentPage == "/AccessRightsByRole/Index" || currentPage == "/AccessRightsByUser/Index"? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon fas fa-toolbox"></i>
                    <div>@Localizer["lbl_Setup"]</div>
                </a>

                <ul class="menu-sub">
                    <li class="menu-header small text-uppercase"><span class="menu-header-text">@Localizer["lbl_GlobalSettings"]</span></li>
                    <li class='menu-item@(currentPage == "/HRGlobalSetting/Index" ? " active" : "")'>
                        <a asp-controller="HRGlobalSetting" asp-action="Index" class="menu-link">
                            <div>@Localizer["lbl_HumanResources"]</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/FinanceGlobalSetting/Index" ? " active" : "")'>
                        <a asp-controller="FinanceGlobalSetting" asp-action="Index" class="menu-link">
                            <div>@Localizer["lbl_Finance"]</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/StoreManagementGlobalSetting/Index" ? " active" : "")'>
                        <a asp-controller="StoreManagementGlobalSetting" asp-action="Index" class="menu-link">
                            /<div>@Localizer["lbl_StoreManagement"]</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/PurchaseGlobalSetting/Index" ? " active" : "")'>
                        <a asp-controller="PurchaseGlobalSetting" asp-action="Index" class="menu-link">
                            <div>@Localizer["lbl_Purchase"]</div>
                        </a>
                    </li>
                    <li class="menu-header small text-uppercase"><span class="menu-header-text">@Localizer["lbl_GeneralSettings"]</span></li>
                    <li class='menu-item@(currentPage == "/AccessRightsByRole/Index" ? " active" : "")'>
                        <a asp-controller="AccessRightsByRole" asp-action="Index" class="menu-link">
                            <div>@Localizer["lbl_AccessRightByRole"]</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/AccessRightsByUser/Index" ? " active" : "")'>
                        <a asp-controller="AccessRightsByUser" asp-action="Index" class="menu-link">
                            <div>@Localizer["lbl_AccessRightByUser"]</div>
                        </a>
                    </li>
                </ul>
            </li>

        }
        @if (accessRightByRoleList.Contains(6) || accessRightByUsertList.Contains(6))

        {
            <!-- Setting -->
            <li class='menu-item@(currentPage.StartsWith("/Pages/Misc") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-cog"></i>
                    <div>@Localizer["lbl_Setting"]</div>
                </a>
                <ul class="menu-sub">
                    <li class='menu-item@(currentPage == "/Pages/MiscError" ? " active" : "")'>
                        <a asp-controller="Pages" asp-action="MiscError" class="menu-link" target="_blank">
                            <div>@Localizer["lbl_UserRegistation"]</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Pages/MiscUnderMaintenance" ? " active" : "")'>
                        <a asp-controller="Pages" asp-action="MiscUnderMaintenance" class="menu-link" target="_blank">
                            <div>@Localizer["lbl_ChangePassword"]</div>
                        </a>
                    </li>
                </ul>
            </li>
        }
    </ul>

</aside>
<!-- / Menu -->
