@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["lbl_HumanResources"] + " - " + Localizer["lbl_HumanResources"];


    var accessRightsByUserJson = Context.Session.GetString("AccessRightsByUserActionSORs");
    var accessRightByUsertList = string.IsNullOrEmpty(accessRightsByUserJson)
        ? new List<int>()
        : System.Text.Json.JsonSerializer.Deserialize<List<int>>(accessRightsByUserJson);



    var accessRightsByRoleJson = Context.Session.GetString("AccessRightsByRoleActionSORs");
    var accessRightByRoleList = string.IsNullOrEmpty(accessRightsByRoleJson)
        ? new List<int>()
        : System.Text.Json.JsonSerializer.Deserialize<List<int>>(accessRightsByRoleJson);

}

@section PageScripts {
    <script src="~/js/pages-account-settings-account.js"></script>
    <link href="~/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">@Localizer["lbl_HumanResources"]  /</span> @Localizer["lbl_HumanResources"]
</h4>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item"><a class="nav-link" href="~/HR_Main_Dashboard/Index"><i class="bx bx-home me-1"></i> @Localizer["lbl_Main"]</a></li>
            <li class="nav-item"><a class="nav-link" href="~/HR_Employeement_Dashboard/Index"><i class="bx bx-briefcase me-1"></i> @Localizer["lbl_Employeement"]</a></li>
            <li class="nav-item"><a class="nav-link active" href="javascript:void(0);"><i class="bx bx-group me-1"></i> @Localizer["lbl_HR"]</a></li>
            <li class="nav-item"><a class="nav-link" href="~/HR_Finance_Dashboard/Index"><i class="bx bx-dollar me-1"></i> @Localizer["lbl_Finance"]</a></li>
            <li class="nav-item"><a class="nav-link" href="~/HR_Report_Dashboard/Index"><i class="bx bx-bar-chart-alt me-1"></i> @Localizer["lbl_Reports"]</a></li>
        </ul>
        <div class="card mb-4">
            <h5 class="card-header"> @Localizer["lbl_Details"]</h5>
            <div class="row" style="padding: 30px 30px 0px 30px;">

                @if (accessRightByRoleList.Contains(151) || accessRightByUsertList.Contains(151))
                {
                    @*Deduction*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="Deduction" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">@Localizer["lbl_Deduction"]</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-minus-circle Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    @Localizer["lbl_ViewDetails"] <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(152) || accessRightByUsertList.Contains(152))
                {
                    @*OverTime*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="OverTime" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">@Localizer["lbl_OverTime"]</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-clock Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    @Localizer["lbl_ViewDetails"] <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(153) || accessRightByUsertList.Contains(153))
                {
                    @*AdditionalAllowance*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="AdditionalAllowance" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary"> @Localizer["lbl_AdditionalAllowance"] </strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-plus-circle Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    @Localizer["lbl_ViewDetails"] <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(154) || accessRightByUsertList.Contains(154))
                {
                    @*Holiday*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="Holiday" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary"> @Localizer["lbl_Holiday"] </strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-plus-circle Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    @Localizer["lbl_ViewDetails"] <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(155) || accessRightByUsertList.Contains(155))
                {
                    @*VacationSettle*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="VacationSettle" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary"> @Localizer["lbl_VacationSettle"] </strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-plane-departure Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    @Localizer["lbl_ViewDetails"] <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(156) || accessRightByUsertList.Contains(156))
                {
                    @*EndOfService*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="EndOfService" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary"> @Localizer["lbl_EndOfService"] </strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-hand-holding-usd Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    @Localizer["lbl_ViewDetails"] <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(157) || accessRightByUsertList.Contains(157))
                {
                    @*EvaluationAssign*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="javascript:void(0)">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary"> @Localizer["lbl_EvaluationAssign"] </strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-tasks Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    @Localizer["lbl_ViewDetails"] <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(158) || accessRightByUsertList.Contains(158))
                {
                    @*EvaluationApproval*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="javascript:void(0)">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary"> @Localizer["lbl_EvaluationApproval"] </strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-check-circle Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    @Localizer["lbl_ViewDetails"] <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(159) || accessRightByUsertList.Contains(159))
                {
                    @*EvaluationList*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="javascript:void(0)">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary"> @Localizer["lbl_EvaluationList"] </strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-list-alt Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    @Localizer["lbl_ViewDetails"] <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(160) || accessRightByUsertList.Contains(160))
                {
                    @*FaceAttendanceTimeAdjust*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="FaceAttendanceTimeAdjust" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary"> @Localizer["lbl_FaceAttendanceTimeAdjust"] </strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-calendar-check Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    @Localizer["lbl_ViewDetails"] <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(161) || accessRightByUsertList.Contains(161))
                {
                    @*FaceAttendanceForwarding*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="FaceAttendanceForwarding" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">@Localizer["lbl_FaceAttendanceForwarding"]</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-calendar-check Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    @Localizer["lbl_ViewDetails"] <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
