@model List<Exampler_ERP.Models.PR_PurchaseRequest>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="table-responsive mb-3">
    <table class="table table-bordered" id="purchaseRequestTable">
        <thead class="table-light">
            
            <tr>
                <th>@Localizer["lbl_ItemName"]</th>
                <th>@Localizer["lbl_Unit"]</th>
                <th>@Localizer["lbl_Quantity"]</th>
                <th>@Localizer["lbl_PriorityLevel"]</th>
            </tr>
        </thead>
        <tbody id="purchaseRequestBody">
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        <select name="[@i].ItemID" class="form-select" required>
                            <option value="">@Localizer["lbl_SelectItem"]</option>
                            @foreach (var type in ViewBag.ItemList)
                            {
                                var isSelected = type.Value == Model[i].ItemID.ToString();
                                var optionHtml = $"<option value='{type.Value}' {(isSelected ? "selected='selected'" : "")}>{type.Text}</option>";
                                @Html.Raw(optionHtml)

                            }
                        </select>
                    </td>
                    <td>
                        <select name="[@i].UnitTypeID" class="form-select" required>
                            <option value="">@Localizer["lbl_SelectUnit"]</option>
                            @foreach (var type in ViewBag.ItemUnitList)
                            {
                                var isSelected = type.Value == Model[i].UnitTypeID.ToString();
                                var optionHtml = $"<option value='{type.Value}' {(isSelected ? "selected='selected'" : "")}>{type.Text}</option>";
                                @Html.Raw(optionHtml)
                            }
                        </select>
                    </td>
                    <td>
                        <input type="hidden" name="[@i].PurchaseRequestID" value="@Model[i].PurchaseRequestID" />
                        <input type="number" name="[@i].Quantity" class="form-control" value="@Model[i].Quantity" min="1" required />
                    </td>
                    <td>
                        <select name="[@i].PriorityLevel" class="form-select" required>
                            <option value="">@Localizer["lbl_SelectPriorityLevel"]</option>
                            @foreach (var type in ViewBag.PriorityLevelList)
                            {
                                var isSelected = type.Value == Model[i].PriorityLevel.ToString();
                                var optionHtml = $"<option value='{type.Value}' {(isSelected ? "selected='selected'" : "")}>{type.Text}</option>";
                                @Html.Raw(optionHtml)
                            }
                        </select>
                    </td>
                </tr>

            }
        </tbody>

    </table>
</div>
