@model IEnumerable<Exampler_ERP.Models.PR_PurchaseRequest>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Purchase - Purchase Request";
}



@section PageScripts {

    <script>
        $(document).ready(function () {
            // Edit PurchaseRequest modal popup
          $('#PurchaseRequestListContainer').on('click', '.editPurchaseRequestLink', function (e) {
                e.preventDefault();
                var PurchaseRequestId = $(this).data('id');
                $.get('@Url.Action("Edit", "PurchaseRequest")', { id: PurchaseRequestId }, function (data) {
                    $('#editPurchaseRequestModalContainer').html(data);
                    $('#editPurchaseRequestModal').modal('show');
                    // Trigger the calculation after modal is shown

                });
            });

            $('#editPurchaseRequestModalContainer').on('click', '#saveChanges', function () {
                var formData = $('#editPurchaseRequestForm').serialize();
                $.post('@Url.Action("Edit", "PurchaseRequest")', formData, function (response) {
                  if (response.success) {
                            $('#editPurchaseRequestModal').modal('hide');

                            // ✅ Ab poora list AJAX se reload karo
                            $.get('@Url.Action("Index", "PurchaseRequest")', function (partialHtml) {
                                var html = $(partialHtml).find('#PurchaseRequestListContainer').html();
                                $('#PurchaseRequestListContainer').html(html);
                            });
                        }
                });
            });

            // Add new PurchaseRequest modal popup
            $('.addPurchaseRequestLink').click(function () {
                $.get('@Url.Action("Create", "PurchaseRequest")', function (data) {
                    $('#addPurchaseRequestModalContainer').html(data);
                    $('#addPurchaseRequestModal').modal('show');
                });
            });


            // Save new PurchaseRequest form
            $('#addPurchaseRequestModalContainer').on('click', '#saveNewPurchaseRequest', function () {
                var formData = $('#addPurchaseRequestForm').serialize();
                $.post('@Url.Action("Create", "PurchaseRequest")', formData, function (response) {
                   if (response.success) {
                            $('#addPurchaseRequestModal').modal('hide');

                            // ✅ Ab poora list AJAX se reload karo
                            $.get('@Url.Action("Index", "PurchaseRequest")', function (partialHtml) {
                                var html = $(partialHtml).find('#PurchaseRequestListContainer').html();
                                $('#PurchaseRequestListContainer').html(html);
                            });
                        }
                });
            });

            // Close Modal Add Contrainer
            $('#addPurchaseRequestModalContainer').on('click', '#Close', function () {
                $('#addPurchaseRequestModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Add From Store PurchaseRequest modal popup
            $('.addFromStorePurchaseRequestLink').click(function () {
                $.get('@Url.Action("CreateFromStore", "PurchaseRequest")', function (data) {
                    $('#addFromStorePurchaseRequestModalContainer').html(data);
                    $('#addFromStorePurchaseRequestModal').modal('show');
                });
            });


            // Save new PurchaseRequest form
            $('#addFromStorePurchaseRequestModalContainer').on('click', '#saveNewPurchaseRequest', function () {
                var formData = $('#addFromStorePurchaseRequestForm').serialize();
                $.post('@Url.Action("Create", "PurchaseRequest")', formData, function (response) {
                     if (response.success) {
                            $('#addPurchaseRequestModal').modal('hide');

                            // ✅ Ab poora list AJAX se reload karo
                            $.get('@Url.Action("Index", "PurchaseRequest")', function (partialHtml) {
                                var html = $(partialHtml).find('#PurchaseRequestListContainer').html();
                                $('#PurchaseRequestListContainer').html(html);
                            });
                        }
                });
            });

            // Close Modal Add Contrainer
            $('#addFromStorePurchaseRequestModalContainer').on('click', '#Close', function () {
                $('#addFromStorePurchaseRequestModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Close Modal Edit Contrainer
            $('#editPurchaseRequestModalContainer').on('click', '#Close', function () {
                $('#editPurchaseRequestModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Delete PurchaseRequest
             $('#PurchaseRequestListContainer').on('click', '.deletePurchaseRequestLink', function (e) {
                e.preventDefault();
                var PurchaseRequestId = $(this).data('id');
                $.post('@Url.Action("Delete", "PurchaseRequest")', { id: PurchaseRequestId }, function (response) {
                  if (response.success) {
                    $.get('@Url.Action("Index", "PurchaseRequest")', function (partialHtml) {
                      var html = $(partialHtml).find('#PurchaseRequestListContainer').html();
                      $('#PurchaseRequestListContainer').html(html);
                    });
                  }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
            $(document).on('click', '.printPurchaseRequestLink', function (e) {
            e.preventDefault();

            var PurchaseRequestId = $(this).data('id');

            PrintPurchaseRequest(PurchaseRequestId);
        });
        function PrintPurchaseRequest(PurchaseRequestId) {
            var url = '@Url.Action("Print", "PurchaseRequest")' + '?id=' + PurchaseRequestId;

            // Open the new window for printing
            var printWindow = window.open(url, '_blank');
            printWindow.focus();
        }


        });
    </script>
    <script>
        function printListPurchaseRequestes() {
            var printWindow = window.open('@Url.Action("PrintList", "PurchaseRequest")', '_blank');
            printWindow.focus();
        }
        $('#searchItemNameButton').click(function () {
            var searchValue = $('#searchItemNameInput').val();
            window.location.href = '@Url.Action("Index", "PurchaseRequest")?searchItemName=' + searchValue;
        });
    </script>


}



<h4 class="py-3 mb-4">
    <span class="text-muted fw-light"> @Localizer["lbl_Purchase"] /</span> Purchase Request
</h4>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <h5 class="card-header">@Localizer["lbl_SearchingBox"]</h5>
            <div class="Searching-Box-padding">
                <div class="row mb-4">
                    <div class="col-md-6" style="padding-bottom: 15px;">
                        <!-- Search Field and Button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="@Localizer["lbl_Search"] Item @Localizer["lbl_Name"]" id="searchItemNameInput">
                            <button class="btn btn-outline-secondary" type="button" id="searchItemNameButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6 text-end">
                        <!-- Action Buttons -->
                        <button type="button" class="btn btn-primary addFromStorePurchaseRequestLink">Add New From Store</button>
                        <button type="button" class="btn btn-primary addPurchaseRequestLink">@Localizer["lbl_AddNew"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "PurchaseRequest")'">@Localizer["lbl_Excel"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="printListPurchaseRequestes()">@Localizer["lbl_Print"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Purchase Request @Localizer["lbl_List"]</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-10 col-lg-10">
                            <div class="row">
                                <div class="col-2">
                                    <p class="text-nowrap">Purchase Request #</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">@Localizer["lbl_Date"] /p>
                                </div>
                                <div class="col-4">
                                    <p class="text-nowrap">Item @Localizer["lbl_Name"]</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">Quantity</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">Status</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 col-md-1 col-lg-1">
                            <p class="text-nowrap">@Localizer["lbl_Edit"]</p>
                        </div>
                        <div class="col-1 col-md-1 col-lg-1">
                            <p class="text-nowrap">Print</p>
                        </div>
                    </div>
                </div>
                <div id="purchaseRequestListContainer">
                    @Html.Partial("~/Views/Purchase/Management/PurchaseRequest/_PurchaseRequestListPartial.cshtml", Model)
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Include the modal partial -->
<div id="editPurchaseRequestModalContainer"></div>
<div id="addPurchaseRequestModalContainer"></div>
<div id="addFromStorePurchaseRequestModalContainer"></div>


