@model Exampler_ERP.Models.Settings_OverTimeRate
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="modal fade" id="editOverTimeRateModal" tabindex="-1" role="dialog" aria-labelledby="editOverTimeRateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="editOverTimeRateModalLabel">
                    <i class="fas fa-key me-2"></i>
					@Localizer["lbl_EditOverTimeRate"]
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form id="editOverTimeRateForm">
                    <div class="row">
                        <div class="col-2 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-12">
                                    <label for="OverTimeRateValue" class="form-label fw-bold">@Localizer["lbl_OverTimeRateValue"]</label>
                                    <input type="text" class="form-control form-control-lg" id="OverTimeRateValue" name="OverTimeRateValue" value="@Model.OverTimeRateValue" />
                                </div>
                                <div class="col-12 col-md-6 col-lg-6">
                                    <label asp-for="ActiveYNID" class="form-label fw-bold">@Localizer["lbl_Active"]</label>
                                    <select asp-for="ActiveYNID" asp-items="@(new SelectList(ViewBag.ActiveYNIDList, "Value", "Text", Model.ActiveYNID))" class="form-control form-control-lg">
                                    </select>
                                    <span asp-validation-for="ActiveYNID" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="OverTimeRateTypeID" name="OverTimeRateTypeID" value="@Model.OverTimeRateTypeID" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close">@Localizer["lbl_Close"]</button>
                <button type="button" class="btn btn-success" id="saveChanges">@Localizer["lbl_SaveChanges"]</button>
            </div>
        </div>
    </div>
</div>
