@model IEnumerable<Exampler_ERP.Models.Settings_OverTimeRate>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Master Information - Over Time Rate";
}

@section PageScripts {

    <script>
        $(document).ready(function () {
            // Edit OverTimeRate modal popup
			$('#OverTimeRateListContainer').on('click', '.editOverTimeRateLink', function (e) {
                e.preventDefault();
                var OverTimeRateId = $(this).data('id');
                $.get('@Url.Action("Edit", "OverTimeRate")', { id: OverTimeRateId }, function (data) {
                    $('#editOverTimeRateModalContainer').html(data);
                    $('#editOverTimeRateModal').modal('show');
                });
            });

            $('#editOverTimeRateModalContainer').on('click', '#saveChanges', function () {
                var formData = $('#editOverTimeRateForm').serialize();
                $.post('@Url.Action("Edit", "OverTimeRate")', formData, function (response) {
					if (response.success) {
							$('#addOverTimeRateModal').modal('hide');

							// ✅ Ab poora list AJAX se reload karo
							$.get('@Url.Action("Index", "OverTimeRate")', function (partialHtml) {
								var html = $(partialHtml).find('#OverTimeRateListContainer').html();
								$('#OverTimeRateListContainer').html(html);
							});
						}
                });
            });

            // Add new OverTimeRate modal popup
            $('.addOverTimeRateLink').click(function () {
                $.get('@Url.Action("Create", "OverTimeRate")', function (data) {
                    $('#addOverTimeRateModalContainer').html(data);
                    $('#addOverTimeRateModal').modal('show');
                });
            });

            // Save new OverTimeRate form
			$('#OverTimeRateListContainer').on('click', '.deleteOverTimeRateLink', function (e) {
                var formData = $('#addOverTimeRateForm').serialize();
                $.post('@Url.Action("Create", "OverTimeRate")', formData, function (response) {
				   if (response.success) {
					$.get('@Url.Action("Index", "OverTimeRate")', function (partialHtml) {
					  var html = $(partialHtml).find('#OverTimeRateListContainer').html();
					  $('#OverTimeRateListContainer').html(html);
					});
				  }
                });
            });

            // Close Modal Add Contrainer
            $('#addOverTimeRateModalContainer').on('click', '#Close', function () {
                $('#addOverTimeRateModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Close Modal Edit Contrainer
            $('#editOverTimeRateModalContainer').on('click', '#Close', function () {
                $('#editOverTimeRateModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Delete OverTimeRate
            $('.deleteOverTimeRateLink').click(function (e) {
                e.preventDefault();
                var OverTimeRateId = $(this).data('id');
                $.post('@Url.Action("Delete", "OverTimeRate")', { id: OverTimeRateId }, function (response) {
                    if (response.success) {
                        
                    } else {
                        showError
                    }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
        });
    </script>
    <script>
        function printOverTimeRates() {
            var printWindow = window.open('@Url.Action("Print", "OverTimeRate")', '_blank');
            printWindow.focus();
        }
        $('#searchOverTimeRateButton').click(function () {
            var searchValue = $('#searchOverTimeRateInput').val();
            window.location.href = '@Url.Action("Index", "OverTimeRate")?searchOverTimeRateName=' + searchValue;
        });
    </script>
}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">@Localizer["lbl_MasterInformation"] /</span> Over Time Rate
</h4>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <h5 class="card-header">@Localizer["lbl_SearchingBox"]</h5>
            <div class="Searching-Box-padding">
                <div class="row mb-4">
                    <div class="col-md-8" style="padding-bottom: 15px;">
                        <!-- Search Field and Button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Over Time Rate Value" id="searchOverTimeRateInput">
                            <button class="btn btn-outline-secondary" type="button" id="searchOverTimeRateButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 text-end">
                        <!-- Action Buttons -->
                       <button type="button" class="btn btn-primary addOverTimeRateLink">@Localizer["lbl_AddNew"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "OverTimeRate")'">@Localizer["lbl_Excel"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="printOverTimeRates()">@Localizer["lbl_Print"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Over Time Rate List</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                       <div class="col-10 col-md-10 col-lg-10">
                            <div class="row">
                                <div class="col-8">
                                    <p class="text-nowrap">Over Time Rate Value</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">@Localizer["lbl_Active"]</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-2 col-lg-2">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_Edit"]</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_Delete"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<div id="OverTimeRateListContainer">
					@Html.Partial("~/Views/HR/MasterInfo/OverTimeRate/_OverTimeRateListPartial.cshtml", Model)
				</div>
            </div>
        </div>
    </div>
</div>

<!-- Include the modal partial -->
<div id="editOverTimeRateModalContainer"></div>
<div id="addOverTimeRateModalContainer"></div>
