@model Exampler_ERP.Models.Temp.MaterialReceivedsIndexViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<style>
    .readonly-select {
        pointer-events: none;
        background-color: #e9ecef; /* Bootstrap's disabled look */
    }

    .readonly-input {
        background-color: #e9ecef; /* Bootstrap look */
    }
</style>
<div class="modal fade" id="addMaterialReceivedViaPOModal" tabindex="-1" role="dialog" aria-labelledby="addMaterialReceivedViaPOModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="--bs-modal-width: 80rem;">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="addMaterialReceivedViaPOModalLabel">
                    <i class="fas fa-key me-2"></i>
                    Add New Material Received
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form id="addMaterialReceivedViaPOForm">
                    <div class="row">

                        <div class="col-2 col-md-12 col-lg-6">
                            <label asp-for="MaterialReceiveds.ItemID" class="form-label fw-bold">@Localizer["lbl_ItemName"]</label>
                            <select id="ItemID" asp-for="MaterialReceiveds.ItemID" asp-items="@(new SelectList(ViewBag.ItemList, "Value", "Text", Model.MaterialReceiveds.ItemID))" class="form-control form-control-lg">
                                <option>@Localizer["lbl_Pleaseselect"]</option>
                            </select>
                            <span asp-validation-for="MaterialReceiveds.ItemID" class="text-danger"></span>
                        </div>
                        <div class="col-2 col-md-12 col-lg-3">
                            <label asp-for="MaterialReceiveds.UnitTypeID" class="form-label fw-bold">@Localizer["lbl_Unit"]</label>
                            <select id="UnitTypeID" asp-for="MaterialReceiveds.UnitTypeID" asp-items="@(new SelectList(ViewBag.UnitList, "Value", "Text", Model.MaterialReceiveds.UnitTypeID))" class="form-control form-control-lg readonly-select">
                                <option>@Localizer["lbl_Pleaseselect"]</option>
                            </select>
                            <span asp-validation-for="MaterialReceiveds.UnitTypeID" class="text-danger"></span>
                        </div>
                        <div class="col-2 col-md-12 col-lg-3">
                            <label asp-for="MaterialReceiveds.VendorID" class="form-label fw-bold">@Localizer["lbl_VendorName"]</label>
                            <select id="VendorID" asp-for="MaterialReceiveds.VendorID" asp-items="@(new SelectList(ViewBag.VendorList, "Value", "Text", Model.MaterialReceiveds.VendorID))" class="form-control form-control-lg readonly-select">
                                <option>@Localizer["lbl_Pleaseselect"]</option>
                            </select>
                            <span asp-validation-for="MaterialReceiveds.VendorID" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-2 col-md-12 col-lg-6">
                            <div class="row">
                                <div class="col-6">
                                    <input id="PurchaseRequestID" asp-for="MaterialReceiveds.PurchaseRequestID" type="hidden" class="form-control form-control-lg readonly-input" readonly />

                                    <label asp-for="MaterialReceiveds.Quantity" class="form-label fw-bold">Quantity</label>
                                    <input id="Quantity" asp-for="MaterialReceiveds.Quantity" type="text" class="form-control form-control-lg readonly-input" readonly />
                                </div>
                                <div class="col-6">
                                    <label asp-for="MaterialReceiveds.LotNumber" class="form-label fw-bold">Lot Number</label>
                                    <input asp-for="MaterialReceiveds.LotNumber" type="text" class="form-control form-control-lg" />
                                </div>
                                <div class="col-6">
                                    <label asp-for="MaterialReceiveds.ExpiryDate" class="form-label fw-bold">@Localizer["lbl_PassportExpiryDate"]</label>
                                    <input asp-for="MaterialReceiveds.ExpiryDate" type="date" class="form-control form-control-lg" />
                                </div>
                                <div class="col-6">
                                    <label asp-for="MaterialReceiveds.PONo" class="form-label fw-bold">@Localizer["lbl_PONo"]</label>
                                    <input id="PONo" asp-for="MaterialReceiveds.PONo" type="number" class="form-control form-control-lg readonly-input" readonly />
                                </div>
                                <div class="col-6">
                                    <label asp-for="MaterialReceiveds.GRNNo" class="form-label fw-bold">@Localizer["lbl_GRNNo"]</label>
                                    <input asp-for="MaterialReceiveds.GRNNo" type="text" class="form-control form-control-lg" />
                                </div>
                                <div class="col-6">
                                    <label asp-for="MaterialReceiveds.DCNo" class="form-label fw-bold">@Localizer["lbl_DCNo"]</label>
                                    <input asp-for="MaterialReceiveds.DCNo" type="text" class="form-control form-control-lg" />
                                </div>
                                <div class="col-6">
                                    <label asp-for="MaterialReceiveds.InvoiceNo" class="form-label fw-bold">@Localizer["lbl_InvoiceNo"]</label>
                                    <input asp-for="MaterialReceiveds.InvoiceNo" type="text" class="form-control form-control-lg" />
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-12 col-lg-6">
                            <div class="component-type-container">
                                @for (var i = 0; i < Model.MaterialReceivedComponents.Count; i++)



                                {
                                    <div class="row">
                                        <div class="col-12">
                                            <input type="hidden" name="MaterialReceiveds.MaterialReceivedComponents[@i].ItemComponentTypeID" value="@Model.MaterialReceivedComponents[i].ItemComponentTypeID" />
                                            <label class="form-label fw-bold">@Model.MaterialReceivedComponents[i].ItemComponentTypeID</label>
                                            <input type="text" class="form-control form-control-lg" name="MaterialReceiveds.MaterialReceivedComponents[@i].ItemComponentValue" value="@Model.MaterialReceivedComponents[i].ItemComponentValue" placeholder="Enter value" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close">@Localizer["lbl_Close"]</button>
                <button type="button" class="btn btn-success" id="saveNewMaterialReceived">@Localizer["lbl_Save"] </button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Handle ItemID change event
        $('#ItemID').on('change', function () {
          $('#UnitTypeID').val('');
                $('#VendorID').val('');
                $('#Quantity').val('');
                $('#PONo').val('');
                $('#PurchaseRequestID').val('');
                //PurchaseRequestID
            var itemId = $(this).val();
            if (itemId) {
                $.ajax({
                    url: '/MaterialReceived/GetItemDetails',
                    type: 'GET',
                    data: { itemId: itemId },
                    success: function (data) {
                        // Fill the fields
                        $('#UnitTypeID').val(data.unitTypeID);
                        $('#VendorID').val(data.vendorID);
                        $('#Quantity').val(data.quantity);
                        $('#PONo').val(data.poNo);
                        $('#PurchaseRequestID').val(data.purchaseRequestID);
                    },
                    error: function () {
                        alert('Item details not found.');
                    }
                });
            } else {
                // Clear fields if no item selected
                $('#UnitTypeID').val('');
                $('#VendorID').val('');
                $('#Quantity').val('');
                $('#PONo').val('');
                $('#PurchaseRequestID').val('');
            }
        });
        $('#addMaterialReceivedViaPOForm select[name="MaterialReceiveds.ItemID"]').change(function () {
            var selectedItemID = $(this).val();
            if (selectedItemID) {
                // Fetch item components and HasLotNumberAndExpiryDate status
                $.ajax({
                    url: '/MaterialReceived/GetItemComponents',
                    type: 'GET',
                    data: { itemId: selectedItemID },
                    success: function (response) {
                        var componentContainer = $('#addMaterialReceivedViaPOForm .component-type-container');
                        componentContainer.html(''); // Clear previous components

                        // Handle HasLotNumberAndExpiryDate visibility
                        if (response.hasLotNumberAndExpiryDate) {
                            $('#addMaterialReceivedViaPOForm input[name="MaterialReceiveds.LotNumber"]').closest('.col-6').show();
                            $('#addMaterialReceivedViaPOForm input[name="MaterialReceiveds.ExpiryDate"]').closest('.col-6').show();
                        } else {
                            $('#addMaterialReceivedViaPOForm input[name="MaterialReceiveds.LotNumber"]').closest('.col-6').hide();
                            $('#addMaterialReceivedViaPOForm input[name="MaterialReceiveds.ExpiryDate"]').closest('.col-6').hide();
                        }

                        // Populate new components
                        response.components.forEach(function (component, index) {
                            var inputType = "text"; // Default input type
                            var additionalAttributes = ""; // Additional attributes for validation

                            // Set input type based on ItemDataType
                            switch (component.itemDataType) {
                                case 1: // int
                                    inputType = "number";
                                    additionalAttributes = `step="1"`;
                                    break;
                                case 2: // date
                                    inputType = "date";
                                    break;
                                case 3: // string
                                    inputType = "text";
                                    break;
                                case 4: // decimal
                                    inputType = "number";
                                    additionalAttributes = `step="0.01"`;
                                    break;
                            }

                            // Create HTML for the component
                            var componentHtml = `
                                <div class="row">
                                    <div class="col-12">
                                        <input type="hidden" name="MaterialReceiveds.MaterialReceivedComponents[${index}].ItemComponentTypeID" value="${component.itemTypeID}" />
                                        <label class="form-label fw-bold">${component.itemTypeName}</label>
                                        <input type="${inputType}" class="form-control form-control-lg"
                                               name="MaterialReceiveds.MaterialReceivedComponents[${index}].ItemComponentValue"
                                               placeholder="Enter value" ${additionalAttributes} />
                                    </div>
                                </div>`;
                            componentContainer.append(componentHtml);
                        });
                    },
                    error: function (xhr) {
                        console.error('Error fetching item components:', xhr.responseText);
                    }
                });
            } else {
                // Hide Lot Number and Expiry Date fields if no item is selected
                $('#addMaterialReceivedViaPOForm input[name="MaterialReceiveds.LotNumber"]').closest('.col-6').hide();
                $('#addMaterialReceivedViaPOForm input[name="MaterialReceiveds.ExpiryDate"]').closest('.col-6').hide();
            }
        });

        // Initially hide Lot Number and Expiry Date fields
        $('#addMaterialReceivedViaPOForm input[name="MaterialReceiveds.LotNumber"]').closest('.col-6').hide();
        $('#addMaterialReceivedViaPOForm input[name="MaterialReceiveds.ExpiryDate"]').closest('.col-6').hide();
    });
</script>

