@model Exampler_ERP.Models.Temp.MaterialReceivedsIndexViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="modal fade" id="editMaterialReceivedModal" tabindex="-1" role="dialog" aria-labelledby="editMaterialReceivedModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="--bs-modal-width: 80rem;">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="editMaterialReceivedModalLabel">
                    <i class="fas fa-key me-2"></i>
                    @Localizer["lbl_EditMaterialReceived"]
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="editMaterialReceivedForm">
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="MaterialReceiveds.ItemID" class="form-label fw-bold">@Localizer["lbl_ItemName"]</label>
                            <select asp-for="MaterialReceiveds.ItemID" asp-items="@(new SelectList(ViewBag.ItemList, "Value", "Text", Model.MaterialReceiveds.ItemID))" class="form-control form-control-lg">
                                <option value="">Please select</option>
                            </select>
                            <span asp-validation-for="MaterialReceiveds.ItemID" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="MaterialReceiveds.UnitTypeID" class="form-label fw-bold">@Localizer["lbl_Unit"]</label>
                            <select asp-for="MaterialReceiveds.UnitTypeID" asp-items="@(new SelectList(ViewBag.UnitList, "Value", "Text", Model.MaterialReceiveds.UnitTypeID))" class="form-control form-control-lg">
                                <option value="">Please select</option>
                            </select>
                            <span asp-validation-for="MaterialReceiveds.UnitTypeID" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="MaterialReceiveds.VendorID" class="form-label fw-bold">@Localizer["lbl_VendorName"]</label>
                            <select asp-for="MaterialReceiveds.VendorID" asp-items="@(new SelectList(ViewBag.VendorList, "Value", "Text", Model.MaterialReceiveds.VendorID))" class="form-control form-control-lg">
                                <option value="">Please select</option>
                            </select>
                            <span asp-validation-for="MaterialReceiveds.VendorID" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-6">
                                    <label asp-for="MaterialReceiveds.Quantity" class="form-label fw-bold">@Localizer["lbl_Quantity"]</label>
                                    <input asp-for="MaterialReceiveds.Quantity" type="number" class="form-control form-control-lg" />
                                </div>
                                <div class="col-6">
                                    <label asp-for="MaterialReceiveds.LotNumber" class="form-label fw-bold">@Localizer["lbl_LotNumber"]</label>
                                    <input asp-for="MaterialReceiveds.LotNumber" type="text" class="form-control form-control-lg" />
                                </div>
                                <div class="col-6">
                                    <label asp-for="MaterialReceiveds.ExpiryDate" class="form-label fw-bold">@Localizer["lbl_ExpiryDate"]</label>
                                    <input asp-for="MaterialReceiveds.ExpiryDate" type="date" class="form-control form-control-lg" />
                                </div>
                                <div class="col-6">
                                    <label asp-for="MaterialReceiveds.PONo" class="form-label fw-bold">@Localizer["lbl_PONo"]</label>
                                    <input asp-for="MaterialReceiveds.PONo" type="number" class="form-control form-control-lg" />
                                </div>
                                <div class="col-6">
                                    <label asp-for="MaterialReceiveds.GRNNo" class="form-label fw-bold">@Localizer["lbl_GRNNo"]</label>
                                    <input asp-for="MaterialReceiveds.GRNNo" type="text" class="form-control form-control-lg" />
                                </div>
                                <div class="col-6">
                                    <label asp-for="MaterialReceiveds.DCNo" class="form-label fw-bold">@Localizer["lbl_DCNo"]</label>
                                    <input asp-for="MaterialReceiveds.DCNo" type="text" class="form-control form-control-lg" />
                                </div>
                                <div class="col-6">
                                    <label asp-for="MaterialReceiveds.InvoiceNo" class="form-label fw-bold">@Localizer["lbl_InvoiceNo"]</label>
                                    <input asp-for="MaterialReceiveds.InvoiceNo" type="text" class="form-control form-control-lg" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="component-type-container">
                                @for (var i = 0; i < Model.MaterialReceivedComponents.Count; i++)
                                {
                                    <div class="row">
                                        <div class="col-12">
                                            <input type="hidden" name="MaterialReceiveds.MaterialReceivedComponents[@i].ItemComponentTypeID" 
                                                   value="@Model.MaterialReceivedComponents[i].ItemComponentTypeID" />
                                            <label class="form-label fw-bold">@Model.MaterialReceivedComponents[i].ItemComponentTypeID</label>
                                            <input type="text" class="form-control form-control-lg" 
                                                   name="MaterialReceiveds.MaterialReceivedComponents[@i].ItemComponentValue" 
                                                   value="@Model.MaterialReceivedComponents[i].ItemComponentValue" 
                                                   placeholder="Enter value" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <input type="hidden" asp-for="MaterialReceiveds.MaterialReceivedID" class="form-control form-control-lg" />
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="Close">@Localizer["lbl_Close"]</button>
                <button type="button" class="btn btn-success" id="saveChanges">@Localizer["lbl_SaveChanges"]</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Handle ItemID change event
        
        $('#editMaterialReceivedForm select[name="MaterialReceiveds.ItemID"]').change(function () {
            var selectedItemID = $(this).val();
            if (selectedItemID) {
                // Fetch item components and HasLotNumberAndExpiryDate status
                $.ajax({
                    url: '/MaterialReceived/GetItemComponents',
                    type: 'GET',
                    data: { itemId: selectedItemID },
                    success: function (response) {
                        var componentContainer = $('#editMaterialReceivedForm .component-type-container');
                        componentContainer.html(''); // Clear previous components

                        // Handle HasLotNumberAndExpiryDate visibility
                        if (response.hasLotNumberAndExpiryDate) {
                            $('#editMaterialReceivedForm input[name="MaterialReceiveds.LotNumber"]').closest('.col-6').show();
                            $('#editMaterialReceivedForm input[name="MaterialReceiveds.ExpiryDate"]').closest('.col-6').show();
                        } else {
                            $('#editMaterialReceivedForm input[name="MaterialReceiveds.LotNumber"]').closest('.col-6').hide();
                            $('#editMaterialReceivedForm input[name="MaterialReceiveds.ExpiryDate"]').closest('.col-6').hide();
                        }

                        // Populate new components
                        response.components.forEach(function (component, index) {
                            var inputType = "text"; // Default input type
                            var additionalAttributes = ""; // Additional attributes for validation

                            // Set input type based on ItemDataType
                            switch (component.itemDataType) {
                                case 1: // int
                                    inputType = "number";
                                    additionalAttributes = `step="1"`;
                                    break;
                                case 2: // date
                                    inputType = "date";
                                    break;
                                case 3: // string
                                    inputType = "text";
                                    break;
                                case 4: // decimal
                                    inputType = "number";
                                    additionalAttributes = `step="0.01"`;
                                    break;
                            }

                            // Create HTML for the component
                            var componentHtml = `
                                <div class="row">
                                    <div class="col-12">
                                        <input type="hidden" name="MaterialReceiveds.MaterialReceivedComponents[${index}].ItemComponentTypeID" value="${component.itemTypeID}" />
                                        <label class="form-label fw-bold">${component.itemTypeName}</label>
                                        <input type="${inputType}" class="form-control form-control-lg"
                                               name="MaterialReceiveds.MaterialReceivedComponents[${index}].ItemComponentValue"
                                               placeholder="Enter value" ${additionalAttributes} />
                                    </div>
                                </div>`;
                            componentContainer.append(componentHtml);
                        });
                    },
                    error: function (xhr) {
                        console.error('Error fetching item components:', xhr.responseText);
                    }
                });
            } else {
                // Hide Lot Number and Expiry Date fields if no item is selected
                $('#editMaterialReceivedForm input[name="MaterialReceiveds.LotNumber"]').closest('.col-6').hide();
                $('#editMaterialReceivedForm input[name="MaterialReceiveds.ExpiryDate"]').closest('.col-6').hide();
            }
        });

        // Initially hide Lot Number and Expiry Date fields
        $('#editMaterialReceivedForm input[name="MaterialReceiveds.LotNumber"]').closest('.col-6').hide();
        $('#editMaterialReceivedForm input[name="MaterialReceiveds.ExpiryDate"]').closest('.col-6').hide();
    });
</script>
<script>
    $(document).ready(function () {
        $(document).ready(function () {
            var selectedItemID = $('#editMaterialReceivedForm select[name="MaterialReceiveds.ItemID"]').val();
            var selectedReceivedID = $('#editMaterialReceivedForm input[name="MaterialReceiveds.MaterialReceivedID"]').val();
            function fetchItemComponents(itemId, receivedID) {
                if (itemId && receivedID) {
                    $.ajax({
                        url: '/MaterialReceived/GetReceivedItemComponents',
                        type: 'GET',
                        data: { itemId: itemId, receivedID: receivedID },
                        success: function (response) {
                            var componentContainer = $('#editMaterialReceivedForm .component-type-container');
                            componentContainer.html(''); // Clear previous components

                            // Handle HasLotNumberAndExpiryDate visibility
                            if (response.hasLotNumberAndExpiryDate) {
                                $('#editMaterialReceivedForm input[name="MaterialReceiveds.LotNumber"]').closest('.col-6').show();
                                $('#editMaterialReceivedForm input[name="MaterialReceiveds.ExpiryDate"]').closest('.col-6').show();
                            } else {
                                $('#editMaterialReceivedForm input[name="MaterialReceiveds.LotNumber"]').closest('.col-6').hide();
                                $('#editMaterialReceivedForm input[name="MaterialReceiveds.ExpiryDate"]').closest('.col-6').hide();
                            }

                            // Populate new components
                            response.components.forEach(function (component, index) {
                                var inputType = "text";
                                var additionalAttributes = "";

                                switch (component.itemDataType) {
                                    case 1: inputType = "number"; additionalAttributes = `step="1"`; break;
                                    case 2: inputType = "date"; break;
                                    case 3: inputType = "text"; break;
                                    case 4: inputType = "number"; additionalAttributes = `step="0.01"`; break;
                                }
                                var componentHtml = `
                                <div class="row">
                                    <div class="col-12">
                                        <input type="hidden" name="MaterialReceiveds.MaterialReceivedComponents[${index}].ItemComponentTypeID" value="${component.itemTypeID}" />
                                        <label class="form-label fw-bold">${component.itemTypeName}</label>
                                        <input type="${inputType}" class="form-control form-control-lg"
                                                   name="MaterialReceiveds.MaterialReceivedComponents[${index}].ItemComponentValue" value="${component.itemTypeValue}"
                                               placeholder="Enter value" ${additionalAttributes} />
                                    </div>
                                </div>`;
                                componentContainer.append(componentHtml);
                            });
                        },
                        error: function (xhr) {
                            console.error('Error fetching item components:', xhr.responseText);
                        }
                    });
                } else {
                    $('#editMaterialReceivedForm input[name="MaterialReceiveds.LotNumber"]').closest('.col-6').hide();
                    $('#editMaterialReceivedForm input[name="MaterialReceiveds.ExpiryDate"]').closest('.col-6').hide();
                }
            }

            // Fetch on page load
            fetchItemComponents(selectedItemID, selectedReceivedID);

            // Fetch on ItemID change
            $('#editMaterialReceivedForm select[name="MaterialReceiveds.ItemID"]').change(function () {
                var newItemID = $(this).val();
                fetchItemComponents(newItemID, selectedReceivedID);
            });
        });

    });
</script>

