@model IEnumerable<Exampler_ERP.Models.ST_MaterialReceived>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["lbl_PrintMaterialReceived"]</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
    <h2>@Localizer["lbl_MaterialReceivedList"]</h2>
    <table>
        <thead>
            <tr>
                <th>@Localizer["lbl_ReceivedNo"]</th>
                <th>@Localizer["lbl_ReceivedDate"]</th>
                <th>@Localizer["lbl_ItemName"]</th>
                <th>@Localizer["lbl_Quantity"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var MaterialReceived in Model)
            {
                <tr>
                    <td>@MaterialReceived.MaterialReceivedID</td>
                    <td>@MaterialReceived.MaterialReceivedDate.ToString("dd/MM/yyyy")</td>
                    <td>@(MaterialReceived.Item?.ItemName)</td>
                    <td>@(MaterialReceived.Quantity)</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
