@model IEnumerable<Exampler_ERP.Models.Settings_HeadofAccount_Four>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
	ViewData["Title"] = @Localizer["lbl_MasterInformation"] + " - " + @Localizer["lbl_HeadofAccountFour"];
}

@section PageScripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+5hb5z2N7O6eHg4d5e2jtV5Wz4w69F+QYw1Fz4yD61DdE8kOkWJLvHh7vDkg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        $(document).ready(function () {
            // Edit HeadofAccount_Four modal popup
             $('#HeadofAccount_FourListContainer').on('click', '.editHeadofAccount_FourLink', function (e) {
                e.preventDefault();
                var HeadofAccount_FourId = $(this).data('id');
                $.get('@Url.Action("Edit", "HeadofAccount_Four")', { id: HeadofAccount_FourId }, function (data) {
                    $('#editHeadofAccount_FourModalContainer').html(data);
                    $('#editHeadofAccount_FourModal').modal('show');
                });
            });

            $('#editHeadofAccount_FourModalContainer').on('click', '#saveChanges', function () {
                var formData = $('#editHeadofAccount_FourForm').serialize();
                $.post('@Url.Action("Edit", "HeadofAccount_Four")', formData, function (response) {
                   if (response.success) {
                            $('#editHeadofAccount_FourModal').modal('hide');

                            // ✅ Ab poora list AJAX se reload karo
                            $.get('@Url.Action("Index", "HeadofAccount_Four")', function (partialHtml) {
                                var html = $(partialHtml).find('#HeadofAccount_FourListContainer').html();
                                $('#HeadofAccount_FourListContainer').html(html);
                            });
                        }
                });
            });

            // Add new HeadofAccount_Four modal popup
            $('.addHeadofAccount_FourLink').click(function () {
                $.get('@Url.Action("Create", "HeadofAccount_Four")', function (data) {
                    $('#addHeadofAccount_FourModalContainer').html(data);
                    $('#addHeadofAccount_FourModal').modal('show');
                });
            });

            // Save new HeadofAccount_Four form
            $('#addHeadofAccount_FourModalContainer').on('click', '#saveNewHeadofAccount_Four', function () {
                var formData = $('#addHeadofAccount_FourForm').serialize();
                $.post('@Url.Action("Create", "HeadofAccount_Four")', formData, function (response) {
                   if (response.success) {
                            $('#addHeadofAccount_FourModal').modal('hide');

                            // ✅ Ab poora list AJAX se reload karo
                            $.get('@Url.Action("Index", "HeadofAccount_Four")', function (partialHtml) {
                                var html = $(partialHtml).find('#HeadofAccount_FourListContainer').html();
                                $('#HeadofAccount_FourListContainer').html(html);
                            });
                        }
                });
            });

            // Close Modal Add Contrainer
            $('#addHeadofAccount_FourModalContainer').on('click', '#Close', function () {
                $('#addHeadofAccount_FourModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Close Modal Edit Contrainer
            $('#editHeadofAccount_FourModalContainer').on('click', '#Close', function () {
                $('#editHeadofAccount_FourModal').modal('hide'); // Close the modal directly
                // Additional logic if needed
            });

            // Delete HeadofAccount_Four
             $('#HeadofAccount_FourListContainer').on('click', '.deleteHeadofAccount_FourLink', function (e) {
                e.preventDefault();
                var HeadofAccount_FourId = $(this).data('id');
                $.post('@Url.Action("Delete", "HeadofAccount_Four")', { id: HeadofAccount_FourId }, function (response) {
                     if (response.success) {
                    $.get('@Url.Action("Index", "HeadofAccount_Four")', function (partialHtml) {
                      var html = $(partialHtml).find('#HeadofAccount_FourListContainer').html();
                      $('#HeadofAccount_FourListContainer').html(html);
                    });
                  }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
        });
    </script>
    <script>
        function printHeadofAccount_Foures() {
            var printWindow = window.open('@Url.Action("Print", "HeadofAccount_Four")', '_blank');
            printWindow.focus();
        }
        $('#searchHeadofAccount_FourButton').click(function () {
            var searchValue = $('#searchHeadofAccount_FourInput').val();
            window.location.href = '@Url.Action("Index", "HeadofAccount_Four")?searchFourName=' + searchValue;
        });
    </script>


}



<h4 class="py-3 mb-4">
	<span class="text-muted fw-light">@Localizer["lbl_MasterInformation"] /</span> @Localizer["lbl_HeadofAccountFour"]
</h4>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <h5 class="card-header">@Localizer["lbl_SearchingBox"]</h5>
            <div class="Searching-Box-padding">
                <div class="row mb-4">
                    <div class="col-md-8" style="padding-bottom: 15px;">
                        <!-- Search Field and Button -->
                        <div class="input-group">
							<input type="text" class="form-control" placeholder="@Localizer["lbl_SearchHeadofAccountFourName"]" id="searchHeadofAccount_FourInput">
                            <button class="btn btn-outline-secondary" type="button" id="searchHeadofAccount_FourButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 text-end">
                        <!-- Action Buttons -->
                        <button type="button" class="btn btn-primary addHeadofAccount_FourLink">@Localizer["lbl_AddNew"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ExportToExcel", "HeadofAccount_Four")'">@Localizer["lbl_Excel"]</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="printHeadofAccount_Foures()">@Localizer["lbl_Print"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
			<h5 class="card-header">@Localizer["lbl_HeadofAccountFourList"]</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-10 col-md-10 col-lg-10">
                            <div class="row">
                                <div class="col-5">
		                            <p class="text-nowrap">@Localizer["lbl_HeadofAccountFourName"]</p>
                                </div>
                                <div class="col-5">
                                    <p class="text-nowrap">@Localizer["lbl_HeadofAccount"]</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-nowrap">@Localizer["lbl_Active"]</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-2 col-lg-2">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_Edit"]</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-nowrap">@Localizer["lbl_Delete"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="headofAccount_FourListContainer">
                    @Html.Partial("~/Views/Finance/MasterInfo/HeadofAccount_Four/_HeadofAccount_FourListPartial.cshtml", Model)
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Include the modal partial -->
<div id="editHeadofAccount_FourModalContainer"></div>
<div id="addHeadofAccount_FourModalContainer"></div>
