@model Exampler_ERP.Models.FI_ChequeBook
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="modal fade" id="editChequeBookModal" tabindex="-1" role="dialog" aria-labelledby="editChequeBookModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="editChequeBookModalLabel">
                    <i class="fas fa-key me-2"></i>
                    @Localizer["lbl_EditChequeBook"]
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editChequeBookForm">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12">
                            <label asp-for="BankAccountID" class="form-label fw-bold">@Localizer["lbl_BankName"]</label>
                            <select asp-for="BankAccountID" asp-items="@(new SelectList(ViewBag.bankList, "Value", "Text", Model.BankAccountID))" class="form-control form-control-lg" disabled>
                            </select>
                            <span asp-validation-for="BankAccountID" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <label asp-for="ActiveYNID" class="form-label fw-bold">@Localizer["lbl_Active"]</label>
                            <select asp-for="ActiveYNID" asp-items="@(new SelectList(ViewBag.ActiveYNIDList, "Value", "Text", Model.ActiveYNID))" class="form-control form-control-lg" disabled>
                            </select>
                            <span asp-validation-for="ActiveYNID" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <label for="TotalPages" class="form-label fw-bold">@Localizer["lbl_TotalPages"]</label>
                            <input type="text" class="form-control form-control-lg" id="TotalPages" name="TotalPages" value="@Model.TotalPages" disabled />
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <label for="ChequeFrom" class="form-label fw-bold">@Localizer["lbl_FromChequeNo"]</label>
                            <input type="text" class="form-control form-control-lg" id="ChequeFrom" name="ChequeFrom" value="@Model.ChequeFrom" disabled />
                        </div>
                        <div class="col-12 col-md-12 col-lg-6">
                            <label for="ChequeTo" class="form-label fw-bold">@Localizer["lbl_ToChequeNo"]</label>
                            <input type="text" class="form-control form-control-lg" id="ChequeTo" name="ChequeTo" value="@Model.ChequeTo" disabled />
                        </div>
                    </div>

                    <input type="hidden" id="ChequeBookID" name="ChequeBookID" value="@Model.ChequeBookID" />
                    <br />
                    @Html.Partial("~/Views/Finance/Management/ChequeBook/ChequeBook_Detail.cshtml", Model.ChequeDetails)

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close">@Localizer["lbl_Close"]</button>
                @* <button type="button" class="btn btn-success" id="saveChanges">@Localizer["lbl_SaveChanges"]</button> *@
            </div>
        </div>
    </div>
</div>
