@model IEnumerable<Exampler_ERP.Models.FI_ChequeBook>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["lbl_Print"]  Cheque Books</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
    <h2>Cheque Book List</h2>
    <table>
        <thead>
            <tr>
                <th>ChequeBook @Localizer["lbl_ID"]</th>
                <th>Bank Name</th>
                <th>@Localizer["lbl_Active"]</th>
                <th>Total Pages</th>
                <th>Account No</th>
                <th>@Localizer["lbl_Phone"] </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ChequeBook in Model)
            {
                <tr>
                    <td>@ChequeBook.ChequeBookID</td>
                    <td>@ChequeBook.BankAccount.BankName</td>
                    <td>@(ChequeBook.ActiveYNID == 1 ? "Yes" : "No")</td>
                    <td>@ChequeBook.TotalPages</td>
                    <td>@ChequeBook.ChequeFrom</td>
                    <td>@ChequeBook.ChequeTo</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
