@model Exampler_ERP.Models.Settings_SectionType
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="modal fade" id="editSectionModal" tabindex="-1" role="dialog" aria-labelledby="editSectionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="editSectionModalLabel">
                    <i class="fas fa-key me-2"></i>
					@Localizer["lbl_Edit"] @Localizer["lbl_Section"]
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form id="editSectionForm">
                    <div class="row">
                        <div class="col-2 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-6">
                                    <label asp-for="DepartmentTypeID" class="form-label fw-bold">@Localizer["lbl_Select"] @Localizer["lbl_Department"]</label>
                                    <select asp-for="DepartmentTypeID" asp-items="@(new SelectList(ViewBag.DepartmentList, "Value", "Text", Model.DepartmentTypeID))" class="form-control form-control-lg">
                                    </select>
                                    <span asp-validation-for="DepartmentTypeID" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label asp-for="ActiveYNID" class="form-label fw-bold">@Localizer["lbl_Active"]</label>
                                    <select asp-for="ActiveYNID" asp-items="@(new SelectList(ViewBag.ActiveYNIDList, "Value", "Text"))" class="form-control form-control-lg">
                                        <option>@Localizer["lbl_Pleaseselect"]</option>
                                    </select>
                                    <span asp-validation-for="ActiveYNID" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label for="SectionTypeName" class="form-label fw-bold">@Localizer["lbl_SectionName"]</label>
                                    <input type="text" class="form-control form-control-lg" id="SectionTypeName" name="SectionTypeName" value="@Model.SectionTypeName" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="SectionTypeID" name="SectionTypeID" value="@Model.SectionTypeID" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close">@Localizer["lbl_Close"]</button>
                <button type="button" class="btn btn-success" id="saveChanges">@Localizer["lbl_SaveChanges"]</button>
            </div>
        </div>
    </div>
</div>
