@model IEnumerable<Exampler_ERP.Models.FI_Bank>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["lbl_PrintBank"]</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
    <h2>@Localizer["lbl_BankList"]</h2>
    <table>
        <thead>
            <tr>
                <th>@Localizer["lbl_BankID"]</th>
                <th>@Localizer["lbl_BankName"]</th>
                <th>@Localizer["lbl_Active"]</th>
                <th>@Localizer["lbl_BankAccount"]</th>
                <th>@Localizer["lbl_Phone"] </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Bank in Model)
            {
                <tr>
                    <td>@Bank.BankID</td>
                    <td>@Bank.BankName</td>
                    <td>@(Bank.ActiveYNID == 1 ? "Yes" : "No")</td>
                    <td>@Bank.AccountNo</td>
                    <td>@Bank.Phone</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
