@model IEnumerable<Exampler_ERP.Models.HR_WorkDay>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["lbl_PrintWorkDay"]</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
    <h2>@Localizer["lbl_WorkDayList"]</h2>
    <table>
        <thead>
            <tr>
                <th>@Localizer["lbl_WorkDayID"]</th>
                <th>@Localizer["lbl_EmployeeName"]</th>
                <th>@Localizer["lbl_Month"]</th>
                <th>@Localizer["lbl_Year"]</th>
                <th>@Localizer["lbl_DeducationDay"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var WorkDay in Model)
            {
                <tr>
                    <td>@WorkDay.WorkDayID</td>
                    <td>@($"{WorkDay.Employee?.FirstName} {WorkDay.Employee?.FatherName} {WorkDay.Employee?.FamilyName}")</td>
                    <td>@WorkDay.Month</td>
                    <td>@WorkDay.Year</td>
                    <td>@WorkDay.Days</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
