@model IEnumerable<Exampler_ERP.Models.CR_ProcessTypeApprovalDetail>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["lbl_Reports"] + " - " + Localizer["lbl_ProcessApprovals"];
}

@section PageScripts {

    <script>
        $(document).ready(function () {
            // approvals ProcessTypeApproval modal popup
            $('.approvalsProcessTypeApprovalLink').click(function (e) {
                e.preventDefault();
                var ProcessTypeApprovalId = $(this).data('id');
                $.get('@Url.Action("approvals", "ApprovalsRequest")', { id: ProcessTypeApprovalId }, function (data) {
                    $('#approvalsProcessTypeApprovalModalContainer').html(data);
                    $('#approvalsProcessTypeApprovalModal').modal('show');
                });
            });
            // Close Modal approvals Contrainer
            $('#approvalsProcessTypeApprovalModalContainer').on('click', '#Close', function () {
                $('#approvalsProcessTypeApprovalModal').modal('hide'); // Close the modal directly
                // detailsitional logic if needed
            });

            // details ProcessTypeApproval modal popup
            $('.detailsProcessTypeApprovalLink').click(function (e) {
                e.preventDefault();
                var ProcessTypeApprovalId = $(this).data('id');
                $.get('@Url.Action("details", "ApprovalsRequest")', { id: ProcessTypeApprovalId }, function (data) {
                    $('#detailsProcessTypeApprovalModalContainer').html(data);
                    $('#detailsProcessTypeApprovalModal').modal('show');
                });
            });
            // Close Modal details Contrainer
            $('#detailsProcessTypeApprovalModalContainer').on('click', '#Close', function () {
                $('#detailsProcessTypeApprovalModal').modal('hide'); // Close the modal directly
                // detailsitional logic if needed
            });

            // actions ProcessTypeApproval modal popup
            $('.actionsProcessTypeApprovalLink').click(function (e) {
                e.preventDefault();
                var ProcessTypeApprovalId = $(this).data('id');
                $.get('@Url.Action("actions", "ApprovalsRequest")', { id: ProcessTypeApprovalId }, function (data) {
                    $('#actionsProcessTypeApprovalModalContainer').html(data);
                    $('#actionsProcessTypeApprovalModal').modal('show');
                });
            });
            $('#actionsProcessTypeApprovalModalContainer').on('click', '#Approved', function () {
                var formData = new FormData($('#actionsProcessTypeApprovalForm')[0]); // Create FormData object from the form

                $.ajax({
                    url: '@Url.Action("Approved", "ApprovalsRequest")',
                    type: 'POST',
                    data: formData,
                    contentType: false, // Important for file upload
                    processData: false, // Prevent jQuery from automatically transforming the data into a query string
                    success: function (response) {
                        if (response.success) {
                            // Reload the page or update the part of the page with the updated data
                            
                        } else {
                            showError
                            // You can display errors here
                        }
                    },
                    error: function (xhr, status, error) {
                        // Handle error
                        console.log("Error occurred while uploading file:", error);
                    }
                });
            });
            $('#actionsProcessTypeApprovalModalContainer').on('click', '#Reject', function () {
                var formData = $('#actionsProcessTypeApprovalForm').serialize();
                $.post('@Url.Action("Reject", "ApprovalsRequest")', formData, function (response) {
                    if (response.success) {
                        // Reload the page or update the part of the page with the updated data
                        
                    } else {
                        showError
                    }
                });
            });
            // Close Modal actions Contrainer
            $('#actionsProcessTypeApprovalModalContainer').on('click', '#Close', function () {
                $('#actionsProcessTypeApprovalModal').modal('hide'); // Close the modal directly
                // actionsitional logic if needed
            });

            // Delete ProcessTypeApproval
            $('.deleteProcessTypeApprovalLink').click(function (e) {
                e.preventDefault();
                var ProcessTypeApprovalId = $(this).data('id');
                $.post('@Url.Action("Delete", "ProcessTypeApproval")', { id: ProcessTypeApprovalId }, function (response) {
                    if (response.success) {
                        
                    } else {
                        showError
                    }
                });
            });

            // Print functionality
            $('#printButton').click(function () {
                window.print();
            });
            $.widget("custom.autocomplete", $.ui.autocomplete, {
                _renderItem: function (ul, item) {
                    return $("<li>")
                        .append(item.label)  // Render the HTML content in `label`
                        .appendTo(ul);
                }
            });


            $("#searchEmployeeInput").autocomplete({
                source: function (request, response) {

                    $.ajax({
                        url: '@Url.Action("GetEmployeeSuggestions", "Employee")', // Ensure this matches the C# method
                        type: 'GET',
                        data: { term: request.term },
                        success: function (data) {

                            response($.map(data, function (item) {
                                return {
                                    label: item.label,  // HTML content to be displayed in suggestions
                                    id: item.id,     // Employee ID for the hidden input
                                    name: item.name,      // Full name to be used in the input field
                                    value: item.name
                                };
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    
                    // Set the selected employee's ID and name
                    $("#EmployeeID").val(ui.item.id); // Set the hidden input for Employee ID
                    $("#searchEmployeeInput").val(ui.item.name); // Set the input field for Employee Name
                }
            });

        });
    </script>
    <script>
        function printProcessTypeApprovals() {
            var printWindow = window.open('@Url.Action("Print", "ProcessApprovalDetail")', '_blank');
            printWindow.focus();
        }
        function searchRecord() {
            var printWindow = window.open('@Url.Action("Index", "ProcessApprovalDetail")', '_blank');
            printWindow.focus();
        }
    </script>
}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">@Localizer["lbl_Reports"]  /</span> @Localizer["lbl_ProcessApprovals"]
</h4>
@Html.Partial("~/Views/HR/Reports/ProcessApprovalDetail/_ProcessApprovalDetailSearching.cshtml", Model)
<br />
@Html.Partial("~/Views/HR/Reports/ProcessApprovalDetail/_ProcessApprovalDetail.cshtml", Model)
<!-- Include the modal partial -->
<div id="approvalsProcessTypeApprovalModalContainer"></div>
<div id="detailsProcessTypeApprovalModalContainer"></div>
<div id="actionsProcessTypeApprovalModalContainer"></div>
